Repository GoogleChrome/developer.chrome.com, pull requests merged in 2021-02, with the labels that each got.

#368 [DNR] Fix part of the documentation that was not updated for global rules
  site/en/docs/extensions/reference/declarativeNetRequest/index.md
Labels: extensions

#387 Rework background/service worker content
  redirects.yaml
  site/en/docs/extensions/mv2/migrating_to_service_workers/index.md
  site/en/docs/extensions/mv3/background_migration/index.md
  site/en/docs/extensions/mv3/background_pages/index.md
  site/en/docs/extensions/mv3/migrating_to_service_workers/index.md
Labels: extensions

#427 simplify types parser due to chrome-types update
  site/_data/chromeApiNamespaces.js
  site/en/docs/extensions/reference/types/index.md
  tools/types/build.js
  tools/types/helpers.js
Labels: DO NOT MERGE

#378 Post: Hardware Accelerated Animations Updates
  site/_data/authorsData.json
  site/en/blog/hardware-accelerated-animations/index.md
Labels: Chrome89
