Repository GoogleChrome/developer.chrome.com, pull requests merged in 2021-12, with the labels that each got.

#1744 Fix EN typos in KR translation
  site/_includes/partials/devtools/en/whats-new.md
  site/_includes/partials/devtools/ko/whats-new.md
  site/ko/blog/new-in-devtools-96/index.md
Labels: cla: yes

#1796 Explicitly list settings that are not synced
  site/en/docs/devtools/customize/index.md
Labels: reviewers: devtools, cla: yes

#1801 Fix version link in Minimum Chrome Version
  site/en/docs/extensions/mv3/manifest/minimum_chrome_version/index.md
Labels: extensions, cla: yes

#1789 Fixed link in Attribution Reporting Status overview
  site/en/docs/privacy-sandbox/attribution-reporting-introduction/index.md
Labels: cla: yes

#1757 Tutorial for identifying a user using the Google OAuth2/OpenID endpoint
  site/_includes/partials/extensions/reusing-prod-extension-id.md
  site/en/docs/webstore/identify_user/index.md
Labels: P2, extensions, cla: yes

#1807 Add steps and updated date to identifying a user
  site/en/docs/webstore/identify_user/index.md
Labels: extensions, cla: yes

#1814 [devtools-translate] Portuguese - What's New in DevTools (Chrome 97) #1708
  site/_includes/partials/devtools/pt/whats-new.md
  site/pt/blog/new-in-devtools-97/index.md
Labels: reviewers: devtools, cla: yes, devtools-translate

#1798 [devtools-translate] Japanese - What's New in DevTools (Chrome 97)
  site/_includes/partials/devtools/ja/whats-new.md
  site/ja/blog/new-in-devtools-97/index.md
Labels: reviewers: devtools, cla: yes, devtools-translate

#1811 Fix a typo in CSS-in-JS support in DevTools post
  site/en/blog/css-in-js/index.md
Labels: reviewers: devtools, cla: yes

#1764 CUJ Tweaks for I want to receive proactive guidance of best practices
  site/en/docs/webstore/best_listing/index.md
  site/en/docs/webstore/best_practices/index.md
Labels: extensions, cla: yes

#1820 Tweaks for CWS CUJ "I want to publish an item with mature content"
  site/_data/docs/webstore/toc.yml
  site/en/docs/webstore/cws-dashboard-listing/index.md
  site/en/docs/webstore/program_policies/index.md
  site/en/docs/webstore/rating/index.md
  site/en/docs/webstore/troubleshooting/index.md
Labels: P2, extensions

#1835 Expand on "Content Download" Network DevTools docs
  site/en/docs/devtools/network/reference/index.md
Labels: reviewers: devtools

#1800 Update index.md: Updated WebID content to FedCM
  site/en/docs/privacy-sandbox/faq/index.md
Labels: cla: yes

#1831 Document the Chrome Web Store review process
  site/_data/docs/webstore/toc.yml
  site/en/docs/extensions/whatsnew/index.md
  site/en/docs/webstore/review-process/index.md
Labels: extensions

#1822 Adds even more workbox docs
  site/_data/docs/workbox/toc.yml
  site/_data/i18n/docs/workbox.yml
  site/en/docs/workbox/access-caches-from-the-window/index.md
  site/en/docs/workbox/caching-resources-during-runtime/index.md
  site/en/docs/workbox/forcing-a-network-timeout/index.md
  site/en/docs/workbox/handling-service-worker-updates/index.md
  site/en/docs/workbox/managing-fallback-responses/index.md
  site/en/docs/workbox/modules/workbox-sw/index.md
  site/en/docs/workbox/retrying-requests-when-back-online/index.md
  site/en/docs/workbox/serving-cached-audio-and-video/index.md
  site/en/docs/workbox/troubleshooting-and-logging/index.md
  site/en/docs/workbox/using-workbox-window/index.md
Labels: docs

#1817 [devtools-translate] Russian - What's New in DevTools (Chrome 97)
  site/_includes/partials/devtools/ru/whats-new.md
  site/ru/blog/new-in-devtools-97/index.md
Labels: reviewers: devtools, cla: yes, devtools-translate

#1818 [devtools-translate] Spanish - What's New in DevTools (Chrome 97)
  site/_includes/partials/devtools/es/whats-new.md
  site/es/blog/new-in-devtools-97/index.md
Labels: reviewers: devtools, cla: yes, devtools-translate

#1812 [devtools-translate] Korean - What's new in DevTools (Chrome 97)
  site/_includes/partials/devtools/ko/whats-new.md
  site/ko/blog/new-in-devtools-97/index.md
Labels: reviewers: devtools, cla: yes, devtools-translate

#1867 [Remote debugging] Add trust step
  site/en/docs/devtools/remote-debugging/index.md
Labels: reviewers: devtools

#1872 Link to the Chrome Web Store review process docs
  site/en/docs/webstore/cws-dashboard-distribution/index.md
  site/en/docs/webstore/faq/index.md
  site/en/docs/webstore/manage/index.md
  site/en/docs/webstore/publish/index.md
  site/en/docs/webstore/update/index.md
Labels: extensions

#1871 typo in example code
  site/en/blog/mv3-actions/index.md
Labels: extensions
