Repository GoogleChrome/developer.chrome.com, pull requests merged in 2021-04, with the labels that each got.

#600 Restore typography in CVD write-up
  site/en/blog/cvd/index.md
Labels: reviewers: devtools

#621 [devtools-blog] DevTools architecture refresh: migrating DevTools to TypeScript
  site/en/blog/migrating-to-typescript/index.md
Labels: reviewers: devtools

#618 edits to ttsEngine page
  site/en/docs/extensions/reference/ttsEngine/index.md
Labels: extensions

#596 Update Storage API examples
  site/en/docs/extensions/mv2/content_scripts/index.md
  site/en/docs/extensions/reference/storage/index.md
Labels: chore, extensions

#626 [devtools] Add video
  site/en/blog/new-in-devtools-90/index.md
Labels: reviewers: devtools

#634 New in Chrome 90
  site/en/blog/new-in-chrome-90/index.md
Labels: DO NOT MERGE

#609 Service worker migration cleanup
  site/en/docs/extensions/mv3/migrating_to_service_workers/index.md
Labels: chore, extensions

#671 [devtools-blog] What's New in DevTools 91
  site/en/blog/new-in-devtools-91/index.md
  site/en/docs/devtools/updates/index.md
Labels: reviewers: devtools

#672 [devtools-blog] Change demo url
  site/en/blog/new-in-devtools-91/index.md
Labels: reviewers: devtools

#673 [devtools-blog] Update typo
  site/en/blog/new-in-devtools-91/index.md
Labels: reviewers: devtools

#677 [devtools-blog] Accent color experimental
  site/en/blog/new-in-devtools-91/index.md
Labels: reviewers: devtools

#617 Runtime API examples
  site/en/docs/extensions/reference/runtime/index.md
Labels: extensions

#563 Examples of common Tabs API operations
  site/en/docs/extensions/reference/tabs/index.md
Labels: extensions

#687 Update links to reference MV3 docs
  site/en/docs/extensions/reference/devtools_inspectedWindow/index.md
  site/en/docs/extensions/reference/devtools_network/index.md
  site/en/docs/extensions/reference/devtools_panels/index.md
Labels: extensions

#703 Fixes broken links in TWA Overview
  site/en/docs/android/trusted-web-activity/overview/index.md
Labels: bug

#710 [devtools] Memory inspector documentation
  site/_data/docs/devtools/toc.yml
  site/en/blog/new-in-devtools-91/index.md
  site/en/docs/devtools/memory-inspector/index.md
Labels: reviewers: devtools

#713 Typo fix
  site/en/docs/extensions/reference/devtools_panels/index.md
Labels: extensions
