Repository GoogleChrome/developer.chrome.com, pull requests merged in 2022-07, with the labels that each got.

#3090 GDG card
  site/_includes/icons/gdg.svg
  site/_includes/layouts/home.njk
  site/_includes/partials/featured-gdg-card.njk
Labels: DO NOT MERGE

#3138 Added Alina Varkki as an author
  site/_data/authorsData.json
  site/_data/i18n/authors.yaml
Labels: reviewers: devtools

#3132 DevTools 97 > Device mode
  site/en/docs/devtools/device-mode/index.md
Labels: reviewers: devtools, devtools

#3137 DevTools 97 > Elements > Edit as HTML + autocomplete
  site/en/docs/devtools/dom/index.md
Labels: reviewers: devtools, devtools

#3139 Update topics properties to match current implementation
  site/en/docs/privacy-sandbox/topics/index.md
Labels: content update, privacy-sandbox

#3136 Removes the navigation preload blog post and redirects to the web.dev version.
  redirects.yaml
  site/en/blog/navigation-preload/index.md
Labels: P2, content

#3147 New headshot for #3069
  site/_data/authorsData.json
Labels: content update

#3148 Adds signed exchanges for desktop blog post.
  site/_data/authorsData.json
  site/_data/i18n/authors.yaml
  site/en/blog/sxg-desktop/index.md
Labels: P1, content

#3154 Fixes an error in the SXG desktop article.
  site/en/blog/sxg-desktop/index.md
Labels: P0, content update

#3153 [devtools] Fix 404 links
  site/en/blog/devtools-digest-2016-09/index.md
  site/en/blog/foreign-fetch/index.md
  site/en/blog/new-in-devtools-75/index.md
  site/en/blog/new-in-devtools-85/index.md
  site/en/docs/devtools/changes/index.md
  site/en/docs/devtools/javascript/snippets/index.md
  site/en/docs/devtools/javascript/sources/index.md
  site/en/docs/devtools/storage/indexeddb/index.md
Labels: reviewers: devtools, devtools

#3150 Update description for Fenced Frames cross-site data access
  site/en/docs/privacy-sandbox/fenced-frame/index.md
Labels: content update, privacy-sandbox

#3158 Progress in the Privacy Sandbox 2022/05-06 blog
  site/en/blog/progress-in-the-privacy-sandbox-2022-06/index.md
Labels: content

#3064 [ext-docs] Add "Has warning" to Chrome API reference metadata
  site/_includes/layouts/namespace-reference.njk
  site/en/docs/extensions/reference/bookmarks/index.md
  site/en/docs/extensions/reference/browserAction/index.md
  site/en/docs/extensions/reference/browsingData/index.md
  site/en/docs/extensions/reference/contentSettings/index.md
  site/en/docs/extensions/reference/debugger/index.md
  site/en/docs/extensions/reference/declarativeNetRequest/index.md
  site/en/docs/extensions/reference/declarativeWebRequest/index.md
  site/en/docs/extensions/reference/desktopCapture/index.md
  site/en/docs/extensions/reference/downloads/index.md
  site/en/docs/extensions/reference/fontSettings/index.md
  site/en/docs/extensions/reference/history/index.md
  site/en/docs/extensions/reference/input_ime/index.md
  site/en/docs/extensions/reference/management/index.md
  site/en/docs/extensions/reference/notifications/index.md
  site/en/docs/extensions/reference/omnibox/index.md
  site/en/docs/extensions/reference/pageAction/index.md
  site/en/docs/extensions/reference/pageCapture/index.md
  site/en/docs/extensions/reference/permissions/index.md
  site/en/docs/extensions/reference/privacy/index.md
  site/en/docs/extensions/reference/proxy/index.md
  site/en/docs/extensions/reference/storage/index.md
  site/en/docs/extensions/reference/system_storage/index.md
  site/en/docs/extensions/reference/tabCapture/index.md
  site/en/docs/extensions/reference/tabs/index.md
  site/en/docs/extensions/reference/topSites/index.md
  site/en/docs/extensions/reference/ttsEngine/index.md
  site/en/docs/extensions/reference/wallpaper/index.md
  site/en/docs/extensions/reference/webNavigation/index.md
  site/en/docs/extensions/reference/webRequest/index.md
  site/en/docs/extensions/reference/windows/index.md
  types/site/_data/postsData.d.ts
Labels: extensions

#3195 Move DevTools articles to blog
  redirects.yaml
  site/en/blog/faster-wasm-debugging/index.md
  site/en/blog/performance-insights/index.md
Labels: reviewers: devtools

#3227 [devtools] Update YT link
  site/en/docs/devtools/rendering/emulate-css/index.md
Labels: reviewers: devtools, devtools

#3078 Add CrUX Documentation
  site/_data/authorsData.json
  site/_data/docs/crux/toc.yml
  site/_data/docs/projects.yml
  site/_data/i18n/authors.yaml
  site/_data/i18n/tags.yml
  site/_static/images/project/crux.svg
  site/en/docs/crux/about/index.md
  site/en/docs/crux/api/index.md
  site/en/docs/crux/bigquery/index.md
  site/en/docs/crux/index.md
  site/en/docs/crux/methodology/index.md
  site/en/docs/crux/release-notes/index.md
Labels: content

#3221 [JA] Translate Progress in the Privacy Sandbox 2022-06 into Japanese
  site/ja/blog/progress-in-the-privacy-sandbox-2022-06/index.md
Labels: translation

#3226 Translation tweaks for a Privacy Sandbox article
  site/ja/blog/progress-in-the-privacy-sandbox-2022-04/index.md
Labels: i18n, privacy-sandbox

#3246 Broken markdown for PS
  site/en/docs/privacy-sandbox/attribution-reporting/summary-reports/index.md
Labels: content update, privacy-sandbox

#3244 Add information about accessing the Topics API model file and colab
  site/en/docs/privacy-sandbox/topics/index.md
Labels: privacy-sandbox

#3258 [CRX] Refactor permissions warning
  site/_includes/layouts/namespace-reference.njk
  site/en/docs/extensions/reference/bookmarks/index.md
  site/en/docs/extensions/reference/contentSettings/index.md
  site/en/docs/extensions/reference/debugger/index.md
  site/en/docs/extensions/reference/declarativeNetRequest/index.md
  site/en/docs/extensions/reference/desktopCapture/index.md
  site/en/docs/extensions/reference/downloads/index.md
  site/en/docs/extensions/reference/history/index.md
  site/en/docs/extensions/reference/management/index.md
  site/en/docs/extensions/reference/notifications/index.md
  site/en/docs/extensions/reference/pageCapture/index.md
  site/en/docs/extensions/reference/privacy/index.md
  site/en/docs/extensions/reference/proxy/index.md
  site/en/docs/extensions/reference/system_storage/index.md
  site/en/docs/extensions/reference/tabCapture/index.md
  site/en/docs/extensions/reference/topSites/index.md
  site/en/docs/extensions/reference/ttsEngine/index.md
  site/en/docs/extensions/reference/webNavigation/index.md
Labels: extensions

#3164 [devtools-engineering] Added an article about top layer DevTools support
  site/en/blog/top-layer-devtools/index.md
Labels: reviewers: devtools, content, devtools

#3238 [devtools-translate] Japanese - What's New in DevTools (Chrome 104)
  site/_includes/partials/devtools/ja/whats-new.md
  site/ja/blog/new-in-devtools-104/index.md
Labels: devtools-translate, translation

#3224 [devtools-translate] Portuguese - What's New in DevTools (Chrome 104)
  site/_includes/partials/devtools/pt/whats-new.md
  site/pt/blog/new-in-devtools-104/index.md
Labels: reviewers: devtools, devtools-translate, translation

#3298 Attribution reporting translation for Japanese
  site/ja/blog/attribution-reporting-jan-2022-updates/index.md
  site/ja/docs/privacy-sandbox/attribution-reporting/summary-reports/index.md
Labels: translation

#3301 Fix typo & rewrap
  site/en/docs/webstore/i18n/index.md
Labels: content update

#3232 New Blog Post - Help CSS nesting pick syntax
  site/_data/authorsData.json
  site/_data/i18n/authors.yaml
  site/en/blog/help-css-nesting/index.md
Labels: content

#3306 [JA] Update translation for Proposal Lifecycle
  site/ja/docs/privacy-sandbox/proposal-lifecycle/index.md
Labels: translation

#3320 Privacy Sandbox translation updates JA
  site/ja/docs/privacy-sandbox/chips/index.md
  site/ja/docs/privacy-sandbox/fledge/index.md
Labels: translation

#1799 Privacy Sandbox new FAQ - Does SameSite become irrelevant after the third-party cookie deprecation?
  site/en/docs/privacy-sandbox/faq/index.md
Labels: cla: yes, privacy-sandbox

#3329 [devtools] Add WNDT 104 video link
  site/en/blog/new-in-devtools-104/index.md
  site/ja/blog/new-in-devtools-104/index.md
  site/ko/blog/new-in-devtools-104/index.md
  site/pt/blog/new-in-devtools-104/index.md
Labels: reviewers: devtools

#3284 Console API reference refresh
  site/en/docs/devtools/console/api/index.md
  site/en/docs/devtools/console/log/index.md
  site/en/docs/devtools/console/reference/index.md
Labels: devtools

#3228 DevTools 104 > Sources > Restart frame
  site/en/docs/devtools/javascript/reference/index.md
Labels: DO NOT MERGE, reviewers: devtools

#3145 DevTools > Network reference refresh
  site/en/docs/devtools/network/reference/index.md
Labels: reviewers: devtools, devtools

#3314 UA reduction support for critical hints
  site/en/docs/privacy-sandbox/user-agent/index.md
Labels: content update, privacy-sandbox

#3321 DevTools Tips 11: How to log messages in the Console
  site/en/blog/devtools-tips-11/index.md
Labels: DO NOT MERGE, devtools

#3337 [devtools] Include console api video
  site/en/docs/devtools/console/index.md
Labels: reviewers: devtools, devtools

#3338 [devtools] Include a helpful DevTools Tip video
  site/en/docs/devtools/open/index.md
Labels: devtools

#3251 Fix indentation for consistency
  site/en/docs/devtools/javascript/breakpoints/index.md
Labels: content update
