Repository GoogleChrome/developer.chrome.com, pull requests merged in 2022-02, with the labels that each got.

#2060 Adds Workbox plugins doc.
  site/_data/docs/workbox/toc.yml
  site/en/docs/workbox/using-plugins/index.md
Labels: P2, docs, workbox

#2056 Correction to article name
  site/en/docs/privacy-sandbox/fledge/index.md
Labels: docs

#2069 Add deprecations/remvoals for Chrome 99.
  site/en/blog/deps-rems-99/index.md
Labels: content update

#2014 Tweaks for CWS CUJ "I want to know about alternative extension installation methods"
  site/en/docs/extensions/mv3/external_extensions/index.md
Labels: extensions

#2029 [devtools-translate] Spanish - What's New in DevTools (Chrome 98)
  site/es/blog/new-in-devtools-98/index.md
Labels: reviewers: devtools, devtools-translate

#2006 [devtools-translate] Korean - What's New in DevTools (Chrome 98)
  site/ko/blog/new-in-devtools-98/index.md
Labels: reviewers: devtools, devtools-translate

#2087 Remove item that did not ship.
  site/en/blog/deps-rems-99/index.md
Labels: docs, content update

#1975 [devtools-translate] Russian - What's New in DevTools (Chrome 98)
  site/_includes/partials/devtools/ru/whats-new.md
  site/ru/blog/new-in-devtools-98/index.md
Labels: reviewers: devtools, devtools-translate

#2102 [devtools-blog] Remove draft
  site/ko/blog/new-in-devtools-98/index.md
Labels: reviewers: devtools

#2107 Remove inaccurate line regarding extension SW lifetimes
  site/en/docs/extensions/mv3/service_workers/index.md
Labels: extensions

#2103 Clarified docs to address developer questions
  site/en/docs/privacy-sandbox/attribution-reporting-changes-january-2022/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-introduction/index.md
Labels: content update

#2115 Update index.md
  site/en/docs/devtools/coverage/index.md
Labels: reviewers: devtools

#1950 Clarify UA Reduction OT enrollment for third-parties
  site/en/blog/user-agent-reduction-origin-trial/index.md
Labels: content update

#2125 Adds video embeds to Workbox docs, updates links to the "Using Plugins" guide.
  site/en/docs/workbox/caching-resources-during-runtime/index.md
  site/en/docs/workbox/caching-strategies-overview/index.md
  site/en/docs/workbox/managing-fallback-responses/index.md
  site/en/docs/workbox/modules/workbox-background-sync/index.md
  site/en/docs/workbox/modules/workbox-strategies/index.md
  site/en/docs/workbox/navigation-preload/index.md
  site/en/docs/workbox/precaching-with-workbox/index.md
  site/en/docs/workbox/retrying-requests-when-back-online/index.md
  site/en/docs/workbox/using-plugins/index.md
Labels: P2, workbox, content update

#2127 Add Chips post
  site/_data/docs/privacy-sandbox/toc.yml
  site/en/docs/privacy-sandbox/chips/index.md
Labels: DO NOT MERGE

#2134 Add summary reports landing page
  site/_data/docs/privacy-sandbox/toc.yml
  site/_data/i18n/docs/privacy-sandbox.yml
  site/en/docs/privacy-sandbox/attribution-reporting/summary-reports/index.md
  site/en/docs/privacy-sandbox/glossary/index.md
Labels: content

#2120 Add recent extensions platform changes
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#2119 Normalize format of titles and dates in extensions What's New page
  site/en/blog/extension-manifest-converter/index.md
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#2071 Describe conventions used in CRX docs
  site/_data/docs/handbook/toc.yml
  site/en/docs/handbook/extensions/index.md
Labels: extensions

#2133 Fix typo
  site/en/docs/devtools/console/reference/index.md
Labels: reviewers: devtools

#2147 [devtools] console format and style documentation
  site/_data/docs/devtools/toc.yml
  site/en/docs/devtools/console/format-style/index.md
  site/en/docs/devtools/console/javascript/index.md
  site/en/docs/devtools/console/log/index.md
Labels: reviewers: devtools

#2148 [devtools] What's New in DevTools (Chrome 99)
  site/_includes/partials/devtools/en/whats-new.md
  site/en/blog/new-in-devtools-99/index.md
Labels: reviewers: devtools

#2149 [devtools] What's New in DevTools (Chrome 99) translation starter
  site/en/blog/new-in-devtools-99/index.md
  site/es/blog/new-in-devtools-99/index.md
  site/ja/blog/new-in-devtools-99/index.md
  site/ko/blog/new-in-devtools-98/index.md
  site/ko/blog/new-in-devtools-99/index.md
  site/pt/blog/new-in-devtools-99/index.md
  site/ru/blog/new-in-devtools-99/index.md
  site/zh/blog/new-in-devtools-99/index.md
Labels: reviewers: devtools

#2156 [devtools] Update WNDT What's New list
  site/_includes/partials/devtools/en/whats-new.md
  site/_includes/partials/devtools/es/whats-new.md
  site/_includes/partials/devtools/ja/whats-new.md
  site/_includes/partials/devtools/ko/whats-new.md
  site/_includes/partials/devtools/pt/whats-new.md
  site/_includes/partials/devtools/ru/whats-new.md
  site/_includes/partials/devtools/zh/whats-new.md
  site/es/blog/new-in-devtools-98/index.md
  site/ko/blog/new-in-devtools-98/index.md
Labels: devtools-translate

#2158 [devtools] Add CSS Grid DevTools tips video
  site/en/docs/devtools/css/grid/index.md
Labels: reviewers: devtools

#2159 [devtools] Fix broken links and typo
  site/en/blog/new-in-devtools-99/index.md
  site/es/blog/new-in-devtools-99/index.md
  site/ja/blog/new-in-devtools-99/index.md
  site/ko/blog/new-in-devtools-99/index.md
  site/pt/blog/new-in-devtools-99/index.md
  site/ru/blog/new-in-devtools-99/index.md
  site/zh/blog/new-in-devtools-99/index.md
Labels: reviewers: devtools

#2162 [devtools] Fix content sequence
  site/en/blog/new-in-devtools-99/index.md
  site/es/blog/new-in-devtools-99/index.md
  site/ja/blog/new-in-devtools-99/index.md
  site/ko/blog/new-in-devtools-99/index.md
  site/pt/blog/new-in-devtools-99/index.md
  site/ru/blog/new-in-devtools-99/index.md
  site/zh/blog/new-in-devtools-99/index.md
Labels: reviewers: devtools

#2185 [devtools-translate] Portuguese - What's New in DevTools (Chrome 99) …
  site/_includes/partials/devtools/pt/whats-new.md
  site/pt/blog/new-in-devtools-99/index.md
Labels: devtools-translate
