Repository GoogleChrome/developer.chrome.com, pull requests merged in 2022-03, with the labels that each got.

#2168 Adds a link to Workbox on the docs landing page.
  site/_data/docs/projects.yml
Labels: P1, workbox

#2222 Cleanup of Workbox build examples
  site/en/docs/workbox/modules/workbox-build/index.md
  site/en/docs/workbox/modules/workbox-cli/index.md
  site/en/docs/workbox/modules/workbox-webpack-plugin/index.md
Labels: workbox, content update

#2186 [devtools-translate] Japanese - What's New in DevTools (Chrome 99)
  site/_includes/partials/devtools/ja/whats-new.md
  site/ja/blog/new-in-devtools-99/index.md
Labels: devtools-translate

#2203 Update lost links and anchors
  site/en/docs/devtools/overview/index.md
Labels: reviewers: devtools

#2223 Updates a few more reference docs links from d.g.c to d.c.c.
  site/en/docs/workbox/modules/workbox-precaching/index.md
  site/en/docs/workbox/modules/workbox-sw/index.md
  site/en/docs/workbox/precaching-with-workbox/index.md
  site/en/docs/workbox/troubleshooting-and-logging/index.md
Labels: P1, workbox, content update

#2230 Privacy Sandbox: Gnatcatcher and Privacy Budget overviews
  site/_data/docs/privacy-sandbox/toc.yml
  site/en/docs/privacy-sandbox/gnatcatcher/index.md
  site/en/docs/privacy-sandbox/privacy-budget/index.md
Labels: content

#2161 Fenced Frame API landing page
  site/_data/authorsData.json
  site/_data/docs/privacy-sandbox/toc.yml
  site/_data/i18n/authors.yaml
  site/en/docs/privacy-sandbox/fenced-frame/index.md
Labels: content

#2242 [devtools-translate] Spanish - What's New in DevTools (Chrome 99)
  site/_includes/partials/devtools/es/whats-new.md
  site/en/blog/new-in-devtools-99/index.md
  site/es/blog/new-in-devtools-99/index.md
  site/ko/blog/new-in-devtools-99/index.md
  site/ru/blog/new-in-devtools-99/index.md
  site/zh/blog/new-in-devtools-99/index.md
Labels: reviewers: devtools, devtools-translate

#2247 [devtools] Update M99 video link
  site/en/blog/new-in-devtools-99/index.md
  site/es/blog/new-in-devtools-99/index.md
  site/ja/blog/new-in-devtools-99/index.md
  site/pt/blog/new-in-devtools-99/index.md
  site/ru/blog/new-in-devtools-99/index.md
Labels: reviewers: devtools

#2243 [Private Network Access] Mention delay in preflight blog post.
  site/en/blog/private-network-access-preflight/index.md
Labels: content update

#2211 [devtools-translate] Chinese - What's New in DevTools (Chrome 99)
  site/_includes/partials/devtools/zh/whats-new.md
  site/zh/blog/new-in-devtools-99/index.md
Labels: reviewers: devtools, devtools-translate

#2246 [devtools] What's New in DevTools (Chrome 100)
  site/_includes/partials/devtools/en/whats-new.md
  site/_includes/partials/devtools/es/whats-new.md
  site/_includes/partials/devtools/ja/whats-new.md
  site/_includes/partials/devtools/ko/whats-new.md
  site/_includes/partials/devtools/pt/whats-new.md
  site/_includes/partials/devtools/ru/whats-new.md
  site/_includes/partials/devtools/zh/whats-new.md
  site/en/blog/new-in-devtools-100/index.md
  site/es/blog/new-in-devtools-100/index.md
  site/ja/blog/new-in-devtools-100/index.md
  site/ko/blog/new-in-devtools-100/index.md
  site/pt/blog/new-in-devtools-100/index.md
  site/ru/blog/new-in-devtools-100/index.md
  site/zh/blog/new-in-devtools-100/index.md
Labels: reviewers: devtools, content

#2249 Link to Workbox GH project
  site/_data/docs/workbox/toc.yml
  site/_data/i18n/docs/workbox.yml
  site/en/docs/workbox/workbox.11tydata.js
Labels: content

#2166 Fix typo 'default_icons' -> 'default_icon'
  site/en/docs/extensions/mv3/getstarted/index.md
Labels: extensions

#2238 [devtools-translate] Korean - What's New in DevTools (Chrome 99)
  site/_includes/partials/devtools/ko/whats-new.md
  site/ko/blog/new-in-devtools-99/index.md
Labels: reviewers: devtools, devtools-translate

#2312 "Emulate CSS media type" to match DevTools UI
  site/en/docs/devtools/css/print-preview/index.md
Labels: reviewers: devtools

#2352 Migrates Workbox migration guides from d.g.c.
  site/_data/docs/workbox/migration/styles.yml
  site/_data/docs/workbox/migration/toc.yml
  site/_data/docs/workbox/toc.yml
  site/_data/i18n/docs/migration.yml
  site/_data/i18n/docs/workbox.yml
  site/_static/images/project/workbox-migration.svg
  site/en/docs/workbox/migration/index.md
  site/en/docs/workbox/migration/migrate-from-sw/index.md
  site/en/docs/workbox/migration/migrate-from-v2/index.md
  site/en/docs/workbox/migration/migrate-from-v3/index.md
  site/en/docs/workbox/migration/migrate-from-v4/index.md
  site/en/docs/workbox/migration/migrate-from-v5/index.md
  site/en/docs/workbox/migration/migration.11tydata.js
Labels: P1, workbox, content update

#2368 Migrates the "Understanding Storage Quota" doc from d.g.c.
  site/_data/docs/workbox/toc.yml
  site/en/docs/workbox/understanding-storage-quota/index.md
Labels: P2, docs, workbox, content

#2306 [devtools-translate] Portuguese - What's New in DevTools (Chrome 100) #2268
  site/_includes/partials/devtools/pt/whats-new.md
  site/pt/blog/new-in-devtools-100/index.md
Labels: reviewers: devtools, devtools-translate

#2385 Restructured table of contents of DevTools docs: list of tools
  site/_data/docs/devtools/toc.yml
  site/_data/i18n/docs/devtools.yml
  site/en/docs/devtools/coverage/index.md
  site/en/docs/devtools/css-overview/index.md
  site/en/docs/devtools/css/animations/index.md
  site/en/docs/devtools/css/print-preview/index.md
  site/en/docs/devtools/customize/index.md
  site/en/docs/devtools/device-mode/override-user-agent/index.md
  site/en/docs/devtools/issues/index.md
  site/en/docs/devtools/media-panel/index.md
  site/en/docs/devtools/memory-inspector/index.md
  site/en/docs/devtools/recorder/index.md
  site/en/docs/devtools/security/index.md
  site/en/docs/devtools/speed/get-started/index.md
  site/en/docs/devtools/webauthn/index.md
Labels: reviewers: devtools

#2283 docs: update broken links
  site/en/docs/devtools/overview/index.md
Labels: reviewers: devtools, devtools

#2400 [devtools] Add WNDT Chrome 100 video link
  site/en/blog/new-in-devtools-100/index.md
  site/ja/blog/new-in-devtools-100/index.md
  site/pt/blog/new-in-devtools-100/index.md
  site/zh/blog/new-in-devtools-100/index.md
Labels: reviewers: devtools

#2405 Add two more tags to DevTools docs
  site/en/docs/devtools/css/print-preview/index.md
  site/en/docs/devtools/recorder/index.md
Labels: reviewers: devtools

#2344 [devtools-translate] Korean - What's New in DevTools (Chrome 100)
  site/_includes/partials/devtools/ko/whats-new.md
  site/ko/blog/new-in-devtools-100/index.md
Labels: reviewers: devtools

#2431 [devtools] Fix incorrect header tag
  site/en/blog/new-in-devtools-99/index.md
  site/es/blog/new-in-devtools-99/index.md
  site/ja/blog/new-in-devtools-99/index.md
  site/ko/blog/new-in-devtools-99/index.md
  site/pt/blog/new-in-devtools-99/index.md
  site/ru/blog/new-in-devtools-99/index.md
Labels: reviewers: devtools

#2274 Clarify instructions for "Keeping a consistent key"
  site/_includes/partials/extensions/reusing-prod-extension-id.md
Labels: extensions

#2279 [devtools-translate] Spanish - What's New in DevTools (Chrome 100)
  site/_includes/partials/devtools/es/whats-new.md
  site/es/blog/new-in-devtools-100/index.md
Labels: reviewers: devtools, cla: yes, devtools-translate, i18n

#2378 [devtools-translate] Russian - What's New in DevTools (Chrome 100)
  site/_includes/partials/devtools/ru/whats-new.md
  site/ru/blog/new-in-devtools-100/index.md
Labels: reviewers: devtools, devtools-translate

#2446 [devtools] Update image to stable
  site/en/blog/new-in-devtools-100/index.md
Labels: reviewers: devtools

#2452 Replace heart icons with like-icon
  server/index.js
  site/_includes/layouts/chrome-100.njk
  site/_includes/layouts/home.njk
  site/_includes/partials/chrome-100-card-section.njk
  site/_js/web-components/like-icon.js
  site/_scss/blocks/_card-section.scss
  site/_scss/blocks/like-icon.scss
  site/_scss/chrome-main.scss
  site/en/100/index.md
Labels: DO NOT MERGE

#2226 Fix a few broken links in extensions documentation
  redirects.yaml
  site/en/docs/apps/event_pages/index.md
  site/en/docs/extensions/mv3/devtools/index.md
Labels: extensions

#2450 [devtools] Performance insights documentation
  site/_data/docs/devtools/toc.yml
  site/en/docs/devtools/performance-insights/index.md
Labels: reviewers: devtools

#2442 Documented @support and properties on hover
  site/en/docs/devtools/css/reference/index.md
  site/en/docs/devtools/javascript/reference/index.md
Labels: reviewers: devtools

#2477 Documented Performance: frame types
  site/en/docs/devtools/evaluate-performance/reference/index.md
Labels: reviewers: devtools

#2484 PS 101/102 testing and origin trial updates
  site/_data/docs/privacy-sandbox/toc.yml
  site/en/blog/fledge-api/index.md
  site/en/blog/privacy-sandbox-unified-origin-trial/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-experiment/index.md
  site/en/docs/privacy-sandbox/attribution-reporting/index.md
  site/en/docs/privacy-sandbox/feedback/index.md
  site/en/docs/privacy-sandbox/fledge-experiment/index.md
  site/en/docs/privacy-sandbox/fledge/index.md
  site/en/docs/privacy-sandbox/topics-experiment/index.md
  site/en/docs/privacy-sandbox/topics/index.md
Labels: content

#2485 Updated for Topics and FLEDGE
  site/en/docs/privacy-sandbox/status/index.md
Labels: content update

#2486 Trust Tokens OT extended to 101
  site/en/docs/privacy-sandbox/status/index.md
  site/en/docs/privacy-sandbox/trust-tokens/index.md
Labels: content update

#2445 [Privacy Sandbox] Proposal lifecycle landing page
  site/_data/docs/privacy-sandbox/toc.yml
  site/_data/i18n/docs/privacy-sandbox.yml
  site/en/docs/privacy-sandbox/cds21-update/index.md
  site/en/docs/privacy-sandbox/proposal-lifecycle/index.md
Labels: content update, content
