Repository GoogleChrome/developer.chrome.com, pull requests merged in 2022-01, with the labels that each got.

#1863 [devtools-translate] Chinese - What's New in DevTools (Chrome 97)
  site/_includes/partials/devtools/zh/whats-new.md
  site/zh/blog/new-in-devtools-97/index.md
Labels: reviewers: devtools, devtools-translate

#1893 Update video for WNDT 97
  site/en/blog/new-in-devtools-97/index.md
  site/es/blog/new-in-devtools-97/index.md
  site/ja/blog/new-in-devtools-97/index.md
  site/ko/blog/new-in-devtools-97/index.md
  site/pt/blog/new-in-devtools-97/index.md
  site/ru/blog/new-in-devtools-97/index.md
  site/zh/blog/new-in-devtools-97/index.md
Labels: reviewers: devtools

#1776 Don't auto-include jpmedley in extensions PRs
  .pullapprove.yml
Labels: cla: yes

#1899 Change video URL and update content typo
  site/_includes/partials/devtools/zh/whats-new.md
  site/en/docs/devtools/recorder/index.md
  site/zh/blog/new-in-devtools-97/index.md
Labels: reviewers: devtools

#1862 [DO NOT MERGE] COLRv1 in Chrome 98 article
  site/_data/authorsData.json
  site/_data/i18n/authors.yaml
  site/_data/i18n/tags.yml
  site/en/blog/colrv1-fonts/index.md
Labels: DO NOT MERGE

#1929 Fix minor grammar issue
  site/en/docs/devtools/recorder/index.md
Labels: cla: yes

#1498 Add deps/rems hero images.
  site/en/blog/deps-rems-89/dep-rem_480.jpg
  site/en/blog/deps-rems-89/index.md
  site/en/blog/deps-rems-90/index.md
  site/en/blog/deps-rems-91/index.md
  site/en/blog/deps-rems-92/index.md
  site/en/blog/deps-rems-93/index.md
  site/en/blog/deps-rems-94/index.md
Labels: cla: yes

#1948 [devtools] What's new in DevTools (Chrome 98)
  site/_includes/partials/devtools/en/whats-new.md
  site/en/blog/new-in-devtools-98/index.md
Labels: reviewers: devtools

#1951 [Workbox] Add a note to the DOMContentLoaded note
  site/en/docs/workbox/modules/workbox-broadcast-update/index.md
Labels: docs

#1955 WNDT 98 translation template
  site/_includes/partials/devtools/es/whats-new.md
  site/_includes/partials/devtools/ja/whats-new.md
  site/_includes/partials/devtools/ko/whats-new.md
  site/_includes/partials/devtools/pt/whats-new.md
  site/_includes/partials/devtools/ru/whats-new.md
  site/_includes/partials/devtools/zh/whats-new.md
  site/en/blog/new-in-devtools-98/index.md
  site/es/blog/new-in-devtools-98/index.md
  site/ja/blog/new-in-devtools-98/index.md
  site/ko/blog/new-in-devtools-98/index.md
  site/pt/blog/new-in-devtools-98/index.md
  site/ru/blog/new-in-devtools-98/index.md
  site/zh/blog/new-in-devtools-98/index.md
Labels: reviewers: devtools

#1904 Add documentation for "match_origin_as_fallback" in content scripts
  site/en/docs/extensions/mv3/content_scripts/index.md
Labels: extensions

#1669 Remove obsolete `chrome_style` key from Manifest V3 manifest.json documentation
  site/en/docs/extensions/mv3/manifest/index.md
Labels: extensions, cla: yes

#1954 Add extension service worker docs to site TOC
  site/_data/docs/extensions/toc.yml
Labels: extensions

#1953 Placeholder cleanup
  site/en/docs/extensions/mv2/architecture-overview/index.md
  site/en/docs/extensions/mv2/content_scripts/index.md
  site/en/docs/extensions/mv2/inline_faq/index.md
  site/en/docs/extensions/mv2/linux_hosting/index.md
  site/en/docs/extensions/mv2/manifest/key/index.md
  site/en/docs/extensions/mv2/override/index.md
  site/en/docs/extensions/mv2/shared_modules/index.md
  site/en/docs/extensions/mv2/tut_oauth/index.md
  site/en/docs/extensions/mv3/architecture-overview/index.md
  site/en/docs/extensions/mv3/content_scripts/index.md
  site/en/docs/extensions/mv3/intro/mv3-migration/index.md
  site/en/docs/extensions/mv3/linux_hosting/index.md
  site/en/docs/extensions/mv3/manifest/key/index.md
  site/en/docs/extensions/mv3/override/index.md
  site/en/docs/extensions/mv3/tut_oauth/index.md
  site/en/docs/extensions/reference/declarativeNetRequest/index.md
  site/en/docs/extensions/reference/proxy/index.md
  site/en/docs/webstore/identify_user/index.md
Labels: extensions

#1977 [devtools] Update accessibility feature
  site/en/blog/new-in-devtools-98/index.md
Labels: reviewers: devtools

#1973 Clarify wording for "3rd party matching" use case
  site/en/docs/privacy-sandbox/user-agent/index.md
Labels: docs

#1858 Adds links to the Workbox ToC for the API Reference and modules.
  site/_data/docs/workbox/toc.yml
  site/_data/i18n/docs/workbox.yml
Labels: docs

#1854 How to distribute an extension in the Chrome Web Store
  site/en/docs/extensions/mv3/getstarted/index.md
  site/en/docs/extensions/mv3/hosting/index.md
  site/en/docs/extensions/mv3/linux_hosting/index.md
Labels: extensions

#1983 CWS CUJ Tweaks for "I want to understand the developer program policies"
  site/en/docs/webstore/program_policies/index.md
  site/en/docs/webstore/terms/index.md
Labels: extensions

#1965 Extensions 'whats new' updates
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#1966 [devtools-translate] Japanese - What's New in DevTools (Chrome 98)
  site/_includes/partials/devtools/ja/whats-new.md
  site/ja/blog/new-in-devtools-98/index.md
Labels: reviewers: devtools, devtools-translate

#1967 [devtools-translate] Portuguese - What's New in DevTools (Chrome 98) #1962
  site/_includes/partials/devtools/pt/whats-new.md
  site/pt/blog/new-in-devtools-98/index.md
Labels: reviewers: devtools, devtools-translate

#1981 Add helpful tips to README
  README.md
Labels: P3, docs

#1478 Fix typo for 'name' field in example snippets on '/mv3/tut_oauth/'
  site/en/docs/extensions/mv3/tut_oauth/index.md
Labels: cla: yes

#2011 Add a caveat about using BroadcastUpdatePlugin with workbox-precaching
  site/en/docs/workbox/modules/workbox-broadcast-update/index.md
Labels: docs, workbox

#1860 Tweaks for CWS CUJ "I want to publish my item programmatically"
  site/en/docs/webstore/api_index/index.md
  site/en/docs/webstore/using_webstore_api/index.md
Labels: extensions

#2005 [devtools-translate] Chinese - What's New in DevTools (Chrome 98)
  site/_includes/partials/devtools/zh/whats-new.md
  site/zh/blog/new-in-devtools-98/index.md
Labels: reviewers: devtools, devtools-translate

#2022 Troubleshooting CWS violation: Point links to program policy sections
  site/en/docs/webstore/troubleshooting/index.md
Labels: extensions

#2023 Update partial to highlight CWS changes
  site/_includes/partials/extensions/mv2-legacy-page.md
Labels: extensions

#2025 Replace MVX with Manifest VX
  site/_includes/partials/extensions/mv2page-in-mv3.md
  site/en/blog/mv2-transition/index.md
  site/en/docs/extensions/mv3/content_scripts/index.md
  site/en/docs/extensions/mv3/devguide/index.md
  site/en/docs/extensions/mv3/index.md
  site/en/docs/extensions/mv3/intro/index.md
  site/en/docs/extensions/mv3/intro/mv3-migration/index.md
  site/en/docs/extensions/mv3/intro/mv3-overview/index.md
  site/en/docs/extensions/mv3/intro/platform-vision/index.md
  site/en/docs/extensions/mv3/manifest/web_accessible_resources/index.md
  site/en/docs/extensions/mv3/migrating_to_service_workers/index.md
  site/en/docs/extensions/mv3/mv2-sunset/index.md
  site/en/docs/extensions/mv3/mv3-migration-checklist/index.md
  site/en/docs/extensions/mv3/user_interface/index.md
  site/en/docs/extensions/whatsnew/index.md
  site/en/docs/webstore/cws-dashboard-privacy/index.md
Labels: extensions

#1957 Add storage permissions to options page example
  site/en/docs/extensions/mv3/options/index.md
Labels: extensions, cla: yes

#2036 Added "What changed in Attribution Reporting" blogpost and made minor updates to others
  site/_data/docs/privacy-sandbox/toc.yml
  site/_data/i18n/docs/privacy-sandbox.yml
  site/en/docs/privacy-sandbox/attribution-reporting-changes-january-2022/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-data-clearing/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-event-guide/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-event-introduction/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-introduction/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-migration/index.md
  site/en/docs/privacy-sandbox/attribution-reporting/index.md
Labels: docs

#2021 [devtools] Add WNDT 98 video link
  site/en/blog/new-in-devtools-98/index.md
  site/es/blog/new-in-devtools-98/index.md
  site/ja/blog/new-in-devtools-98/index.md
  site/pt/blog/new-in-devtools-98/index.md
  site/zh/blog/new-in-devtools-98/index.md
Labels: reviewers: devtools

#2043 Add keeping a consistent id partial to OAuth tutorial
  site/en/docs/extensions/mv3/tut_oauth/index.md
Labels: extensions

#2038 Add Manifest V2 support timeline link to manifest_version
  site/en/docs/extensions/mv3/manifest/manifest_version/index.md
Labels: extensions
