Repository GoogleChrome/developer.chrome.com, pull requests merged in 2022-06, with the labels that each got.

#2937 [JA] translation for gnatcatcher article
  site/ja/docs/privacy-sandbox/gnatcatcher/index.md
Labels: translation

#2942 Fix Russian translation
  site/_data/i18n/authors.yaml
Labels: reviewers: devtools

#2889 [devtools-translate] Korean - What's New in DevTools (Chrome 102)
  site/_includes/partials/devtools/ko/whats-new.md
  site/ko/blog/new-in-devtools-102/index.md
Labels: reviewers: devtools, devtools-translate, translation

#2940 [devtools-translate] Spanish - What's New in DevTools (Chrome 102)
  site/_includes/partials/devtools/es/whats-new.md
  site/es/blog/new-in-devtools-102/index.md
Labels: reviewers: devtools, devtools-translate, translation

#2939 [JA] translations privacy-sandbox
  site/ja/docs/privacy-sandbox/fenced-frame/index.md
  site/ja/docs/privacy-sandbox/first-party-sets/index.md
  site/ja/docs/privacy-sandbox/permissions-policy/index.md
  site/ja/docs/privacy-sandbox/privacy-budget/index.md
  site/ja/docs/privacy-sandbox/shared-storage/index.md
Labels: translation

#2965 Updates for the aggregation service
  site/en/blog/generate-summary-reports/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-changes-january-2022/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-experiment/index.md
  site/en/docs/privacy-sandbox/attribution-reporting/index.md
  site/en/docs/privacy-sandbox/attribution-reporting/summary-reports/index.md
Labels: content update, content, privacy-sandbox

#2948 Update testing instructions for Shared Storage
  site/en/docs/privacy-sandbox/shared-storage/index.md
Labels: content update, privacy-sandbox

#2933 DevTools > Search
  site/_data/docs/devtools/toc.yml
  site/en/docs/devtools/console/reference/index.md
  site/en/docs/devtools/javascript/reference/index.md
  site/en/docs/devtools/search/index.md
  site/en/docs/devtools/shortcuts/index.md
Labels: devtools

#2928 [crx-doc] Add new group redirect to extension docs
  redirects.yaml
Labels: extensions

#2967 DevTools 98 > Network panel shortcuts
  site/en/docs/devtools/network/reference/index.md
  site/en/docs/devtools/shortcuts/index.md
Labels: devtools

#2974 Privacy Sandbox FAQ - multiple trusted issuers
  site/en/docs/privacy-sandbox/faq/index.md
Labels: P0, content update, privacy-sandbox

#2991 [devtools] Update typo in WebAuthn post
  site/en/docs/devtools/webauthn/index.md
Labels: reviewers: devtools, content update, devtools

#2260 MV3 Update: Extension Architecture overview
  site/en/docs/extensions/mv3/architecture-overview/index.md
  site/en/docs/extensions/mv3/user_privacy/index.md
Labels: extensions, content

#2855 Reduces friction for CUJ "I want to know how to migrate my Manifest V2 extension to Manifest V3"
  site/en/docs/extensions/mv3/intro/mv3-migration/index.md
Labels: extensions

#3011 [devtools] What's New in DevTools (Chrome 103)
  site/_includes/partials/devtools/en/whats-new.md
  site/_includes/partials/devtools/es/whats-new.md
  site/_includes/partials/devtools/ja/whats-new.md
  site/_includes/partials/devtools/ko/whats-new.md
  site/_includes/partials/devtools/pt/whats-new.md
  site/_includes/partials/devtools/ru/whats-new.md
  site/_includes/partials/devtools/zh/whats-new.md
  site/en/blog/new-in-devtools-103/index.md
  site/es/blog/new-in-devtools-103/index.md
  site/ja/blog/new-in-devtools-103/index.md
  site/ko/blog/new-in-devtools-103/index.md
  site/pt/blog/new-in-devtools-103/index.md
  site/ru/blog/new-in-devtools-102/index.md
  site/ru/blog/new-in-devtools-103/index.md
  site/zh/blog/new-in-devtools-103/index.md
Labels: reviewers: devtools, devtools

#2993 Update Privacy Sandbox Japanese translation
  site/ja/docs/privacy-sandbox/attribution-reporting-migration/index.md
  site/ja/docs/privacy-sandbox/feedback/index.md
Labels: P0, content update

#3019 Move January 2022 changes into blog post
  redirects.yaml
  site/_data/docs/privacy-sandbox/toc.yml
  site/_data/i18n/docs/privacy-sandbox.yml
  site/en/blog/attribution-reporting-jan-2022-updates/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-experiment/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-updates/index.md
  site/en/docs/privacy-sandbox/attribution-reporting/index.md
Labels: content update, privacy-sandbox

#3027 Topics: add details on where to find the classifier model
  site/en/docs/privacy-sandbox/topics/index.md
Labels: content update, privacy-sandbox

#3043 [devtools-translate] Spanish - What's New in DevTools (Chrome 103)
  site/_includes/partials/devtools/es/whats-new.md
  site/es/blog/new-in-devtools-103/index.md
Labels: reviewers: devtools, devtools-translate, translation

#3009 [JA] privacy-sandbox translations
  site/ja/docs/privacy-sandbox/fedcm/index.md
  site/ja/docs/privacy-sandbox/feedback/report-2022-q1.md
Labels: translation

#3038 DevTools 103 > WebAuthn > Large blob support
  site/en/docs/devtools/webauthn/index.md
Labels: reviewers: devtools, devtools

#3036 DevTools 103 > Shortcuts, color picker, and pane reordering
  site/en/docs/devtools/css/reference/index.md
  site/en/docs/devtools/customize/index.md
  site/en/docs/devtools/shortcuts/index.md
Labels: reviewers: devtools, devtools

#2976 Add use cases and demo to Shared Storage explainer
  site/en/docs/privacy-sandbox/shared-storage/index.md
Labels: content update, privacy-sandbox

#3049 [devtools-translate] Korean - What's New in DevTools (Chrome 103)
  site/_includes/partials/devtools/ko/whats-new.md
  site/ko/blog/new-in-devtools-103/index.md
Labels: reviewers: devtools, devtools-translate, translation

#3075 Deprecations and removals, 104.
  site/en/blog/deps-rems-104/index.md
Labels: DO NOT MERGE

#3081 Updates for Attribution Reporting
  site/en/blog/attribution-reporting-jan-2022-updates/index.md
  site/en/blog/attribution-reporting-updates-june-2022/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-experiment/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-updates/index.md
  site/en/docs/privacy-sandbox/attribution-reporting/index.md
  site/en/docs/privacy-sandbox/attribution-reporting/summary-reports/index.md
Labels: content, privacy-sandbox

#3077 Translate the What's new in DevTools-103 into Japanese.
  site/_includes/partials/devtools/ja/whats-new.md
  site/ja/blog/new-in-devtools-103/index.md
Labels: devtools-translate, translation

#3031 [devtools-translate] Portuguese - What's New in DevTools (Chrome 103) #3016
  site/_includes/partials/devtools/pt/whats-new.md
  site/pt/blog/new-in-devtools-103/index.md
Labels: reviewers: devtools, devtools-translate, translation

#3051 [devtools-translate] Chinese - What's New in DevTools (Chrome 103)
  site/zh/blog/new-in-devtools-103/index.md
Labels: reviewers: devtools, devtools-translate, translation

#3053 DevTools 103 > Recorder reference
  site/_data/docs/devtools/toc.yml
  site/_data/i18n/docs/devtools.yml
  site/en/docs/devtools/recorder/index.md
  site/en/docs/devtools/recorder/reference/index.md
Labels: reviewers: devtools, devtools

#3101 update broken lighthouse link
  site/en/docs/devtools/speed/get-started/index.md
Labels: devtools

#3060 Fix jump links in devtools blog post
  site/en/blog/devtools-timeline-now-providing-the-full-story/index.md
Labels: content update

#3096 Shared Storage use cases
  site/_data/docs/privacy-sandbox/toc.yml
  site/_data/i18n/docs/privacy-sandbox.yml
  site/en/docs/privacy-sandbox/shared-storage/index.md
  site/en/docs/privacy-sandbox/use-shared-storage/index.md
Labels: content update, content, privacy-sandbox

#2982 Audits panel named Lighthouse per Chrome 83.
  site/en/docs/devtools/accessibility/reference/index.md
Labels: P0, lighthouse, content update

#3098 [devtools-translate] Russian - What's New in DevTools (Chrome 103)
  site/_includes/partials/devtools/ru/whats-new.md
  site/ru/blog/new-in-devtools-103/index.md
Labels: devtools-translate, translation

#3118 [devtools] Fix styles
  site/es/blog/new-in-devtools-103/index.md
Labels: reviewers: devtools, devtools

#2188 Adds a link proposed in GoogleChrome/web.dev#7211 to an audit doc.
  site/en/docs/lighthouse/performance/uses-responsive-images/index.md
Labels: P2, lighthouse, content update

#2163 DevTools suggestion: update `console.table`
  site/en/docs/devtools/console/api/index.md
Labels: content update
