Repository GoogleChrome/developer.chrome.com, pull requests merged in 2022-04, with the labels that each got.

#2481 Document Elements > Styles > Shadow Editor
  site/en/docs/devtools/css/reference/index.md
Labels: reviewers: devtools

#2424 Document common selectors for the Recorder
  site/en/docs/devtools/recorder/index.md
Labels: reviewers: devtools

#2498 [DevTools 99] Network: WebSocket throttling
  site/en/docs/devtools/network/reference/index.md
Labels: reviewers: devtools

#2504 Fixes typo in method name in the 'Using Plugins' doc.
  site/en/docs/workbox/using-plugins/index.md
Labels: P2, workbox, content update

#2261 Update to MV3: DeclarativeContent API
  site/en/docs/extensions/reference/declarativeContent/index.md
Labels: extensions

#2515 Add UA definition
  site/en/docs/privacy-sandbox/glossary/index.md
Labels: content update

#2489 Deprecations and removals post for Chrome 101.
  site/en/blog/deps-rems-101/index.md
Labels: P0

#2500 Small RU language corrections
  site/ru/blog/new-in-devtools-100/index.md
Labels: reviewers: devtools

#2514 Minor changes and fixes on Attribution
  redirects.yaml
  site/en/docs/privacy-sandbox/attribution-reporting-changes-january-2022/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-event-guide/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-event-introduction/index.md
  site/en/docs/privacy-sandbox/attribution-reporting/index.md
Labels: content update

#2399 Add "Discovery on the Chrome Web Store" document
  site/_data/docs/webstore/toc.yml
  site/en/docs/extensions/whatsnew/index.md
  site/en/docs/webstore/discovery/index.md
Labels: extensions

#2506 Change a verb for the sake of the consistency
  site/en/docs/extensions/mv3/declare_permissions/index.md
Labels: extensions

#2511 Correct "basic" to "image" in image notification
  site/en/docs/extensions/mv3/richNotifications/index.md
Labels: extensions

#2537 DevTools v99: Application > Reporting API
  site/en/docs/devtools/javascript/background-services/index.md
Labels: reviewers: devtools, content update

#2546 Update workbox docs to reference right npm package
  site/en/docs/workbox/modules/workbox-cli/index.md
Labels: content update

#2561 [devtools] Add video to demostrate selector picker
  site/en/docs/devtools/recorder/index.md
Labels: reviewers: devtools

#2572 Add "optional_host_permissions" to manifest.json
  site/en/docs/extensions/mv3/manifest/index.md
Labels: extensions

#2557 CRX Whats New updates for March
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#2535 Fix broken links to API reference
  site/en/docs/extensions/reference/windows/index.md
Labels: extensions, content update

#2552 Update formatting specifier in console.log documentation
  site/en/docs/devtools/console/format-style/index.md
Labels: reviewers: devtools

#2576 [devtools] What's New in DevTools (Chrome 101)
  site/_includes/partials/devtools/en/whats-new.md
  site/en/blog/new-in-devtools-101/index.md
Labels: reviewers: devtools

#2553 Update index.md
  site/en/docs/privacy-sandbox/faq/index.md
Labels: content update

#2577 [devtools] What's New in DevTools (Chrome 101) translation template
  site/_includes/partials/devtools/es/whats-new.md
  site/_includes/partials/devtools/ja/whats-new.md
  site/_includes/partials/devtools/ko/whats-new.md
  site/_includes/partials/devtools/pt/whats-new.md
  site/_includes/partials/devtools/ru/whats-new.md
  site/_includes/partials/devtools/zh/whats-new.md
  site/es/blog/new-in-devtools-101/index.md
  site/ja/blog/new-in-devtools-101/index.md
  site/ko/blog/new-in-devtools-101/index.md
  site/pt/blog/new-in-devtools-101/index.md
  site/ru/blog/new-in-devtools-101/index.md
  site/zh/blog/new-in-devtools-100/index.md
  site/zh/blog/new-in-devtools-101/index.md
Labels: reviewers: devtools

#2618 fix broken link
  site/en/docs/workbox/service-worker-deployment/index.md
Labels: P2, workbox, content update

#2617 Privacy Sandbox Office Hours blog post
  site/_data/authorsData.json
  site/_data/i18n/authors.yaml
  site/en/blog/privacy-sandbox-office-hours-1/index.md
Labels: content

#2612 Fix link to authors.yaml.
  site/en/docs/handbook/how-to/add-an-author/index.md
Labels: content update

#2588 feat: add jhey to authors list
  site/_data/authorsData.json
  site/_data/i18n/authors.yaml
Labels: content update

#2634 Adds a missing link to the workbox-recipes module guide.
  site/en/docs/workbox/managing-fallback-responses/index.md
Labels: P2, workbox, content update

#2567 DevTools: Rendering feature reference
  redirects.yaml
  site/_data/docs/devtools/toc.yml
  site/_data/i18n/docs/devtools.yml
  site/en/docs/devtools/css/print-preview/index.md
  site/en/docs/devtools/evaluate-performance/reference/index.md
  site/en/docs/devtools/rendering/apply-effects/index.md
  site/en/docs/devtools/rendering/emulate-css/index.md
  site/en/docs/devtools/rendering/index.md
  site/en/docs/devtools/rendering/performance/index.md
Labels: reviewers: devtools

#2427 Add blog post for Permissions Policy
  site/_data/docs/privacy-sandbox/toc.yml
  site/_data/i18n/docs/privacy-sandbox.yml
  site/en/docs/privacy-sandbox/permissions-policy/index.md
Labels: DO NOT MERGE, content

#2632 [devtools-translate] Chinese - What's New in DevTools (Chrome 101)
  site/zh/blog/new-in-devtools-101/index.md
Labels: reviewers: devtools, devtools-translate, translation

#2673 Add Project Fugu API Showcase, migrate `https://web.dev/fugu-status/`
  site/en/blog/fugu-showcase/index.md
  site/en/blog/fugu-status/index.md
  site/es/blog/fugu-status/index.md
  site/ko/blog/fugu-status/index.md
  site/pt/blog/fugu-status/index.md
  site/zh/blog/fugu-status/index.md
Labels: DO NOT MERGE

#2599 [devtools-translate] Spanish - What's New in DevTools (Chrome 101)
  site/_includes/partials/devtools/es/whats-new.md
  site/es/blog/new-in-devtools-101/index.md
  site/ko/blog/new-in-devtools-99/index.md
Labels: reviewers: devtools, devtools-translate, translation

#2670 [devtools] Add WNDT 101 video
  site/en/blog/new-in-devtools-101/index.md
  site/ja/blog/new-in-devtools-101/index.md
  site/ko/blog/new-in-devtools-101/index.md
  site/pt/blog/new-in-devtools-101/index.md
Labels: reviewers: devtools

#2671 Embeded Devtools Tips in documentation
  site/en/docs/devtools/accessibility/reference/index.md
  site/en/docs/devtools/command-menu/index.md
  site/en/docs/devtools/css/reference/index.md
  site/en/docs/devtools/rendering/apply-effects/index.md
Labels: reviewers: devtools

#2659 JA-translation-proposal-lifecycle
  site/ja/docs/privacy-sandbox/proposal-lifecycle/index.md
Labels: translation

#2689 FedCM docs
  site/_data/docs/privacy-sandbox/toc.yml
  site/en/blog/fedcm-origin-trial/index.md
  site/en/docs/privacy-sandbox/fedcm/index.md
Labels: content

#2694 Shared Storage landing page
  site/_data/docs/privacy-sandbox/toc.yml
  site/en/docs/privacy-sandbox/shared-storage/index.md
Labels: content

#2631 DevTools > 101 > Elements > Styles > cascade layers
  site/en/docs/devtools/css/reference/index.md
Labels: reviewers: devtools

#2665 JA translation - Attribution Reporting Proposal
  site/ja/docs/privacy-sandbox/attribution-reporting-changes-january-2022/index.md
Labels: translation

#2696 Move script tag in MV3 inline example
  site/en/docs/extensions/mv3/getstarted/index.md
Labels: extensions

#2650 JA translation topics api experiment and participate
  site/ja/docs/privacy-sandbox/topics-experiment/index.md
Labels: translation

#2660 JA translation Is it ready yet
  site/ja/docs/privacy-sandbox/status/index.md
Labels: translation

#2701 JA translation - Feedback
  site/ja/docs/privacy-sandbox/feedback/index.md
Labels: translation

#2685 JA-translation-fledge-experiment
  site/ja/docs/privacy-sandbox/fledge-experiment/index.md
Labels: translation

#2691 JA translation user agent reduction snippets
  site/ja/docs/privacy-sandbox/user-agent/snippets/index.md
Labels: translation

#2714 [PNA] Update rollout timeline.
  site/en/blog/private-network-access-preflight/index.md
Labels: content update

#2710 [devtools-translate] Portuguese - What's New in DevTools (Chrome 101) #2581
  site/_includes/partials/devtools/pt/whats-new.md
  site/pt/blog/new-in-devtools-101/index.md
Labels: reviewers: devtools, devtools-translate, translation

#2656 [devtools-translate] Russian - What's New in DevTools (Chrome 101)
  site/_includes/partials/devtools/ru/whats-new.md
  site/ru/blog/new-in-devtools-101/index.md
Labels: reviewers: devtools, devtools-translate, translation
