Repository GoogleChrome/developer.chrome.com, pull requests merged in 2022-10, with the labels that each got.

#3827 [devtools-translate] Japanese - What's New in DevTools (Chrome 106)
  site/_includes/partials/devtools/ja/whats-new.md
  site/ja/blog/new-in-devtools-106/index.md
Labels: reviewers: devtools, devtools-translate, translation

#3845 Add and fix promise information
  site/en/docs/extensions/mv3/intro/mv3-overview/index.md
  site/en/docs/extensions/mv3/promises/index.md
Labels: extensions

#3775 [devtools-translate] Portuguese - What's New in DevTools (Chrome 106)
  site/_includes/partials/devtools/pt/whats-new.md
  site/en/blog/new-in-devtools-106/index.md
  site/pt/blog/new-in-devtools-106/index.md
Labels: reviewers: devtools, devtools-translate, translation

#3892 [devtools] Add video to Issues tab docs
  site/en/docs/devtools/issues/index.md
Labels: devtools

#3897 Add bounce tracking mitigations landing page
  site/_data/docs/privacy-sandbox/toc.yml
  site/en/docs/privacy-sandbox/bounce-tracking-mitigations/index.md
  site/en/privacy-sandbox/index.njk
Labels: docs, content, privacy-sandbox

#3328 [Extension-docs] New Getting started with Chrome Extensions collection
  redirects.yaml
  site/_data/docs/extensions/toc.yml
  site/_data/i18n/docs/extensions.yml
  site/en/docs/extensions/mv3/getstarted/click_details.png
  site/en/docs/extensions/mv3/getstarted/development-basics/index.md
  site/en/docs/extensions/mv3/getstarted/extensions-101/index.md
  site/en/docs/extensions/mv3/getstarted/index.md
  site/en/docs/extensions/mv3/getstarted/load_extension.png
  site/en/docs/extensions/mv3/getstarted/options.png
  site/en/docs/extensions/mv3/getstarted/popup_grey.png
  site/en/docs/extensions/mv3/getstarted/tut-focus-mode/index.md
  site/en/docs/extensions/mv3/getstarted/tut-reading-time/index.md
  site/en/docs/extensions/mv3/getstarted/tut-tabs-manager/index.md
  site/en/docs/extensions/mv3/getstarted/view_background.png
Labels: extensions

#3899 Add CLI flag information for Shared Storage
  site/en/docs/privacy-sandbox/shared-storage/index.md
  site/en/docs/privacy-sandbox/use-shared-storage/index.md
Labels: content update, privacy-sandbox

#3922 New getting started
  site/en/blog/extensions-getting-started-guides/index.md
Labels: extensions

#3665 Auto-redirect to translated page if there is one
  package-lock.json
  package.json
  server/index.js
  server/language-redirect.js
  tests/server/fixtures/de/article/index.html
  tests/server/fixtures/en/article/index.html
  tests/server/languageRedirect.js
Labels: eng

#3686 Fix various issues around internationalised landing and overview pages
  .eleventy.js
  site/_collections/directory.js
  site/_data/docs/privacy-sandbox/toc.yml
  site/_data/lib/find.js
  site/_utils/sort.js
  tests/site/_collections/directory.js
  types/11ty/collection-object.d.ts
Labels: eng

#3783 Add E2E test setup using freshly built fixtures
  ava.config.js
  package.json
  site/_includes/layouts/test.njk
  site/_shortcodes/Aside.js
  tests/e2e/fixtures/.eleventy.js
  tests/e2e/fixtures/site/en/en.11tydata.js
  tests/e2e/fixtures/site/en/shortcodes/aside/caution.md
  tests/e2e/fixtures/site/en/shortcodes/aside/default.md
  tests/e2e/fixtures/site/en/shortcodes/aside/markdown.md
  tests/e2e/fixtures/site/es/es.11tydata.js
  tests/e2e/fixtures/site/es/shortcodes/aside/localized-label.md
  tests/e2e/tests/shortcodes/aside.js
  tests/e2e/utils.js
Labels: eng

#3841 Update "What Is Private Network Access" anchor to link to expected subsection
  site/en/blog/private-network-access-preflight/index.md
Labels: content update

#3939 Typos in source maps blog post
  site/en/blog/sourcemaps/index.md
Labels: content update

#3825 [devtools-translate] Spanish - What's New in DevTools (Chrome 106)
  site/_includes/partials/devtools/es/whats-new.md
  site/es/blog/new-in-devtools-106/index.md
Labels: devtools-translate, translation

#3822 [devtools-translate] Chinese - What's New in DevTools (Chrome 106)
  site/_includes/partials/devtools/zh/whats-new.md
  site/zh/blog/new-in-devtools-106/index.md
Labels: devtools-translate, translation

#3794 [Post] Inside the container query polyfill
  site/_data/i18n/common.yml
  site/en/blog/inside-the-container-query-polyfill/index.md
Labels: scheduled

#3784 [devtools-translate] Korean - What's New in DevTools (Chrome 107)
  site/_includes/partials/devtools/ko/whats-new.md
  site/ko/blog/new-in-devtools-107/index.md
Labels: devtools-translate, translation

#3968 Fix grammar in PNA deprecation trial post
  site/en/blog/private-network-access-update/index.md
Labels: content update

#3969 Added October update for Privacy Sandbox origin trial page
  site/en/docs/privacy-sandbox/unified-origin-trial/index.md
Labels: content update, privacy-sandbox

#3970 Fix mangled aside.
  site/en/docs/extensions/mv3/mv3-migration-checklist/index.md
Labels: extensions, content update

#3976 (New in DevTools 106) Fix a link to web.dev reference
  site/en/blog/new-in-devtools-106/index.md
  site/es/blog/new-in-devtools-106/index.md
  site/ja/blog/new-in-devtools-106/index.md
  site/ko/blog/new-in-devtools-106/index.md
  site/pt/blog/new-in-devtools-106/index.md
  site/ru/blog/new-in-devtools-106/index.md
  site/zh/blog/new-in-devtools-106/index.md
Labels: reviewers: devtools

#3943 [devtools-translate] Portuguese - What's New in DevTools (Chrome 107) #3754
  site/_includes/partials/devtools/pt/whats-new.md
  site/pt/blog/new-in-devtools-107/index.md
Labels: reviewers: devtools, devtools-translate, translation

#3933 AWA Fund Announcement
  site/en/blog/advanced-web-apps-fund-oct-22/index.md
  site/en/blog/advanced-web-apps-fund/index.md
Labels: scheduled

#3971 Update artwork in mv2 transition article
  site/en/blog/crx-scripting-api/index.md
  site/en/blog/more-mv2-transition/index.md
  site/en/blog/mv2-transition/index.md
  site/en/blog/mv3-actions/index.md
Labels: extensions, content update

#3967 Fix typo and grammar in the PNA preflights post
  site/en/blog/private-network-access-preflight/index.md
Labels: content update

#3966 [devtools-engineering] Customize and automate user flows beyond Chrome DevTools Recorder
  site/en/blog/extend-recorder/index.md
Labels: DO NOT MERGE, reviewers: devtools, devtools-eng

#3510 This is feature is only available in Chrome, not in Chromium.
  site/en/docs/devtools/performance-insights/index.md
  site/en/docs/devtools/recorder/index.md
Labels: reviewers: devtools, devtools

#1654 Updated Webview User Agent to a later version.
  site/en/docs/multidevice/user-agent/index.md
Labels: cla: yes

#3981 Remove video as it's too distracting with two vids
  site/en/blog/extend-recorder/index.md
Labels: reviewers: devtools

#3986 PS OT Updates
  site/en/docs/privacy-sandbox/unified-origin-trial/index.md
Labels: content update

#3979 Revert "Fix grammar in PNA deprecation trial post"
  site/en/blog/private-network-access-update/index.md
Labels: content update

#3951 [devtools-translate] Japanese - What's New in DevTools (Chrome 107)
  site/_includes/partials/devtools/ja/whats-new.md
  site/ja/blog/new-in-devtools-107/index.md
Labels: reviewers: devtools, devtools-translate, translation

#3999 Storage Partitioning doc style and description
  site/en/docs/privacy-sandbox/storage-partitioning/index.md
Labels: content update, privacy-sandbox

#3859 Create new upgrade section.
  redirects.yaml
  site/_data/docs/extensions/toc.yml
  site/_data/i18n/docs/extensions.yml
  site/en/docs/extensions/mv3/mv3-migration-checklist/index.md
  site/en/docs/extensions/mv3/mv3-migration/index.md
Labels: DO NOT MERGE

#3994 [ext-docs] Fix spacing in Reading time tutorial code sample
  site/en/docs/extensions/mv3/getstarted/tut-reading-time/index.md
Labels: extensions, cla: yes

#4018 Separate shared storage use cases
  site/_data/docs/privacy-sandbox/toc.yml
  site/_data/i18n/docs/privacy-sandbox.yml
  site/_includes/content/privacysandbox-partials/sharedstorage-engage.njk
  site/_scss/blocks/_landing-section-expanded.scss
  site/en/docs/privacy-sandbox/shared-storage/ab-testing/index.md
  site/en/docs/privacy-sandbox/shared-storage/creative-rotation/index.md
  site/en/docs/privacy-sandbox/shared-storage/frequency-control/index.md
  site/en/docs/privacy-sandbox/shared-storage/index.md
  site/en/docs/privacy-sandbox/shared-storage/known-customer/index.md
  site/en/docs/privacy-sandbox/use-shared-storage/index.md
  site/en/privacy-sandbox/index.njk
Labels: content update, privacy-sandbox

#4008 Fix several most viewed 404 pages
  redirects.yaml
  site/_data/docs/devtools/toc.yml
  site/en/blog/devtools-javascript-cpu-profile-migration/index.md
  site/en/docs/devtools/lighthouse/index.md
  site/en/docs/devtools/sources/index.md
Labels: devtools

#4041 [devtools] Remove draft flag
  site/zh/blog/new-in-devtools-106/index.md
Labels: reviewers: devtools

#4051 Fix Shared Storage use case URLs
  site/en/docs/privacy-sandbox/shared-storage/index.md
Labels: content update, privacy-sandbox

#4047 DevTool 95 > Issues > Hide issues + Issues guide refresh
  site/en/docs/devtools/issues/index.md
Labels: content update, devtools

#3983 DevTools > Accessibility > Contrast issues
  site/_data/docs/devtools/toc.yml
  site/en/blog/devtools-tips-5/index.md
  site/en/docs/devtools/accessibility/contrast/index.md
  site/en/docs/devtools/accessibility/reference/index.md
Labels: devtools

#4055 Add blog post to rename trust tokens to private state tokens
  site/en/blog/rename-trust-tokens/index.md
  site/en/docs/privacy-sandbox/faq/index.md
  site/en/docs/privacy-sandbox/overview/index.md
  site/en/docs/privacy-sandbox/trust-tokens/index.md
Labels: content, privacy-sandbox

#4011 [devtools-translate] Korean - What's New in DevTools (Chrome 106)
  site/ko/_partials/devtools/whats-new.md
  site/ko/blog/new-in-devtools-106/index.md
Labels: devtools-translate

#4040 [devtools-translate] Spanish - What's New in DevTools (Chrome 107)
  site/es/_partials/devtools/whats-new.md
  site/es/blog/new-in-devtools-107/index.md
Labels: reviewers: devtools, devtools-translate

#4063 [devtools] Add WNDT 107 video
  site/en/blog/new-in-devtools-107/index.md
  site/ja/blog/new-in-devtools-107/index.md
  site/ko/blog/new-in-devtools-107/index.md
  site/pt/blog/new-in-devtools-107/index.md
  site/ru/blog/new-in-devtools-107/index.md
Labels: reviewers: devtools

#2736 Update jump link in extensions doc
  site/en/docs/extensions/mv3/intro/platform-vision/index.md
Labels: extensions, content update

#3717 [ext-docs] Update Welcome page
  site/en/docs/extensions/mv3/index.md
Labels: extensions

#3231 Theme Documentation: Correct manifest documentation link and source links
  site/en/docs/extensions/mv2/themes/index.md
  site/en/docs/extensions/mv3/themes/index.md
Labels: extensions

#4078 DevTools 95 > Sources > Snippets > Sorting + the Snippets guide refresh
  site/en/docs/devtools/javascript/snippets/index.md
Labels: content update, devtools

#4080 Replace 'homepage' with 'home page'.
  site/en/docs/extensions/mv2/settings_override/index.md
  site/en/docs/extensions/mv3/single_purpose/index.md
Labels: extensions, content update

#4045 Add missing information.
  site/en/docs/extensions/mv3/manifest/web_accessible_resources/index.md
Labels: extensions, content update

#4082 Partial Custom Tabs update
  site/en/docs/android/custom-tabs/headers/index.md
  site/en/docs/android/custom-tabs/index.md
  site/en/docs/android/custom-tabs/integration-guide/index.md
Labels: content update, content, devtools

#3919 Added API/OT status aside for Trust Tokens article
  site/en/docs/privacy-sandbox/trust-tokens/index.md
Labels: content update, privacy-sandbox

#4100 [devtools] Remove duplicate image
  site/en/blog/new-in-devtools-106/index.md
Labels: devtools

#4111 What's New in DevTools (Chrome 108)
  site/en/_partials/devtools/whats-new.md
  site/en/blog/new-in-devtools-108/index.md
  site/es/_partials/devtools/whats-new.md
  site/es/blog/new-in-devtools-108/index.md
  site/ja/_partials/devtools/whats-new.md
  site/ja/blog/new-in-devtools-108/index.md
  site/ko/_partials/devtools/whats-new.md
  site/ko/blog/new-in-devtools-108/index.md
  site/pt/_partials/devtools/whats-new.md
  site/pt/blog/new-in-devtools-108/index.md
  site/ru/_partials/devtools/whats-new.md
  site/ru/blog/new-in-devtools-108/index.md
  site/zh/_partials/devtools/whats-new.md
  site/zh/blog/new-in-devtools-108/index.md
Labels: reviewers: devtools

#3963 DevTools 107 > Settings > Shortcuts
  site/en/docs/devtools/customize/index.md
Labels: DO NOT MERGE

#4034 DevTools 107 > Network > HAR
  site/en/docs/devtools/network/reference/index.md
Labels: DO NOT MERGE

#4035 DevTools 107 > Memory Inspector > Wasm object memory
  site/en/docs/devtools/memory-inspector/index.md
Labels: DO NOT MERGE

#4043 DevTools 107 > Elements > Disable search as you type
  site/en/docs/devtools/dom/index.md
Labels: DO NOT MERGE

#4096 Add 'Known Issues...' to migration section.
  site/_data/docs/extensions/toc.yml
Labels: extensions

#4105 DevTools Tips 15 > Different ways to open DevTools
  site/en/blog/devtools-tips-15/index.md
  site/en/docs/devtools/open/index.md
Labels: devtools

#4113 108 beta post
  site/en/blog/chrome-108-beta/index.md
Labels: DO NOT MERGE

#4097 Update V2 deprecation blurb and add it to remaining V2 documents.
  site/en/_partials/extensions/mv2-legacy-page.md
  site/en/docs/extensions/migrate-to-mv3/upgrading-web-requests/index.md
  site/en/docs/extensions/mv2/cross-origin-isolation/index.md
  site/en/docs/extensions/mv2/manifest/activeTab/index.md
  site/en/docs/extensions/mv2/manifest/cross_origin_embedder_policy/index.md
  site/en/docs/extensions/mv2/manifest/cross_origin_opener_policy/index.md
  site/en/docs/extensions/mv2/manifest/default_locale/index.md
  site/en/docs/extensions/mv2/manifest/description/index.md
  site/en/docs/extensions/mv2/manifest/event_rules/index.md
  site/en/docs/extensions/mv2/manifest/externally_connectable/index.md
  site/en/docs/extensions/mv2/manifest/homepage_url/index.md
  site/en/docs/extensions/mv2/manifest/icons/index.md
  site/en/docs/extensions/mv2/manifest/incognito/index.md
  site/en/docs/extensions/mv2/manifest/key/index.md
  site/en/docs/extensions/mv2/manifest/minimum_chrome_version/index.md
  site/en/docs/extensions/mv2/manifest/nacl_modules/index.md
  site/en/docs/extensions/mv2/manifest/name/index.md
  site/en/docs/extensions/mv2/manifest/offline_enabled/index.md
  site/en/docs/extensions/mv2/manifest/requirements/index.md
  site/en/docs/extensions/mv2/manifest/sandbox/index.md
  site/en/docs/extensions/mv2/manifest/storage/index.md
  site/en/docs/extensions/mv2/manifest/version/index.md
  site/en/docs/extensions/mv2/manifest/web_accessible_resources/index.md
Labels: extensions

#3993 define extensions and webstore const
  site/en/docs/extensions/mv3/getstarted/tut-focus-mode/index.md
Labels: extensions
