Repository GoogleChrome/developer.chrome.com, pull requests merged in 2022-11, with the labels that each got.

#4167 [ext-docs] Fix typo in MV2 legacy banner
  site/en/_partials/extensions/mv2-legacy-page.md
Labels: extensions

#4155 CWS documentation: Fix dead link to /cws-dashboard-enterprise/
  site/en/docs/webstore/faq/index.md
Labels: extensions

#4174 [ext-doc] Update extension architecture Overview
  site/en/docs/extensions/mv3/architecture-overview/index.md
Labels: extensions

#4088 [devtools-translate] Russian - What's New in DevTools (Chrome 107)
  site/ru/_partials/devtools/whats-new.md
  site/ru/blog/new-in-devtools-107/index.md
Labels: reviewers: devtools, devtools-translate

#4075 [devtools-translate] Russian - What's New in DevTools (Chrome 106)
  site/ru/_partials/devtools/whats-new.md
  site/ru/blog/new-in-devtools-106/index.md
Labels: reviewers: devtools, devtools-translate

#3997 [devtools-translate] Chinese - What's New in DevTools (Chrome 107)
  site/zh/_partials/devtools/whats-new.md
  site/zh/blog/new-in-devtools-107/index.md
Labels: reviewers: devtools, devtools-translate, i18n

#4153 Translate new-in-devtools 108 in Japanese
  site/ja/_partials/devtools/whats-new.md
  site/ja/blog/new-in-devtools-108/index.md
Labels: reviewers: devtools, devtools-translate, translation

#4141 Nested PS docs landing
  site/_data/docs/privacy-sandbox/toc.yml
  site/_data/i18n/docs/privacy-sandbox.yml
  site/_includes/macros/navigation-tree-sections.njk
  site/_includes/macros/project-sections.njk
  site/_scss/blocks/_project-sections.scss
Labels: content update, privacy-sandbox

#4186 Typo fix 'RBGA' -> 'RGBA'
  site/en/docs/devtools/shortcuts/index.md
Labels: bug, content update

#4178 [devtools] Fix link
  site/en/blog/new-in-devtools-108/index.md
Labels: devtools

#4194 [devtools] Update typo
  site/es/blog/new-in-devtools-107/index.md
  site/ja/blog/new-in-devtools-107/index.md
  site/ko/blog/new-in-devtools-107/index.md
  site/pt/blog/new-in-devtools-107/index.md
  site/ru/blog/new-in-devtools-107/index.md
  site/zh/blog/new-in-devtools-107/index.md
Labels: reviewers: devtools

#4161 [devtools-translate] Portuguese - What's New in DevTools (Chrome 108) #4129
  site/pt/_partials/devtools/whats-new.md
  site/pt/blog/new-in-devtools-108/index.md
Labels: reviewers: devtools, devtools-translate, translation

#4197 Remove article about discontinued product.
  site/en/docs/extensions/apps/index.md
Labels: extensions

#4188 Arch patches
  site/en/docs/extensions/mv3/architecture-overview/index.md
Labels: extensions

#4172 FLEDGE API docs
  redirects.yaml
  site/_data/docs/privacy-sandbox/toc.yml
  site/_data/i18n/docs/privacy-sandbox.yml
  site/en/_partials/privacy-sandbox/fledge-api-next.md
  site/en/_partials/privacy-sandbox/fledge-api-reference.md
  site/en/docs/privacy-sandbox/fledge-api/ad-auction/index.md
  site/en/docs/privacy-sandbox/fledge-api/index.md
  site/en/docs/privacy-sandbox/fledge-api/interest-groups/index.md
  site/en/docs/privacy-sandbox/fledge-api/latency/index.md
  site/en/docs/privacy-sandbox/fledge-api/opt-out/index.md
  site/en/docs/privacy-sandbox/fledge-api/reports/index.md
  site/en/docs/privacy-sandbox/fledge-api/troubleshoot/index.md
  site/en/docs/privacy-sandbox/fledge-best-practices/index.md
  site/en/docs/privacy-sandbox/fledge/index.md
Labels: content update, privacy-sandbox

#4209 [doc-cws] Removes mention of large tile
  site/en/docs/webstore/best_listing/index.md
  site/en/docs/webstore/images/index.md
Labels: extensions

#4222 Minor fixes
  site/en/docs/privacy-sandbox/fledge-api/index.md
Labels: docs, content update, privacy-sandbox

#4208 [doc-ext] Remove no longer relevant aside in service worker article
  site/en/docs/extensions/mv3/service_workers/index.md
Labels: extensions

#4225 Change to more typical definition structure.
  site/en/docs/extensions/mv3/overview/index.md
Labels: extensions

#4256 DTT 02: Faster DevTools navigation
  site/en/blog/devtools-tips-2/index.md
  site/en/docs/devtools/customize/index.md
Labels: reviewers: devtools, devtools

#4180 CWS Support Visibility Option UI change documented
  site/en/docs/webstore/manage/index.md
Labels: extensions, content update

#4239 Update Shared Storage API use cases
  site/_data/docs/privacy-sandbox/toc.yml
  site/en/_partials/privacy-sandbox/shared-storage-engage.md
  site/en/_partials/privacy-sandbox/shared-storage-use-cases.md
  site/en/docs/privacy-sandbox/shared-storage/ab-testing/index.md
  site/en/docs/privacy-sandbox/shared-storage/creative-rotation/index.md
  site/en/docs/privacy-sandbox/shared-storage/frequency-control/index.md
  site/en/docs/privacy-sandbox/shared-storage/index.md
  site/en/docs/privacy-sandbox/shared-storage/k-freq-reach/index.md
  site/en/docs/privacy-sandbox/shared-storage/known-customer/index.md
  site/en/docs/privacy-sandbox/shared-storage/unique-reach/index.md
  site/en/docs/privacy-sandbox/shared-storage/user-demographics/index.md
Labels: content update, content, privacy-sandbox

#3710 Update Angular image code snippet
  site/en/blog/angular-image-directive/index.md
Labels: content update

#4274 Nits and corrections to report docs
  site/en/docs/privacy-sandbox/fledge-api/reports/index.md
Labels: content update, privacy-sandbox

#4228 Update API reference intro.
  site/en/docs/extensions/reference/index.md
Labels: extensions

#2734 WebP extension isn't supported
  site/en/docs/extensions/mv3/manifest/icons/index.md
Labels: extensions

#2881 Update formatting
  site/en/docs/extensions/mv3/user_interface/index.md
Labels: extensions

#1128 Add WebTransport over HTTP/3 support to Web Request API
  site/en/docs/extensions/reference/webRequest/index.md
Labels: cla: yes

#4277 API docs migration 5
  site/_data/authorsData.json
  site/_data/i18n/authors.yaml
  site/en/articles/cors-rfc1918-feedback/index.md
  site/en/articles/file-handling/index.md
  site/en/articles/hid/index.md
  site/en/articles/hidden-until-found/index.md
  site/en/articles/isinputpending/index.md
  site/en/articles/webcodecs/index.md
  site/es/articles/file-handling/index.md
  site/es/articles/hid/index.md
  site/ko/articles/file-handling/index.md
  site/ko/articles/hid/index.md
  site/pt/articles/file-handling/index.md
  site/pt/articles/hid/index.md
  site/pt/articles/webcodecs/index.md
  site/zh/articles/file-sharing/index.md
Labels: DO NOT MERGE

#3878 [ext] Add GitHub issue template to request Chrome extension tutorials
  .github/ISSUE_TEMPLATE/crx-tut-request.yaml
Labels: extensions

#4251 [devtools-translate] Spanish - What's New in DevTools (Chrome 108)
  site/es/_partials/devtools/whats-new.md
  site/es/blog/new-in-devtools-108/index.md
Labels: reviewers: devtools, devtools-translate, translation

#4133 [devtools-translate] Chinese - What's New in DevTools (Chrome 108)
  site/zh/_partials/devtools/whats-new.md
  site/zh/blog/new-in-devtools-108/index.md
Labels: reviewers: devtools, devtools-translate, i18n

#4345 Correction to examples in $() and $$()
  site/en/docs/devtools/console/utilities/index.md
Labels: devtools

#4366 DevTools Tips 1: CSS overview promo post
  site/en/blog/devtools-tips-1/index.md
  site/en/docs/devtools/css-overview/index.md
Labels: devtools

#4367 [docs-cws] Fix definition list
  site/en/docs/webstore/trader-disclosure/index.md
Labels: Chrome-Web-Store

#4385 [devtools] Add video for WNDT 108
  site/en/blog/new-in-devtools-108/index.md
  site/es/blog/new-in-devtools-108/index.md
  site/ja/blog/new-in-devtools-108/index.md
  site/pt/blog/new-in-devtools-108/index.md
  site/zh/blog/new-in-devtools-108/index.md
Labels: devtools

#4390 [devtools] Fix missing line
  site/en/_partials/devtools/whats-new.md
  site/es/_partials/devtools/whats-new.md
  site/ja/_partials/devtools/whats-new.md
  site/pt/_partials/devtools/whats-new.md
Labels: devtools

#4399 Manifest - Key updating broken link
  site/en/docs/extensions/mv3/manifest/key/index.md
Labels: extensions

#3961 [ext-docs] Reduces friction for CUJ "I want to know how to use the Storage API"
  site/en/docs/extensions/reference/storage/index.md
Labels: P2, extensions, content update

#4421 Summary report and aggregation service landings
  redirects.yaml
  site/_data/docs/privacy-sandbox/toc.yml
  site/_data/i18n/docs/privacy-sandbox.yml
  site/en/docs/privacy-sandbox/aggregation-service/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-data-clearing/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-experiment/index.md
  site/en/docs/privacy-sandbox/attribution-reporting/index.md
  site/en/docs/privacy-sandbox/attribution-reporting/system-overview/index.md
  site/en/docs/privacy-sandbox/glossary/index.md
  site/en/docs/privacy-sandbox/private-aggregation-fundamentals/index.md
  site/en/docs/privacy-sandbox/private-aggregation/index.md
  site/en/docs/privacy-sandbox/summary-reports/index.md
  site/en/privacy-sandbox/index.njk
Labels: content, privacy-sandbox

#4418 [JA] Translations
  site/ja/blog/expanding-privacy-sandbox-testing-2023/index.md
  site/ja/blog/first-party-sets-sameparty/index.md
  site/ja/blog/rename-trust-tokens/index.md
Labels: translation

#4240 CRX Known Issues updates
  site/en/docs/extensions/mv3/known-issues/index.md
Labels: extensions

#4464 Publish WebAuthn Conditional UI article
  site/en/blog/webauthn-conditional-ui/index.md
Labels: DO NOT MERGE

#4330 DevTools 108 > CSS hints + new doc on CSS issues
  redirects.yaml
  site/_data/docs/devtools/toc.yml
  site/_data/i18n/docs/devtools.yml
  site/en/docs/devtools/css/flexbox/index.md
  site/en/docs/devtools/css/grid/index.md
  site/en/docs/devtools/css/issues/index.md
  site/en/docs/devtools/css/overrides/index.md
  site/en/docs/devtools/css/reference/index.md
Labels: devtools

#4386 DevTools 108 > Recorder > Selectors: text and XPath
  site/en/docs/devtools/recorder/index.md
  site/en/docs/devtools/recorder/reference/index.md
Labels: devtools

#4388 DevTools 108 > Sources > Debug JS > Comma-separated expressions
  site/en/docs/devtools/javascript/reference/index.md
Labels: devtools

#4474 Spam policy FAQ clarification
  site/en/docs/webstore/spam-faq/index.md
Labels: extensions, content

#3903 Add Extensions API blog post for documentId and friends.
  site/_data/authorsData.json
  site/en/blog/extension-instantnav/index.md
Labels: extensions, content
