Repository GoogleChrome/developer.chrome.com, pull requests merged in 2022-05, with the labels that each got.

#2750 New in Chrome 101
  site/en/blog/new-in-chrome-101/index.md
Labels: content

#2728 [devtools-translate] Japanese - What's New in DevTools (Chrome 101)
  site/_includes/partials/devtools/ja/whats-new.md
  site/ja/blog/new-in-devtools-101/index.md
Labels: reviewers: devtools, devtools-translate, translation

#2759 [devtools-translate] Russian - What's New in DevTools (Chrome 99)
  site/_includes/partials/devtools/ru/whats-new.md
  site/ru/blog/new-in-devtools-99/index.md
Labels: reviewers: devtools, devtools-translate, translation

#2724 DevTools 98 > Changes
  site/_data/docs/devtools/toc.yml
  site/_data/i18n/docs/devtools.yml
  site/en/docs/devtools/changes/index.md
Labels: reviewers: devtools

#2695 DevTools 98 > Accessibility > Full-page view
  site/en/docs/devtools/accessibility/reference/index.md
Labels: reviewers: devtools

#2760 [devtools] Update image
  site/en/blog/new-in-devtools-101/index.md
Labels: reviewers: devtools

#2731 DevTools 98 > Recorder > Timeout
  site/en/docs/devtools/recorder/index.md
Labels: reviewers: devtools

#2761 [devtools] Fix display - Indent properly
  site/es/blog/new-in-devtools-101/index.md
  site/zh/blog/new-in-devtools-101/index.md
Labels: reviewers: devtools

#2737 small grammar fix
  site/en/docs/extensions/mv3/content_scripts/index.md
Labels: extensions

#2784 Fix typos
  site/en/blog/devtools-timeline-now-providing-the-full-story/index.md
Labels: reviewers: devtools

#2793 Improve Chinese wording of experimental
  site/_includes/partials/devtools/zh/whats-new.md
  site/zh/blog/new-in-devtools-101/index.md
  site/zh/blog/new-in-devtools-96/index.md
  site/zh/blog/new-in-devtools-97/index.md
Labels: reviewers: devtools

#2778 Update broken link
  site/en/docs/devtools/webauthn/index.md
Labels: reviewers: devtools

#2800 [devtools] Update Performance Insights docs
  site/en/docs/devtools/performance-insights/index.md
Labels: reviewers: devtools

#2794 [devtools] What's New in DevTools (Chrome 102)
  site/_includes/partials/devtools/en/whats-new.md
  site/_includes/partials/devtools/es/whats-new.md
  site/_includes/partials/devtools/ja/whats-new.md
  site/_includes/partials/devtools/ko/whats-new.md
  site/_includes/partials/devtools/pt/whats-new.md
  site/_includes/partials/devtools/ru/whats-new.md
  site/_includes/partials/devtools/zh/whats-new.md
  site/en/blog/new-in-devtools-102/index.md
  site/es/blog/new-in-devtools-102/index.md
  site/ja/blog/new-in-devtools-102/index.md
  site/ko/blog/new-in-devtools-102/index.md
  site/pt/blog/new-in-devtools-102/index.md
  site/ru/blog/new-in-devtools-102/index.md
  site/zh/blog/new-in-devtools-102/index.md
Labels: reviewers: devtools

#2762 DevTools 98 > Application > Back/forward cache
  site/_data/docs/devtools/toc.yml
  site/en/docs/devtools/application/back-forward-cache/index.md
  site/en/docs/devtools/storage/applicationcache/index.md
Labels: reviewers: devtools

#2763 [devtools-engineering] Debugging WebAssembly Faster
  site/_data/authorsData.json
  site/_data/i18n/authors.yaml
  site/en/blog/faster-wasm-debugging/index.md
Labels: P2, reviewers: devtools, content

#2797 Add the private prefetch proxy blog post
  site/_data/authorsData.json
  site/_data/i18n/authors.yaml
  site/en/blog/private-prefetch-proxy/index.md
Labels: DO NOT MERGE

#2826 SharedArrayBuffer deprecation OT postponed until 106
  site/en/blog/coep-credentialless-origin-trial/index.md
  site/en/blog/enabling-shared-array-buffer/index.md
Labels: content update

#2768 Added information about multiple registrations
  site/en/blog/origin-trials/index.md
Labels: P2, content update

#2767 Add FAQ for Topics with prebid.js
  site/en/docs/privacy-sandbox/faq/index.md
Labels: P2, content update

#2849 Adds the workbox-streams guide.
  site/_data/docs/workbox/toc.yml
  site/en/docs/workbox/different-architectures/index.md
  site/en/docs/workbox/faster-multipage-applications-with-streams/index.md
Labels: P2, workbox, content update, content

#2830 add INP tooling blog post
  site/_data/authorsData.json
  site/_data/i18n/authors.yaml
  site/_data/i18n/tags.yml
  site/en/blog/inp-tools-2022/index.md
Labels: P0, content

#2852 Fix broken links in webRequest API
  site/en/docs/extensions/reference/webNavigation/index.md
Labels: extensions

#2858 Update Apps warning link
  site/en/docs/apps/migration/index.md
  site/en/docs/apps/overview/index.md
Labels: content update

#2817 Typo in title
  site/_includes/partials/devtools/en/whats-new.md
  site/en/blog/new-in-devtools-102/index.md
Labels: reviewers: devtools, content update

#2860 Fix example URL TLDs
  site/en/docs/privacy-sandbox/attribution-reporting/index.md
Labels: content update

#2818 Fix typo and add tag
  site/en/blog/run-on-login/index.md
Labels: content update

#2829 Add opt-out information moved from /docs/privacy-sandbox/fledge
  site/en/blog/fledge-api/index.md
  site/en/docs/privacy-sandbox/fledge/index.md
Labels: content update, privacy-sandbox

#2770 Fix "get current window" example
  site/en/docs/extensions/reference/tabs/index.md
Labels: extensions

#2297 Remove interest-cohort from Browsing Topics API
  site/en/docs/privacy-sandbox/topics/index.md
Labels: content update, privacy-sandbox

#2821 fix(WNID102-blog): What's new.md has a sentence repeated
  site/_includes/partials/devtools/en/whats-new.md
Labels: reviewers: devtools

#2874 Remove OB cookies from overview
  site/en/docs/privacy-sandbox/overview/index.md
Labels: content update, privacy-sandbox

#2871 Updated `exclude`'s href to `exclude`
  site/en/docs/extensions/mv3/content_scripts/index.md
Labels: extensions

#2812 DevTools 102 > Elements > Styles > Dark theme shortcut
  site/en/docs/devtools/css/reference/index.md
Labels: reviewers: devtools

#2816 [devtools-translate] Portuguese - What's New in DevTools (Chrome 102)
  site/_includes/partials/devtools/pt/whats-new.md
  site/pt/blog/new-in-devtools-102/index.md
Labels: reviewers: devtools, devtools-translate, translation

#2822 DevTools 102 > Elements > Styles > Inherited pseudo elements
  site/en/docs/devtools/css/reference/index.md
Labels: reviewers: devtools

#2827 DevTools 102 > Copy CSS changes + pick color from anywhere
  site/en/docs/devtools/changes/index.md
  site/en/docs/devtools/css/reference/index.md
Labels: reviewers: devtools

#2813 DevTools 102 > Console > Live Expressions
  site/en/docs/devtools/accessibility/focus/index.md
  site/en/docs/devtools/console/live-expressions/index.md
  site/en/docs/devtools/shortcuts/index.md
Labels: reviewers: devtools

#2698 Fixed CSP broken link
  site/en/docs/extensions/mv3/xhr/index.md
Labels: extensions, content update

#2879 [devtools-translate] Chinese - What's New in DevTools (Chrome 102)
  site/_includes/partials/devtools/zh/whats-new.md
  site/zh/blog/new-in-devtools-102/index.md
Labels: reviewers: devtools, devtools-translate, translation

#2850 [devtools-translate] Russian - What's New in DevTools (Chrome 102)
  site/_includes/partials/devtools/ru/whats-new.md
  site/ru/blog/new-in-devtools-102/index.md
Labels: reviewers: devtools, devtools-translate, translation

#2825 [crx-docs] Fix columns and link APIs in Design UI
  site/en/docs/extensions/mv3/user_interface/index.md
Labels: extensions

#2893 migrate Lighthouse content from d.g.c to d.c.c
  site/_data/docs/lighthouse/toc.yml
  site/en/docs/lighthouse/overview/index.md
  site/en/docs/lighthouse/v3-migration-guide/index.md
Labels: P1, docs, lighthouse, content

#2721 Revise to better reflect MV3 behaviors
  site/en/docs/extensions/mv3/manifest/sandbox/index.md
Labels: extensions, content update

#2911 add icon to lighthouse docs
  site/_data/docs/lighthouse/best-practices/styles.yml
  site/_data/docs/lighthouse/performance/styles.yml
  site/_data/docs/lighthouse/pwa/styles.yml
  site/_data/docs/lighthouse/seo/styles.yml
  site/_data/docs/lighthouse/styles.yml
  site/_scss/_theme.scss
  site/_static/images/project/lighthouse-best-practices.svg
  site/_static/images/project/lighthouse-performance.svg
  site/_static/images/project/lighthouse-pwa.svg
  site/_static/images/project/lighthouse-seo.svg
  site/_static/images/project/lighthouse.svg
Labels: lighthouse

#2910 [cws-doc] Add Trader/Non-Trader developer identification
  site/_data/docs/webstore/toc.yml
  site/en/docs/extensions/whatsnew/index.md
  site/en/docs/webstore/trader-disclosure/index.md
Labels: extensions

#2906 Secure Payment Confirmation collection
  site/_data/i18n/tags.yml
  site/en/articles/authenticate-secure-payment-confirmation/index.md
  site/en/articles/register-secure-payment-confirmation/index.md
  site/en/articles/secure-payment-confirmation/index.md
  site/en/payments/index.md
Labels: content, privacy-sandbox

#2883 [JA] translations privacy-sandbox
  site/ja/docs/privacy-sandbox/attribution-reporting/summary-reports/index.md
  site/ja/docs/privacy-sandbox/glossary/index.md
  site/ja/docs/privacy-sandbox/overview/index.md
  site/ja/docs/privacy-sandbox/trust-tokens/index.md
Labels: translation

#2929 [devtools] Update What's New in DevTools (Chrome 102) video
  site/en/blog/new-in-devtools-102/index.md
  site/es/blog/new-in-devtools-102/index.md
  site/ja/blog/new-in-devtools-102/index.md
  site/pt/blog/new-in-devtools-102/index.md
  site/ru/blog/new-in-devtools-102/index.md
  site/zh/blog/new-in-devtools-102/index.md
Labels: reviewers: devtools

#2907 DevTools > Inspect properties
  site/_data/docs/devtools/toc.yml
  site/_data/i18n/tags.yml
  site/en/docs/devtools/console/reference/index.md
  site/en/docs/devtools/dom/index.md
  site/en/docs/devtools/dom/properties/index.md
Labels: devtools

#2934 [devtools] Remove draft flag
  site/es/blog/new-in-devtools-102/index.md
Labels: reviewers: devtools

#2935 Revert "[devtools] Remove draft flag"
  site/es/blog/new-in-devtools-102/index.md
Labels: reviewers: devtools
