Repository GoogleChrome/developer.chrome.com, pull requests merged in 2022-12, with the labels that each got.

#4248 [devtools-translate] Russian - What's New in DevTools (Chrome 108)
  site/ru/_partials/devtools/whats-new.md
  site/ru/blog/new-in-devtools-108/index.md
Labels: reviewers: devtools, devtools-translate, translation

#4307 Add clarification for final step in MV2 sunset.
  site/en/docs/extensions/mv3/mv2-sunset/index.md
Labels: extensions

#4480 Add IP Protection docs page
  site/_data/docs/privacy-sandbox/toc.yml
  site/en/docs/privacy-sandbox/gnatcatcher/index.md
  site/en/docs/privacy-sandbox/ip-protection/index.md
  site/en/privacy-sandbox/index.njk
Labels: DO NOT MERGE, docs, content

#4339 Add note about search engine override.
  site/en/docs/extensions/mv3/settings_override/index.md
Labels: extensions

#4269 URL.createObjectURL is not supported in service workers
  site/en/docs/extensions/mv3/migrating_to_service_workers/index.md
Labels: extensions

#4448 109 beta post
  site/en/blog/chrome-109-beta/index.md
Labels: DO NOT MERGE, scheduled

#4343 [devtools-translate] Korean - What's New in DevTools (Chrome 108)
  site/ko/_partials/devtools/whats-new.md
  site/ko/blog/new-in-devtools-108/index.md
Labels: reviewers: devtools, devtools-translate, translation

#4468 [JA] Translations
  site/ja/blog/fledge-service-overview/index.md
  site/ja/docs/privacy-sandbox/fedcm/index.md
  site/ja/docs/privacy-sandbox/unified-origin-trial/index.md
Labels: translation

#4432 Tweaks to view-transitions article
  site/en/docs/web-platform/view-transitions/index.md
Labels: content update

#4515 Add IP Protection landing page
  site/_data/docs/privacy-sandbox/toc.yml
  site/en/docs/privacy-sandbox/gnatcatcher/index.md
  site/en/docs/privacy-sandbox/ip-protection/index.md
  site/en/privacy-sandbox/index.njk
Labels: DO NOT MERGE, docs, content

#4519 Set up redirect for IP Protection
  redirects.yaml
  site/en/docs/privacy-sandbox/archive/gnatcatcher/index.md
  site/en/docs/privacy-sandbox/ip-protection/index.md
Labels: docs

#4520 Add landing page for offscreen namespace.
  site/en/docs/extensions/reference/offscreen/index.md
Labels: P1, extensions-reference

#4522 Replace 'MV3+' with 'Manifest V3 or later'
  site/_includes/macros/render-type.njk
Labels: P2, extensions-reference

#4521 New in DevTools 94 content additions
  site/en/docs/devtools/network/reference/index.md
  site/en/docs/devtools/overview/index.md
Labels: devtools

#4545 Unsigned community PRs merge
  site/en/blog/cascade-layers/index.md
  site/en/docs/workbox/modules/workbox-routing/index.md
  site/en/docs/workbox/service-worker-overview/index.md
  site/es/404/index.md
Labels: content update

#4548 [ext-docs] Fix single purpose guidelines title
  site/en/docs/extensions/mv3/single_purpose/index.md
Labels: extensions

#4436 Fix Table of Contents overflow
  site/_includes/partials/navigation-tree.njk
  site/_scss/blocks/_toc.scss
Labels: bug, i18n, design

#4566 Fix typo in title
  site/en/docs/extensions/mv3/mv3-migration/index.md
Labels: extensions

#4570 MV2 deprecation updates
  site/en/blog/more-mv2-transition/index.md
  site/en/docs/extensions/mv3/known-issues/index.md
  site/en/docs/extensions/mv3/mv2-sunset/index.md
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions, content update

#4562 Add permission warning for tabGroups
  site/en/docs/extensions/mv3/permission_warnings/index.md
  site/en/docs/extensions/reference/tabGroups/index.md
Labels: extensions

#4619 Maximize ad relevance
  site/_data/docs/privacy-sandbox/toc.yml
  site/_data/i18n/authors.yaml
  site/en/blog/maximize-ad-relevance/index.md
  site/en/docs/privacy-sandbox/maximize-ad-relevance/index.md
Labels: docs, content

#4564 Clean up extensions tags.
  site/en/blog/crx-scripting-api/index.md
  site/en/blog/cws-analytics-revamp/index.md
  site/en/blog/cws-policy-revamp/index.md
  site/en/blog/extension-manifest-converter/index.md
  site/en/blog/extensions-getting-started-guides/index.md
  site/en/blog/more-mv2-transition/index.md
  site/en/blog/mv2-transition/index.md
  site/en/blog/mv3-actions/index.md
  site/en/blog/new-in-extensions-1/index.md
  site/en/blog/policy-update-2sv/index.md
  site/en/blog/policy-update-kwspam-and-circumvention/index.md
Labels: extensions

#4623 Add redirect for new extensions tag.
  redirects.yaml
Labels: extensions

#4460 Add tag to make URL for 'extensions-news'.
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#4605 [ext-doc] Extension sample page rewrite
  site/en/docs/extensions/mv3/samples/index.md
Labels: extensions

#4627 Link Prerender extension posts
  site/en/blog/extension-instantnav/index.md
  site/en/blog/prerender-pages/index.md
Labels: extensions

#4441 Update the help for the trusted tester UI
  site/en/docs/webstore/publish/index.md
Labels: Chrome-Web-Store

#4646 Attribution Reporting updates
  site/_data/authorsData.json
  site/_data/docs/privacy-sandbox/toc.yml
  site/_data/i18n/authors.yaml
  site/_data/i18n/docs/privacy-sandbox.yml
  site/en/docs/privacy-sandbox/attribution-reporting-experiment/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-updates/index.md
  site/en/docs/privacy-sandbox/attribution-reporting/chrome-shipping/index.md
  site/en/docs/privacy-sandbox/attribution-reporting/index.md
Labels: content, privacy-sandbox

#4648 Add policy updates.
  site/en/docs/webstore/affiliate-ads-faq/index.md
  site/en/docs/webstore/program-policies/affiliate-ads/index.md
  site/en/docs/webstore/program-policies/hate-and-violence/index.md
  site/en/docs/webstore/program-policies/index.njk
  site/en/docs/webstore/program-policies/minimum-functionality/index.md
  site/en/docs/webstore/program-policies/unexpected-behavior/index.md
Labels: extensions

#4649 Add policy updates announcement.
  site/en/blog/cws-policy-revamp-jan23/index.md
Labels: Chrome-Web-Store

#4255 Reduces friction for CUJ "I want to know about the supported manifest keys"
  site/en/_partials/extensions/reusing-prod-extension-id.md
  site/en/docs/extensions/mv3/manifest/default_locale/index.md
  site/en/docs/extensions/mv3/manifest/description/index.md
  site/en/docs/extensions/mv3/manifest/externally_connectable/index.md
  site/en/docs/extensions/mv3/manifest/icons/index.md
  site/en/docs/extensions/mv3/manifest/index.md
  site/en/docs/extensions/mv3/manifest/key/index.md
  site/en/docs/extensions/mv3/manifest/manifest_version/index.md
  site/en/docs/extensions/mv3/manifest/name/index.md
  site/en/docs/extensions/mv3/manifest/sandbox/index.md
  site/en/docs/extensions/mv3/manifest/version/index.md
  site/en/docs/extensions/mv3/shared_modules/index.md
  site/en/docs/extensions/reference/permissions/index.md
Labels: extensions, content update

#4674 Added three Chrome Concepts docs
  site/_data/docs/web-platform/toc.yml
  site/_data/i18n/docs/web-platform.yml
  site/en/docs/web-platform/chrome-flags/index.md
  site/en/docs/web-platform/chrome-release-channels/index.md
  site/en/docs/web-platform/chrome-variations/index.md
Labels: content

#4527 Update staging environment
  .cloudbuild/stage.yaml
  .github/workflows/check.yml
  .gitignore
  gulp-tasks/stageGitHub/awaitGoogleCloudBuild.js
  gulp-tasks/stageGitHub/buildAnnouncementComment.js
  gulp-tasks/stageGitHub/determineDeploymentType.js
  gulp-tasks/stageGitHub/index.js
  gulp-tasks/stageGitHub/lib/fetchGitHubApi.js
  gulp-tasks/stageGitHub/tmp/.gitkeep
  package-lock.json
  package.json
  server/handlers/static/bucket.js
Labels: DO NOT MERGE
