Repository GoogleChrome/developer.chrome.com, pull requests merged in 2022-08, with the labels that each got.

#3135 Add note about restricted CDP domains
  site/en/docs/extensions/reference/debugger/index.md
Labels: content update

#3191 Typo in workbox docs
  site/en/docs/workbox/improving-development-experience/index.md
Labels: workbox

#3307 docs: fix explainer link
  site/en/blog/intersectionobserver/index.md
Labels: content update

#3247 DevTools 104 > Performance > Hardware concurrency
  site/en/docs/devtools/evaluate-performance/reference/index.md
Labels: DO NOT MERGE, reviewers: devtools

#3278 DevTools 104 > Application > Back/forward cache > Frames
  site/en/docs/devtools/application/back-forward-cache/index.md
Labels: DO NOT MERGE, reviewers: devtools, devtools

#3285 DevTools 104 > Performance Insights > User timings
  site/en/docs/devtools/performance-insights/index.md
Labels: DO NOT MERGE, reviewers: devtools

#3340 Devtools 104 > Recorder > Slow replay + Export extension
  site/en/docs/devtools/recorder/index.md
  site/en/docs/devtools/recorder/reference/index.md
Labels: DO NOT MERGE, reviewers: devtools

#3277 Devtools 104 > Sources > Authored vs deployed
  site/en/docs/devtools/javascript/sources/index.md
Labels: DO NOT MERGE, reviewers: devtools

#3331 Devtools 104 > Elements > Badges reference
  site/_data/docs/devtools/toc.yml
  site/en/docs/devtools/elements/badges/index.md
Labels: reviewers: devtools, devtools

#3326 FAQs date change
  site/en/docs/privacy-sandbox/faq/index.md
Labels: content update

#3253 Container Queries + :has() Post
  site/en/blog/has-with-cq-m105/index.md
Labels: beta-related

#3315 Clarify Domain Verification
  site/en/docs/extensions/mv3/settings_override/index.md
Labels: extensions, content update

#3343 Bulletin for Updates to Navigation API
  site/en/blog/navigateevent-intercept/index.md
Labels: beta-related, content

#3374 Update UA image
  site/en/docs/privacy-sandbox/user-agent/index.md
Labels: content update, privacy-sandbox

#3220 Update the extension version rules to match the API response
  site/en/docs/extensions/mv3/manifest/version/index.md
Labels: extensions

#3299 [devtools-translate] Spanish - What's New in DevTools (Chrome 104)
  site/_includes/partials/devtools/es/whats-new.md
  site/es/blog/new-in-devtools-104/index.md
Labels: reviewers: devtools, devtools-translate, i18n, translation

#3123 Announce wasm CSP change in MV3
  redirects.yaml
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#3309 FedCM updates for Chrome 105
  site/en/blog/fedcm-origin-trial/index.md
  site/en/docs/privacy-sandbox/fedcm/index.md
Labels: DO NOT MERGE, privacy-sandbox

#3389 [JA] Update translation of privacy sandbox articles
  site/ja/docs/privacy-sandbox/fledge-experiment/index.md
  site/ja/docs/privacy-sandbox/topics-experiment/index.md
  site/ja/docs/privacy-sandbox/topics/index.md
Labels: translation

#3406 Attribution Reporting system overview
  site/_data/docs/privacy-sandbox/toc.yml
  site/_data/i18n/docs/privacy-sandbox.yml
  site/en/docs/privacy-sandbox/attribution-reporting/system-overview/index.md
Labels: content, privacy-sandbox

#3417 Fix noise diagram
  site/en/docs/privacy-sandbox/attribution-reporting/system-overview/index.md
Labels: content update, privacy-sandbox

#3289 [devtools-translate] Russian - What's New in DevTools (Chrome 104)
  site/_includes/partials/devtools/ru/whats-new.md
  site/ru/blog/new-in-devtools-104/index.md
Labels: reviewers: devtools, devtools-translate, i18n, translation

#3287 [devtools-translate] Chinese - What's New in DevTools (Chrome 104)
  site/_includes/partials/devtools/zh/whats-new.md
  site/zh/blog/new-in-devtools-104/index.md
Labels: reviewers: devtools, devtools-translate, i18n, translation

#3424 Fix link to the authors yaml file
  site/en/docs/handbook/how-to/add-an-author/index.md
Labels: content

#3384 CRX What's New updates
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions, content update

#3425 Add warning for the Favicon API
  site/en/docs/extensions/mv3/permission_warnings/index.md
Labels: extensions, content update

#3430 Add info about author profile
  site/en/docs/handbook/how-to/add-an-author/index.md
Labels: content

#3414 DevTools Tips 12 > Animations tab refresh + promo post
  site/en/blog/devtools-tips-12/index.md
  site/en/docs/devtools/css/animations/index.md
  site/en/docs/devtools/css/reference/index.md
Labels: reviewers: devtools

#3429 [devtools] Mention Testcafe and Sauce Labs
  site/en/docs/devtools/recorder/reference/index.md
Labels: reviewers: devtools

#3431 [devtools] Mention WebPageTest
  site/en/docs/devtools/recorder/reference/index.md
Labels: reviewers: devtools

#3433 What's New in DevTools (Chrome 105)
  site/_includes/partials/devtools/en/whats-new.md
  site/_includes/partials/devtools/es/whats-new.md
  site/_includes/partials/devtools/ja/whats-new.md
  site/_includes/partials/devtools/ko/whats-new.md
  site/_includes/partials/devtools/pt/whats-new.md
  site/_includes/partials/devtools/ru/whats-new.md
  site/_includes/partials/devtools/zh/whats-new.md
  site/en/blog/new-in-devtools-105/index.md
  site/es/blog/new-in-devtools-105/index.md
  site/ja/blog/new-in-devtools-105/index.md
  site/ko/blog/new-in-devtools-105/index.md
  site/pt/blog/new-in-devtools-105/index.md
  site/ru/blog/new-in-devtools-105/index.md
  site/zh/blog/new-in-devtools-105/index.md
Labels: reviewers: devtools

#3392 DevTools 96 > Elements > Styles > Copy as JS
  site/en/docs/devtools/css/reference/index.md
Labels: reviewers: devtools

#3443 [JA translation] Align with the dictionary
  site/ja/blog/new-in-devtools-93/index.md
  site/ja/docs/privacy-sandbox/attribution-reporting-experiment/index.md
  site/ja/docs/privacy-sandbox/attribution-reporting-introduction/index.md
  site/ja/docs/privacy-sandbox/attribution-reporting-migration/index.md
  site/ja/docs/privacy-sandbox/attribution-reporting/index.md
  site/ja/docs/privacy-sandbox/attribution-reporting/summary-reports/index.md
  site/ja/docs/privacy-sandbox/feedback/index.md
  site/ja/docs/privacy-sandbox/feedback/report-2022-q1.md
  site/ja/docs/privacy-sandbox/fenced-frame/index.md
  site/ja/docs/privacy-sandbox/glossary/index.md
  site/ja/docs/privacy-sandbox/status/index.md
  site/ja/docs/privacy-sandbox/topics/index.md
Labels: translation, privacy-sandbox

#3445 update timeline
  site/en/blog/private-network-access-update/index.md
Labels: content update

#3456 [devtools] Fix minor typo
  site/zh/blog/new-in-devtools-100/index.md
Labels: reviewers: devtools, devtools

#3460 Removes intersection observer post and redirects to the web.dev version.
  redirects.yaml
  site/en/blog/intersectionobserver/index.md
Labels: P2, content update

#3412 Fix executeScript's files array
  site/en/docs/extensions/mv3/intro/mv3-migration/index.md
Labels: extensions

#3452 Fixed the keyboard shortcut to open the Command menu
  site/en/docs/devtools/css/animations/index.md
Labels: content update

#3473 [devtools] Add Nightwatch to the docs and reorganize content
  site/en/docs/devtools/recorder/reference/index.md
Labels: reviewers: devtools, devtools

#3472 [devtools] Add a call to action to Recorder reference at the end
  site/en/docs/devtools/recorder/index.md
Labels: devtools

#3474 DevTools Tips 7 promo post backfill + doc upd
  site/en/blog/devtools-tips-7/index.md
  site/en/docs/devtools/css/grid/index.md
  site/en/docs/devtools/css/reference/index.md
Labels: reviewers: devtools

#3233 Privacy Sandbox landing page
  redirects.yaml
  site/_data/docs/privacy-sandbox/toc.yml
  site/_includes/macros/cards/hero-card-wide.njk
  site/_includes/macros/landing-section-expanded.njk
  site/_includes/macros/landing-section-usecases.njk
  site/_includes/macros/related-articles.njk
  site/_scss/blocks/_hero-card.scss
  site/_scss/blocks/_landing-section-expanded.scss
  site/_scss/main.scss
  site/en/docs/privacy-sandbox/fledge-best-practices/index.md
  site/en/docs/privacy-sandbox/fledge/index.md
  site/en/docs/privacy-sandbox/gnatcatcher/index.md
  site/en/docs/privacy-sandbox/permissions-policy/index.md
  site/en/docs/privacy-sandbox/privacy-budget/index.md
  site/en/docs/privacy-sandbox/topics-experiment/index.md
  site/en/docs/privacy-sandbox/topics/index.md
  site/en/docs/privacy-sandbox/user-agent/index.md
  site/en/docs/privacy-sandbox/user-agent/snippets/index.md
  site/en/privacy-sandbox/index.njk
Labels: DO NOT MERGE, privacy-sandbox

#3121 Minor change: added Beta to chrome://topics-internals browsers
  site/en/docs/privacy-sandbox/topics/index.md
Labels: content update, privacy-sandbox

#3489 [devtools] Add Cypress recorder extension
  site/en/docs/devtools/recorder/reference/index.md
Labels: reviewers: devtools, devtools

#2776 Fix quoting error in Migrating From section
  site/en/docs/privacy-sandbox/permissions-policy/index.md
Labels: P2, content update, privacy-sandbox

#3381 Devtools 96 > Elements > Styles > Change length
  site/en/docs/devtools/css/index.md
  site/en/docs/devtools/css/reference/index.md
Labels: reviewers: devtools

#3502 [devtools] Add Testing Library recorder extension
  site/en/docs/devtools/recorder/reference/index.md
Labels: reviewers: devtools

#3512 [devtools] Troubleshooting section for extension
  site/en/docs/devtools/recorder/reference/index.md
Labels: reviewers: devtools, devtools

#3523 Publish FLEDGE Key/Value service blog post
  site/en/blog/open-sourcing-fledge-key-value-service/index.md
Labels: content, privacy-sandbox

#3475 Add shared stroage origin trial information
  site/en/docs/privacy-sandbox/shared-storage/index.md
Labels: content update, privacy-sandbox

#3526 [devtools] Update 105 video link
  site/en/blog/new-in-devtools-105/index.md
  site/ja/blog/new-in-devtools-105/index.md
  site/ru/blog/new-in-devtools-105/index.md
Labels: devtools

#3447 Fixed broken link in the documentation of Events
  site/en/docs/extensions/reference/events/index.md
Labels: extensions, content update

#2913 [extension-docs] Fix broken link
  site/en/docs/webstore/troubleshooting/index.md
Labels: extensions, content update

#2868 [extension-docs] Fixes typo in extension intro page.
  site/en/docs/extensions/mv3/getstarted/index.md
Labels: extensions

#3517 FLEDGE services
  site/en/blog/fledge-service-overview/index.md
Labels: DO NOT MERGE, content, privacy-sandbox

#3528 Add reference to WebdriverIO Recorder Extension
  site/en/docs/devtools/recorder/reference/index.md
Labels: reviewers: devtools, devtools

#3543 Update FLEDGE services timeline
  site/en/blog/fledge-service-overview/index.md
Labels: content update

#3542 Add Key/Value service info to the FLEDGE docs
  site/en/blog/fledge-api/index.md
  site/en/docs/privacy-sandbox/fledge/index.md
Labels: docs

#2169 Extensions docs: cookies: fix `host_permissions` typo
  site/en/docs/extensions/reference/cookies/index.md
Labels: extensions

#3471 [devtools-translate] Portuguese - What's New in DevTools (Chrome 105) #3441
  site/_includes/partials/devtools/pt/whats-new.md
  site/pt/blog/new-in-devtools-105/index.md
Labels: reviewers: devtools, devtools-translate, translation

#3454 [devtools-translate] Chinese - What's New in DevTools (Chrome 105)
  site/_includes/partials/devtools/zh/whats-new.md
  site/zh/blog/new-in-devtools-105/index.md
Labels: reviewers: devtools, devtools-translate, i18n

#3501 [devtools-translate] Korean - What's New in DevTools (Chrome 105)
  site/_includes/partials/devtools/ko/whats-new.md
  site/ko/blog/new-in-devtools-105/index.md
Labels: reviewers: devtools, devtools-translate, translation

#1876 Updated snippet: executeScript prop name from function to func in the given example
  site/en/docs/extensions/mv3/getstarted/index.md
Labels: extensions

#3538 [devtools-translate] Japanese - What's New in DevTools (Chrome 105)
  site/_includes/partials/devtools/ja/whats-new.md
  site/ja/blog/new-in-devtools-105/index.md
Labels: devtools-translate, translation

#3493 DevTools 105 > Elements > Styles > @scope
  site/en/docs/devtools/css/reference/index.md
Labels: DO NOT MERGE

#3514 DevTools 105 > Sources > Live editing
  site/en/docs/devtools/javascript/index.md
  site/en/docs/devtools/javascript/reference/index.md
Labels: DO NOT MERGE, reviewers: devtools

#3464 DevTools 105 > Recorder > Breakpoints and step through
  site/en/docs/devtools/recorder/index.md
  site/en/docs/devtools/recorder/reference/index.md
Labels: DO NOT MERGE, reviewers: devtools

#3466 DevTools 105 > Perf insights > LCP badge
  site/en/docs/devtools/performance-insights/index.md
Labels: DO NOT MERGE, reviewers: devtools

#3525 DevTools 105 > Application > Manifest > Protocol Handlers
  redirects.yaml
  site/en/docs/devtools/progressive-web-apps/index.md
Labels: DO NOT MERGE, reviewers: devtools

#3589 Broken puppeteer links
  site/en/blog/headless-chrome/index.md
Labels: content update, content

#3468 [EXT-DOC] Remove Web APIs docs
  site/en/docs/extensions/api_other/index.md
  site/en/docs/extensions/mv2/devtools/index.md
  site/en/docs/extensions/mv2/faq/index.md
  site/en/docs/extensions/mv3/devtools/index.md
  site/en/docs/extensions/mv3/faq/index.md
  site/en/docs/extensions/reference/experimental/index.md
Labels: extensions

#3515 [EXT-DOC] Reduces friction for Runtime API CUJ
  site/en/docs/extensions/reference/runtime/index.md
Labels: extensions

#3524 [EXT-DOC] Add headers to MV3 migration checklist
  site/en/docs/extensions/mv3/mv3-migration-checklist/index.md
Labels: extensions
