Repository GoogleChrome/developer.chrome.com, pull requests merged in 2022-09, with the labels that each got.

#3594 [EXT-DOC] Reduces friction for Manifest V3 Welcome page
  site/en/docs/extensions/mv3/intro/index.md
Labels: extensions

#3587 [devtools-translate] Russian - What's New in DevTools (Chrome 105)
  site/_includes/partials/devtools/ru/whats-new.md
  site/ru/blog/new-in-devtools-105/index.md
Labels: reviewers: devtools, devtools-translate

#3556 Update popup link
  site/en/blog/top-layer-devtools/index.md
Labels: content update, content

#3631 [EXT-DOC] Add placeholder convention to Handbook
  site/en/docs/handbook/extensions/index.md
Labels: extensions

#3650 Edited headline for ARA
  site/en/docs/privacy-sandbox/attribution-reporting/index.md
Labels: content update, privacy-sandbox

#3503 Update index.md
  site/en/blog/timer-throttling-in-chrome-88/index.md
Labels: content update, content

#3646 Increase color contrast by using shades one level darker
  site/_scss/_theme.scss
Labels: eng

#3607 Use public Lighthouse CI storage and fix avatar causing `image-aspect-ratio` error
  .github/workflows/lighthouse-ci.yml
  lighthouserc.js
  site/_data/authorsData.json
Labels: chore

#3647 Add unified origin trial landing page
  site/_data/docs/privacy-sandbox/toc.yml
  site/en/docs/privacy-sandbox/unified-origin-trial/index.md
  site/en/privacy-sandbox/index.njk
  site/ja/privacy-sandbox/index.njk
Labels: DO NOT MERGE, content

#3667 Add more horizontal space.
  site/en/docs/extensions/reference/events/index.md
Labels: extensions

#3626 [devtools-engineering] Add Extending the Memory Inspector for C/C++ debugging blog post
  site/en/blog/memory-inspector-extended-cpp/index.md
Labels: reviewers: devtools

#3687 Switch from light grey to dark blue for code comment highlighting
  site/_scss/_theme.scss
Labels: eng - UI, eng

#3726 [devtools] What's New in DevTools (Chrome 106)
  site/_includes/partials/devtools/en/reach-out.md
  site/_includes/partials/devtools/en/whats-new.md
  site/en/blog/new-in-devtools-106/index.md
Labels: DO NOT MERGE, reviewers: devtools, devtools

#3719 Add Privacy Sandbox Office Hours 5 event
  site/en/docs/privacy-sandbox/events/index.md
Labels: content update

#3658 Add support for anchor redirects
  site/_data/docs/handbook/toc.yml
  site/_includes/layouts/base.njk
  site/en/docs/handbook/how-to/create-anchor-redirects/index.md
Labels: eng

#3732 [devtools] WNDT 106 translation templates
  site/_includes/partials/devtools/es/whats-new.md
  site/_includes/partials/devtools/ja/whats-new.md
  site/_includes/partials/devtools/ko/whats-new.md
  site/_includes/partials/devtools/pt/whats-new.md
  site/_includes/partials/devtools/ru/whats-new.md
  site/_includes/partials/devtools/zh/whats-new.md
  site/es/blog/new-in-devtools-106/index.md
  site/ja/blog/new-in-devtools-106/index.md
  site/ko/blog/new-in-devtools-106/index.md
  site/pt/blog/new-in-devtools-106/index.md
  site/ru/blog/new-in-devtools-106/index.md
  site/zh/blog/new-in-devtools-106/index.md
Labels: reviewers: devtools

#3743 [JA] Translations - Privacy Sandbox
  site/ja/blog/storage-partitioning-dev-trial/index.md
  site/ja/docs/privacy-sandbox/use-shared-storage/index.md
Labels: i18n

#3716 Get `locale` from context for `{% aside %}` shortcode.
  site/_shortcodes/Aside.js
  tests/site/_shortcodes/Aside.js
Labels: eng

#3704 Update fenced frames origin trials time period
  site/en/docs/privacy-sandbox/fenced-frame/index.md
Labels: content update

#3750 [JA] Translate fledge-api and storage-partitioning
  site/ja/blog/fledge-api/index.md
  site/ja/docs/privacy-sandbox/storage-partitioning/index.md
Labels: i18n

#3774 [devtools] What's New in DevTools (Chrome 107)
  site/_includes/partials/devtools/en/whats-new.md
  site/_includes/partials/devtools/es/whats-new.md
  site/_includes/partials/devtools/ja/whats-new.md
  site/_includes/partials/devtools/ko/whats-new.md
  site/_includes/partials/devtools/pt/whats-new.md
  site/_includes/partials/devtools/ru/whats-new.md
  site/_includes/partials/devtools/zh/whats-new.md
  site/en/blog/new-in-devtools-107/index.md
  site/es/blog/new-in-devtools-107/index.md
  site/ja/blog/new-in-devtools-107/index.md
  site/ko/blog/new-in-devtools-107/index.md
  site/pt/blog/new-in-devtools-107/index.md
  site/ru/blog/new-in-devtools-107/index.md
  site/zh/blog/new-in-devtools-107/index.md
Labels: reviewers: devtools

#3628 [devtools-translate] Korean - What's New in DevTools (Chrome 104)
  site/_includes/partials/devtools/ko/whats-new.md
  site/ko/blog/new-in-devtools-104/index.md
Labels: reviewers: devtools, devtools-translate

#3730 [Web custom formats article] Add screenshot
  site/en/blog/web-custom-formats-for-the-async-clipboard-api/index.md
Labels: content update

#3648 Add fully qualified namespace paths to algolia documents
  site/_collections/algolia.js
  site/_utils/getChromeApiNamespacePaths.js
  tests/site/utils/getChromeApiNamespacePaths.js
  types/site/_collections/algolia.d.ts
Labels: eng

#3797 Adding pwa summit registration banner
  site/_data/banner.yml
Labels: DO NOT MERGE

#3071 note "session" storage area shipped
  site/en/docs/extensions/mv3/intro/mv3-overview/index.md
Labels: extensions

#3793 fix typo in chrome extension documentation
  site/en/docs/extensions/mv3/content_scripts/index.md
Labels: extensions

#3676 Clarify how service workers interact with `runtime.onSuspend`
  site/en/docs/extensions/mv3/service_workers/index.md
Labels: extensions, content update

#3795 DevTools 106 > Modern web debugging
  site/en/blog/new-in-devtools-106/index.md
  site/en/docs/devtools/command-menu/index.md
  site/en/docs/devtools/console/reference/index.md
  site/en/docs/devtools/javascript/reference/index.md
  site/en/docs/devtools/javascript/sources/index.md
Labels: DO NOT MERGE, devtools

#3829 DevTools 106 > console.createTask
  site/en/docs/devtools/console/api/index.md
Labels: devtools

#3804 DevTools 106 > Performance
  site/en/docs/devtools/evaluate-performance/reference/index.md
  site/en/docs/devtools/performance-insights/index.md
Labels: DO NOT MERGE, devtools

#3828 [devtools] Add relevant a11y videos in blog post
  site/en/blog/full-accessibility-tree/index.md
Labels: reviewers: devtools

#3786 Events page
  .eleventy.js
  gulp-tasks/sass.js
  package-lock.json
  rollup.config.js
  site/_collections/events.js
  site/_data/authorsData.json
  site/_data/i18n/authors.yaml
  site/_data/i18n/events.yml
  site/_includes/icons/calendar.svg
  site/_includes/icons/clock.svg
  site/_includes/icons/launch.svg
  site/_includes/icons/pin.svg
  site/_includes/icons/slides.svg
  site/_includes/icons/video.svg
  site/_includes/layouts/events.njk
  site/_includes/partials/events-hero.njk
  site/_includes/partials/events-list.njk
  site/_js/events.js
  site/_js/utils/truncate-string.js
  site/_js/web-components/enhanced-event-card.js
  site/_js/web-components/truncate-text.js
  site/_scss/blocks/_event-card.scss
  site/_scss/blocks/_events-hero.scss
  site/_scss/blocks/_events-list.scss
  site/_scss/events-main.scss
  site/_shortcodes/EventCard.js
  site/_shortcodes/EventSessionCard.js
  site/en/meet-the-team/events/an-event-apart/index.md
  site/en/meet-the-team/events/devfest-nantes/index.md
  site/en/meet-the-team/events/events.11tydata.js
  site/en/meet-the-team/events/fronteers-conference/index.md
  site/en/meet-the-team/events/fullstack-europe/index.md
  site/en/meet-the-team/events/gdg-cloud-munich-october-meetup/index.md
  site/en/meet-the-team/events/infobip-shift/index.md
  site/en/meet-the-team/events/jsconf-korea/index.md
  site/en/meet-the-team/events/modern-frontends-live/index.md
  site/en/meet-the-team/events/munich-frontend-meetup/index.md
  site/en/meet-the-team/events/performance-now/index.md
  site/en/meet-the-team/events/pwa-summit/index.md
  site/en/meet-the-team/events/smashing-conf-nyc/index.md
  site/en/meet-the-team/events/state-of-the-browser/index.md
  site/en/meet-the-team/events/test-flix-2022/index.md
  site/en/meet-the-team/events/w3c-developer-meetup/index.md
  site/en/meet-the-team/events/web-directions-summit-2022/index.md
  site/en/meet-the-team/events/web-summer-camp-croatia/index.md
  site/en/meet-the-team/events/web-unleashed/index.md
  site/en/meet-the-team/index.md
  tests/site/_js/utils/truncate-string.js
Labels: DO NOT MERGE

#3839 What's new in Chrome Extensions updates
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#3874 Manifest V2 sunset bugfix
  site/en/docs/extensions/mv3/mv2-sunset/index.md
Labels: extensions, content update

#3844 DevTools Tips 14 > Edit, debug, and export user flow recordings
  site/en/blog/devtools-tips-14/index.md
Labels: devtools

#3283 Topics proposal updates [DO NOT MERGE]
  site/en/docs/privacy-sandbox/topics/index.md
Labels: DO NOT MERGE, content update, privacy-sandbox
