Repository GoogleChrome/developer.chrome.com, pull requests merged in 2023-06, with the labels that each got.

#6470 Copy edit of user_interface page.
  site/en/docs/extensions/mv3/user_interface/index.md
Labels: extensions

#6479 Update mv2-sunset page to reflect latest MV3 timeline post.
  site/en/docs/extensions/migrating/mv2-sunset/index.md
Labels: extensions

#6483 publish topics integration guide
  site/_data/authorsData.json
  site/_data/docs/privacy-sandbox/toc.yml
  site/_data/i18n/authors.yaml
  site/_data/i18n/docs/privacy-sandbox.yml
  site/en/docs/privacy-sandbox/topics/integration-guide/index.md
Labels: DO NOT MERGE

#6394 Updated xhr page to general Cross Origin Requests page
  site/en/docs/extensions/mv3/xhr/index.md
Labels: extensions, content update

#6491 Remove reference to Chrome App.
  site/en/docs/extensions/reference/tts/index.md
Labels: extensions

#6490 Remove reference to unsupported products.
  site/en/docs/extensions/reference/ttsEngine/index.md
Labels: extensions

#6489 Remove a reference to Chrome apps.
  site/en/docs/extensions/mv3/i18n-messages/index.md
Labels: extensions

#6372 [ext-docs] Restructure Permission warnings
  site/en/docs/extensions/mv3/declare_permissions/index.md
  site/en/docs/extensions/mv3/manifest/activeTab/index.md
  site/en/docs/extensions/mv3/permission_warnings/index.md
  site/en/docs/extensions/reference/permissions/index.md
Labels: extensions

#6484 Adds links to CWS best practices
  site/en/docs/webstore/program-policies/best-practices/index.md
Labels: Chrome-Web-Store

#6469 What's new in DevTools (115)
  site/en/_partials/devtools/whats-new.md
  site/en/blog/new-in-devtools-115/index.md
Labels: P1, devtools, Medium

#6509 Duplication clean up from tutorial
  site/en/docs/extensions/mv3/getstarted/tut-quick-reference/index.md
Labels: extensions

#6521 Fetch vs. XHR is not really a security consideration.
  redirects.yaml
  site/en/docs/extensions/mv3/network-requests/index.md
Labels: extensions

#6496 Add PAA 7% OT information
  site/en/docs/privacy-sandbox/unified-origin-trial/index.md
Labels: privacy-sandbox

#6488 Add testing tool to 'What's new'.
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#6528 Add event-level reporting status for shared storage
  site/en/_partials/privacy-sandbox/timeline/shared-storage-features.md
Labels: privacy-sandbox

#6524 Action sample text.
  site/en/docs/extensions/reference/action/index.md
Labels: extensions

#6537 Clean out mv2 references in Web Accessible Resources
  site/en/docs/extensions/mv3/manifest/web_accessible_resources/index.md
Labels: extensions

#6473 Remove deprecated event_rules manifest key
  site/en/docs/extensions/mv2/manifest/event_rules/index.md
  site/en/docs/extensions/mv3/manifest/index.md
Labels: extensions

#6517 [OPFS article] Migrate article to web.dev
  redirects.yaml
  site/en/articles/origin-private-file-system/index.md
  site/en/articles/origin-private-file-system/opfs.excalidraw
Labels: DO NOT MERGE

#6554 DevTools: Debug C/C++ Wasm
  site/_data/docs/devtools/toc.yml
  site/_data/i18n/tags.yml
  site/en/docs/devtools/memory-inspector/index.md
  site/en/docs/devtools/wasm/index.md
Labels: P2, devtools, Medium

#6540 [2023-06-12] Add blog post on Chrome for Testing
  site/en/blog/chrome-for-testing/index.md
Labels: DO NOT MERGE

#6435 Fix grammar in webNavigation API
  site/en/docs/extensions/reference/webNavigation/index.md
Labels: extensions

#6609 WNDT 114 backfill: Web Vitals track removed
  site/en/blog/new-in-devtools-114/index.md
  site/en/docs/devtools/performance/reference/index.md
Labels: P0, devtools, Small

#6618 [cws] Revert categories update in Best practices
  site/en/docs/webstore/best_practices/index.md
  site/en/docs/webstore/discovery/index.md
Labels: Chrome-Web-Store

#6629 Add link to status page
  site/en/docs/privacy-sandbox/feedback/index.md
Labels: DO NOT MERGE, docs, content update

#6628 Update bounce tracking mitigations
  site/en/_partials/privacy-sandbox/timeline/bounce-tracking.md
  site/en/docs/privacy-sandbox/bounce-tracking-mitigations/index.md
Labels: DO NOT MERGE, docs, content update, content

#6633 Tweak title for Chrome Extensions GA4 tutorial
  site/en/docs/extensions/mv3/tut_analytics/index.md
Labels: extensions

#6632 Fix code typo in index.md
  site/en/docs/extensions/migrating/api-calls/index.md
Labels: extensions

#6593 Updates links to mv3 samples and removes deprecated links to mv2 samples
  site/en/docs/extensions/reference/declarativeNetRequest/index.md
  site/en/docs/extensions/reference/devtools_inspectedWindow/index.md
  site/en/docs/extensions/reference/devtools_network/index.md
  site/en/docs/extensions/reference/devtools_panels/index.md
  site/en/docs/extensions/reference/fontSettings/index.md
  site/en/docs/extensions/reference/input_ime/index.md
  site/en/docs/extensions/reference/pageAction/index.md
  site/en/docs/extensions/reference/scripting/index.md
  site/en/docs/extensions/reference/topSites/index.md
  site/en/docs/extensions/reference/webNavigation/index.md
  site/en/docs/extensions/reference/webRequest/index.md
Labels: extensions

#6653 Updated requirements key page
  site/en/docs/extensions/mv3/manifest/requirements/index.md
Labels: extensions

#6582 richNotifications Page update for mv3
  site/en/docs/extensions/mv3/richNotifications/index.md
Labels: extensions

#6656 add geolocation docs
  site/_data/docs/extensions/toc.yml
  site/en/docs/extensions/mv3/geolocation/index.md
Labels: extensions

#6668 Fix links in Permissions article
  site/en/docs/extensions/mv3/declare_permissions/index.md
Labels: extensions

#6634 Add "What's new" item for new GA4 tutorial and sample
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#6672 What's new in DevTools 116
  site/en/_partials/devtools/whats-new.md
  site/en/blog/new-in-devtools-114/index.md
  site/en/blog/new-in-devtools-115/index.md
  site/en/blog/new-in-devtools-116/index.md
Labels: P2, devtools, Medium

#6566 Add new material to service worker section.
  site/en/docs/extensions/mv3/service_workers/service-worker-lifecycle/index.md
Labels: extensions

#6583 Protect privacy mv3 update
  site/en/docs/extensions/mv3/user_privacy/index.md
Labels: extensions

#6584 Mv3 security page update
  site/en/docs/extensions/mv3/security/index.md
Labels: extensions

#6706 Create privacy sandbox demos blog
  site/_data/authorsData.json
  site/_data/i18n/authors.yaml
  site/en/blog/privacy-sandbox-demos/index.md
Labels: DO NOT MERGE, docs, content

#6712 Update author information
  site/_data/authorsData.json
Labels: DO NOT MERGE

#6713 DevTools Tips 21: Local and session storage promo post
  site/en/blog/devtools-tips-21/index.md
Labels: P0, Small

#6724 Removes mention of event page and erroneous information in storage manifest key page
  site/en/docs/extensions/mv3/manifest/storage/index.md
Labels: extensions

#6546 Updated Extension sandbox page article
  site/en/docs/extensions/mv3/sandboxingEval/index.md
Labels: extensions
