Repository GoogleChrome/developer.chrome.com, pull requests merged in 2023-01, with the labels that each got.

#4332 Outdated single client information at chrome.debugger
  site/en/docs/extensions/reference/debugger/index.md
Labels: extensions, devtools

#4769 [ext-docs] Removes link to offline_document
  site/en/docs/extensions/mv3/manifest/index.md
Labels: extensions

#4549 Group publisher
  site/en/docs/webstore/group-publishers/index.md
Labels: Chrome-Web-Store

#4766 Devtools Tips 17: Debug Project Fugu APIs
  redirects.yaml
  site/_data/docs/devtools/toc.yml
  site/en/blog/devtools-tips-17/index.md
  site/en/docs/devtools/device-mode/geolocation/index.md
  site/en/docs/devtools/device-mode/index.md
  site/en/docs/devtools/device-mode/orientation/index.md
  site/en/docs/devtools/sensors/index.md
Labels: devtools

#4792 Add sw lifetime changes announcement.
  site/en/docs/extensions/whatsnew/index.md
Labels: P0, extensions

#4312 Use clearer terminology in service worker docs
  site/en/docs/extensions/mv3/service_workers/index.md
Labels: extensions

#4805 Fix wording of how events should be registered.
  site/en/docs/extensions/mv3/service_workers/index.md
Labels: extensions

#3837 [extension-docs] Add manifest key pages: author, automation, CSP, input_component
  site/en/docs/extensions/mv3/manifest/author/index.md
  site/en/docs/extensions/mv3/manifest/automation/index.md
  site/en/docs/extensions/mv3/manifest/content_security_policy/index.md
  site/en/docs/extensions/mv3/manifest/input_component/index.md
Labels: extensions, content

#4482 [ext-doc] Extension Architecture rewrite
  site/en/docs/extensions/mv3/architecture-overview/index.md
  site/en/docs/extensions/mv3/content_scripts/index.md
  site/en/docs/extensions/mv3/options/index.md
Labels: extensions, content, Medium

#4826 CrUX: January release of December dataset
  site/en/docs/crux/release-notes/index.md
Labels: DO NOT MERGE

#4842 [devtools] What's New in DevTools (Chrome 109)
  site/en/_partials/devtools/whats-new.md
  site/en/blog/new-in-devtools-109/index.md
Labels: reviewers: devtools, devtools

#4803 Make the capitalization of the #ssp anchor consistent
  site/en/docs/privacy-sandbox/glossary/index.md
Labels: privacy-sandbox

#4620 Add SQLite Wasm article
  site/en/blog/sqlite-wasm-in-the-browser-backed-by-the-origin-private-file-system/index.md
Labels: DO NOT MERGE

#4861 Add iframe credentialless blog post
  site/en/blog/anonymous-iframe-origin-trial/index.md
  site/en/blog/iframe-credentialless/index.md
Labels: DO NOT MERGE

#4641 fix: translation of [Does not use]
  site/zh/docs/lighthouse/best-practices/uses-http2/index.md
Labels: i18n

#4806 DevTools 109: Performance > Sourcemap support
  redirects.yaml
  site/_data/docs/devtools/toc.yml
  site/en/docs/devtools/performance/index.md
  site/en/docs/devtools/performance/reference/index.md
  site/en/docs/devtools/performance/timeline-reference/index.md
Labels: DO NOT MERGE, devtools

#4821 DevTools 109: New shortctus
  site/en/docs/devtools/shortcuts/index.md
Labels: DO NOT MERGE

#4795 DevTools 109: Recorder
  site/en/docs/devtools/recorder/index.md
  site/en/docs/devtools/recorder/reference/index.md
Labels: DO NOT MERGE, devtools

#4840 DevTools 109: Inline evaluation during debugging
  site/en/docs/devtools/javascript/index.md
  site/en/docs/devtools/javascript/reference/index.md
Labels: DO NOT MERGE, devtools

#4883 [ext-docs] Fix code sample in activeTab doc
  site/en/docs/extensions/mv3/manifest/activeTab/index.md
Labels: extensions

#4289 "oauth2" manifest key documentation
  site/en/docs/extensions/mv3/manifest/oauth2/index.md
Labels: extensions, content

#4567 Add information about Chrome 108 permissions changes.
  site/en/docs/extensions/reference/webRequest/index.md
Labels: extensions-reference

#4897 [devtools] WNDT 109 updates + translation template
  site/en/_partials/devtools/whats-new.md
  site/en/blog/new-in-devtools-109/index.md
  site/es/_partials/devtools/whats-new.md
  site/es/blog/new-in-devtools-109/index.md
  site/ja/_partials/devtools/whats-new.md
  site/ja/blog/new-in-devtools-109/index.md
  site/ko/_partials/devtools/whats-new.md
  site/ko/blog/new-in-devtools-109/index.md
  site/pt/_partials/devtools/whats-new.md
  site/pt/blog/new-in-devtools-109/index.md
  site/ru/_partials/devtools/whats-new.md
  site/ru/blog/new-in-devtools-109/index.md
  site/zh/_partials/devtools/whats-new.md
  site/zh/blog/new-in-devtools-109/index.md
Labels: reviewers: devtools, devtools

#4309 Add page for manfest key: short_name
  site/en/docs/extensions/mv3/manifest/short_name/index.md
Labels: extensions, content

#4291 Updates old homepage_url key documentation
  site/en/docs/extensions/mv3/manifest/homepage_url/index.md
Labels: extensions, content update

#4907 Clarify behaviour when MacCtrl is used on other platforms.
  site/en/docs/extensions/reference/commands/index.md
Labels: extensions

#4953 DevTools: gif fix for WDNT 65, Local overrides
  site/en/blog/new-in-devtools-65/index.md
Labels: devtools, Small

#4917 [ext docs] Fix typo in Focus mode tutorial
  site/en/docs/extensions/mv3/getstarted/tut-focus-mode/index.md
Labels: extensions

#4941 [ext-docs] Fix link to CSP docs in the sandbox key doc
  site/en/docs/extensions/mv3/manifest/sandbox/index.md
Labels: extensions

#4904 fixes minor typo in docs
  site/en/docs/extensions/mv3/service_workers/index.md
Labels: extensions

#4909 Fix typo on 'input_components'
  site/en/docs/extensions/mv3/manifest/input_components/index.md
Labels: extensions

#4852 [ext-docs] New doc: Fetching favicons in MV3
  site/_data/docs/extensions/toc.yml
  site/en/docs/extensions/mv3/favicon/index.md
Labels: extensions, Medium

#4782 [ext-docs] Remove "What are extensions?"
  redirects.yaml
  site/_data/docs/extensions/toc.yml
  site/en/docs/extensions/mv3/devguide/index.md
  site/en/docs/extensions/mv3/getstarted/extensions-101/index.md
  site/en/docs/extensions/mv3/override/index.md
  site/en/docs/extensions/mv3/overview/index.md
  site/en/docs/webstore/about_webstore/index.md
  site/en/docs/webstore/publish/index.md
Labels: extensions, Small

#4990 Fix broken urls
  site/en/docs/apps/contentSecurityPolicy/index.md
  site/en/docs/extensions/mv3/index.md
  site/en/docs/extensions/mv3/sandboxingEval/index.md
Labels: extensions

#4999 Remove short_name documentation from name field page.
  site/en/docs/extensions/mv3/manifest/name/index.md
Labels: extensions

#5004 Fix #4994: Minor issue with Focus-Mode Extension Tutorials
  site/en/docs/extensions/mv3/getstarted/tut-focus-mode/index.md
  site/en/docs/extensions/mv3/getstarted/tut-tabs-manager/index.md
Labels: extensions

#4736 Make `{% BrowserCompat %}` available
  .eleventy.js
  package-lock.json
  package.json
  site/_scss/main.scss
  site/en/blog/media-query-range-syntax/index.md
  site/en/docs/handbook/components/index.md
Labels: eng

#4765 Implemented offscreen API information into migration guides
  site/en/docs/extensions/mv3/declare_permissions/index.md
  site/en/docs/extensions/mv3/migrating_to_service_workers/index.md
  site/en/docs/extensions/reference/offscreen/index.md
Labels: P0, extensions

#4923 [devtools-translate] Portuguese - What's New in DevTools (Chrome 109)
  site/pt/_partials/devtools/whats-new.md
  site/pt/blog/new-in-devtools-109/index.md
Labels: reviewers: devtools, devtools-translate

#5006 New Post - `scrollend`
  site/en/blog/scrollend-a-new-javascript-event/index.md
Labels: content

#5031 Implemented blog post content
  site/en/blog/Offscreen-Documents-in-Manifest-v3/index.md
Labels: extensions, devtools-eng

#5022 [devtools] Update DevTools Table of Content
  site/_data/docs/devtools/toc.yml
  site/_data/i18n/docs/devtools.yml
  site/en/docs/devtools/news/index.md
Labels: reviewers: devtools

#5033 Longer extension service worker lifetimes.
  site/_data/i18n/tags.yml
  site/en/blog/longer-esw-lifetimes/index.md
  site/en/docs/extensions/whatsnew/index.md
Labels: P0, extensions

#5066 [ext-blog] Fix release date
  site/en/blog/longer-esw-lifetimes/index.md
Labels: extensions

#5076 Do not merge: Add feedback report for Q4
  site/en/docs/privacy-sandbox/feedback/index.md
  site/en/docs/privacy-sandbox/feedback/report-2022-q4.md
Labels: docs, content

#5090 Do not merge: Add feedback report for Q4
  site/en/docs/privacy-sandbox/feedback/index.md
  site/en/docs/privacy-sandbox/feedback/report-2022-q4.md
Labels: DO NOT MERGE, docs, content update, content

#5094 [ext-docs] Removes signedInDevices
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions, Small
