Repository GoogleChrome/developer.chrome.com, pull requests merged in 2023-04, with the labels that each got.

#5607 [XS] DevTools 112: Reduced contrast
  site/en/docs/devtools/rendering/apply-effects/index.md
Labels: devtools

#5620 [XS] DevTools 112: Console > Breakpoint messages
  site/en/docs/devtools/console/reference/index.md
Labels: devtools

#5622 [XS] DevTools 112 > Recorder > Pierce selectors
  site/en/docs/devtools/recorder/reference/index.md
Labels: devtools

#5597 DevTools 112: CSS docs in styles
  site/en/docs/devtools/css/reference/index.md
  site/en/docs/devtools/settings/preferences/index.md
Labels: devtools

#5609 DevTools 112: Ignore list
  site/en/docs/devtools/javascript/reference/index.md
Labels: devtools

#5605 DevTools 112: Recorder extensions: replay ext support, lighthouse opt, get opt
  site/en/docs/devtools/recorder/extensions/index.md
  site/en/docs/devtools/recorder/reference/index.md
Labels: devtools

#5900 [devtools] WNDT 112 - Update hero image to stable
  site/en/blog/new-in-devtools-112/index.md
Labels: devtools

#5473 Added a small note
  site/en/docs/extensions/reference/webRequest/index.md
Labels: extensions, extensions-reference

#6008 DevTools > Recorder > Extensions upd
  site/en/docs/devtools/recorder/extensions/index.md
  site/en/docs/devtools/recorder/reference/index.md
Labels: P1, content update, devtools, Small

#6019 Update index.md
  site/en/docs/extensions/mv3/tut_oauth/index.md
Labels: DO NOT MERGE, cla: yes

#4920 Add clean-up task for staging environment
  .cloudbuild/stagingCleanUp.yaml
  gulp-tasks/stageGitHub/cleanUpGoogleCloud.js
  gulp-tasks/stageGitHub/index.js
  package-lock.json
  package.json
  site/_filters/md.js
Labels: eng

#5982 fix: project card are broken on the safari v16.4
  site/_includes/macros/cards/hero-card-wide.njk
  site/_includes/macros/cards/hero-card.njk
  site/_includes/macros/project-icon.njk
  site/_scss/blocks/_project-icon.scss
Labels: DO NOT MERGE

#5898 [devtools-translate] Japanese - What's New in DevTools (Chrome 112)
  site/ja/_partials/devtools/whats-new.md
  site/ja/blog/new-in-devtools-112/index.md
Labels: devtools-translate

#6039 [DevTools] WNDT 113 follow-up: Remove recorder assertions
  site/en/blog/new-in-devtools-113/index.md
Labels: P0, devtools, Small

#6038 Defined "offscreen document"
  site/en/docs/extensions/reference/offscreen/index.md
Labels: extensions, content update

#6085 Add MV3 support blurb to selected pages.
  site/en/_partials/extensions/mv3-support.md
  site/en/docs/extensions/migrating/api-calls/index.md
  site/en/docs/extensions/migrating/blocking-web-requests/index.md
  site/en/docs/extensions/migrating/checklist/index.md
  site/en/docs/extensions/migrating/improve-security/index.md
  site/en/docs/extensions/migrating/index.md
  site/en/docs/extensions/migrating/manifest/index.md
  site/en/docs/extensions/migrating/to-service-workers/index.md
  site/en/docs/extensions/mv3/intro/index.md
  site/en/docs/extensions/mv3/intro/mv3-overview/index.md
  site/en/docs/extensions/mv3/intro/platform-vision/index.md
  site/en/docs/extensions/reference/index.md
Labels: extensions

#5930 What's New in WebGPU (Chrome 113)
  site/en/blog/new-in-webgpu-113/index.md
Labels: DO NOT MERGE

#6115 Update in index.md
  site/en/docs/extensions/mv3/architecture-overview/index.md
Labels: extensions

#6130 Show correct platform data for enterprise extension APIs.
  external/build/lib/dts-parse.js
Labels: extensions

#6109 DevTools Tips 24: Source maps in DevTools
  site/_data/docs/devtools/toc.yml
  site/en/blog/devtools-tips-24/index.md
  site/en/docs/devtools/developer-resources/index.md
  site/en/docs/devtools/javascript/source-maps/index.md
Labels: P0, devtools, Medium

#6127 Extensions - Override pages edit
  site/en/docs/extensions/mv3/override/index.md
Labels: extensions

#6123 change domains to initiatorDomains
  site/en/docs/extensions/reference/declarativeNetRequest/index.md
Labels: extensions

#6140 [devtools] Add `x_google_ignoreList` link to docs
  site/en/docs/devtools/settings/ignore-list/index.md
Labels: devtools

#6142 Document EnterpriseHardwarePlatformAPIEnabled policy setting.
  site/en/docs/extensions/reference/enterprise_hardwarePlatform/index.md
Labels: extensions

#6124 Add outdated label to Lighthouse audit: front-end JavaScript libraries with known security vulnerabilities
  site/en/docs/lighthouse/best-practices/js-libraries/index.md
  site/en/docs/lighthouse/best-practices/no-vulnerable-libraries/index.md
  site/es/docs/lighthouse/best-practices/no-vulnerable-libraries/index.md
  site/ja/docs/lighthouse/best-practices/no-vulnerable-libraries/index.md
  site/ko/docs/lighthouse/best-practices/no-vulnerable-libraries/index.md
  site/pt/docs/lighthouse/best-practices/no-vulnerable-libraries/index.md
  site/ru/docs/lighthouse/best-practices/no-vulnerable-libraries/index.md
  site/zh/docs/lighthouse/best-practices/no-vulnerable-libraries/index.md
Labels: lighthouse, content update
