Repository GoogleChrome/developer.chrome.com, pull requests merged in 2023-11, with the labels that each got.

#7700 Move single-purpose FAQ to Web Store
  redirects.yaml
  site/_data/docs/extensions/toc.yml
  site/_data/docs/webstore/toc.yml
  site/en/docs/extensions/mv3/getstarted/extensions-101/index.md
  site/en/docs/extensions/mv3/permission_warnings/index.md
  site/en/docs/webstore/program-policies/quality-guidelines-faq/index.md
  site/en/docs/webstore/program-policies/quality-guidelines/index.md
  site/en/docs/webstore/troubleshooting/index.md
Labels: extensions, Chrome-Web-Store

#7645 Call out minimum alarm interval update
  site/en/docs/extensions/mv3/service_workers/service-worker-lifecycle/index.md
  site/en/docs/extensions/reference/alarms/index.md
Labels: extensions, DO NOT MERGE

#7606 Add Reading List API reference
  site/en/docs/extensions/mv3/permission_warnings/index.md
  site/en/docs/extensions/reference/readingList/index.md
Labels: extensions

#7701 Consolidate Complaint CWS FAQs and CWS Review Process
  redirects.yaml
  site/_data/docs/webstore/toc.yml
  site/en/docs/webstore/complaint-faq/index.md
  site/en/docs/webstore/review-process/index.md
Labels: extensions, Chrome-Web-Store

#7711 Add file handler documents
  site/_data/docs/extensions/toc.yml
  site/en/docs/extensions/mv3/file_handling/index.md
  site/en/docs/extensions/mv3/manifest/file_handlers/index.md
  site/en/docs/extensions/mv3/manifest/index.md
Labels: extensions

#7715 Tidied up reference landing page introduction
  site/en/docs/extensions/reference/index.md
Labels: extensions

#7488 Add userscript documentation.
  site/en/docs/extensions/reference/userScripts/index.md
Labels: extensions

#7424 Update extension `match` and `host_permission` patterns examples
  site/en/docs/extensions/mv3/match_patterns/index.md
Labels: extensions

#7781 Update the unload deprecation timelines
  redirects.yaml
  site/en/articles/deprecating-unload/index.md
Labels: DO NOT MERGE

#7776 Document device sleep and persistence behaviour of alarms API
  site/en/docs/extensions/reference/alarms/index.md
Labels: extensions

#7718 Document safe rules in declarativeNetRequest
  site/en/docs/extensions/reference/declarativeNetRequest/index.md
Labels: extensions

#7792 Document sw lifetime workaround
  site/en/docs/extensions/migrating/checklist/index.md
  site/en/docs/extensions/migrating/to-service-workers/index.md
Labels: extensions

#7803 Update code sample for chrome.alarm
  site/en/blog/chrome-120-beta-whats-new-for-extensions/index.md
Labels: extensions

#7828 Blog post for third-party cookie deprecation trial
  site/_data/authorsData.json
  site/_data/i18n/authors.yaml
  site/en/blog/third-party-cookie-deprecation-trial/index.md
Labels: privacy-sandbox

#7843 [DO NOT MERGE] Updated Topics update page for taxonomy/top-topics changes
  site/en/docs/privacy-sandbox/topics/latest/index.md
Labels: privacy-sandbox
