Repository GoogleChrome/developer.chrome.com, pull requests merged in 2023-02, with the labels that each got.

#5079 DevTools Tips 18: PWA doc refresh
  site/en/docs/devtools/progressive-web-apps/index.md
Labels: P0, devtools

#5048 Devtools Tips 18: PWA
  site/en/blog/devtools-tips-18/index.md
Labels: P0, devtools

#5050 [ext-docs] Add optional_host_permissions to Declare permissions
  site/en/docs/extensions/mv3/declare_permissions/index.md
Labels: extensions

#5093 change Gnatcatcher to IP Protection b/267116493
  site/en/docs/privacy-sandbox/overview/index.md
  site/en/docs/privacy-sandbox/privacy-budget/index.md
Labels: DO NOT MERGE, docs, content update, content

#5113 Add bounce tracking mitigations
  site/en/docs/privacy-sandbox/overview/index.md
Labels: docs, content update

#5129 [ext-docs] Alphabetize permission warnings
  site/en/docs/extensions/mv3/declare_permissions/index.md
Labels: extensions, Small

#4860 Add permission warning for sessions
  site/en/docs/extensions/mv3/permission_warnings/index.md
Labels: extensions, content update

#5081 Link to lifetime enforcers for offscreen documents.
  site/en/docs/extensions/reference/offscreen/index.md
Labels: extensions

#5147 Update links for chrome-extensions-samples reorg.
  site/en/blog/new-in-extensions-1/index.md
  site/en/docs/apps/app_storage/index.md
  site/en/docs/apps/first_app/index.md
  site/en/docs/extensions/mv2/architecture-overview/index.md
  site/en/docs/extensions/mv2/desktop_notifications/index.md
  site/en/docs/extensions/mv2/getstarted/index.md
  site/en/docs/extensions/mv2/index.md
  site/en/docs/extensions/mv2/messaging/index.md
  site/en/docs/extensions/mv2/overview/index.md
  site/en/docs/extensions/mv2/richNotifications/index.md
  site/en/docs/extensions/mv2/tut_analytics/index.md
  site/en/docs/extensions/mv3/favicon/index.md
  site/en/docs/extensions/mv3/getstarted/development-basics/index.md
  site/en/docs/extensions/mv3/getstarted/tut-focus-mode/index.md
  site/en/docs/extensions/mv3/getstarted/tut-reading-time/index.md
  site/en/docs/extensions/mv3/getstarted/tut-tabs-manager/index.md
  site/en/docs/extensions/mv3/manifest/activeTab/index.md
  site/en/docs/extensions/mv3/manifest/web_accessible_resources/index.md
  site/en/docs/extensions/mv3/messaging/index.md
  site/en/docs/extensions/mv3/mv3-migration/index.md
  site/en/docs/extensions/mv3/permission_warnings/index.md
  site/en/docs/extensions/mv3/richNotifications/index.md
  site/en/docs/extensions/mv3/samples/index.md
  site/en/docs/extensions/mv3/tut_analytics/index.md
  site/en/docs/extensions/mv3/user_interface/index.md
  site/en/docs/extensions/reference/action/index.md
  site/en/docs/extensions/reference/bookmarks/index.md
  site/en/docs/extensions/reference/browserAction/index.md
  site/en/docs/extensions/reference/cookies/index.md
  site/en/docs/extensions/reference/downloads/index.md
  site/en/docs/extensions/reference/fontSettings/index.md
  site/en/docs/extensions/reference/history/index.md
  site/en/docs/extensions/reference/i18n/index.md
  site/en/docs/extensions/reference/input_ime/index.md
  site/en/docs/extensions/reference/pageAction/index.md
  site/en/docs/extensions/reference/runtime/index.md
  site/en/docs/extensions/reference/tabs/index.md
  site/en/docs/extensions/reference/webNavigation/index.md
  site/en/docs/extensions/reference/windows/index.md
Labels: extensions

#5135 Document replay extensions for DevTools Recorder
  site/en/docs/extensions/reference/devtools_recorder/index.md
Labels: devtools

#5132 Fix method name typo
  site/en/docs/extensions/reference/declarativeNetRequest/index.md
Labels: extensions

#5170 Remove MV2 item from MV3 example
  site/en/docs/extensions/reference/declarativeNetRequest/index.md
Labels: extensions

#5173 DevTools 110: Recorder and perf panels
  site/en/docs/devtools/performance/reference/index.md
  site/en/docs/devtools/recorder/index.md
  site/en/docs/devtools/recorder/reference/index.md
Labels: devtools

#5168 Update index.md
  site/en/docs/extensions/mv3/devtools/index.md
Labels: extensions

#5166 Update index.md
  site/en/docs/extensions/mv3/sandboxingEval/index.md
Labels: extensions

#5165 Update index.md
  site/en/docs/extensions/mv3/settings_override/index.md
Labels: extensions

#5164 Update index.md
  site/en/docs/extensions/mv3/tut_analytics/index.md
Labels: extensions

#5163 Update index.md
  site/en/docs/extensions/mv3/tut_oauth/index.md
Labels: extensions

#5136 fix: remove white background path from icons/articles.svg
  site/_includes/icons/articles.svg
Labels: eng - UI

#5130 [ext-doc] Favicon API follow up tasks
  site/en/docs/extensions/mv3/favicon/index.md
  site/en/docs/extensions/mv3/intro/mv3-overview/index.md
  site/en/docs/extensions/mv3/permission_warnings/index.md
Labels: extensions, Small

#4603 Manifest-key-declarativeNetRequest
  site/en/docs/extensions/mv3/declare_permissions/index.md
  site/en/docs/extensions/mv3/manifest/declarativeNetRequest/index.md
  site/en/docs/extensions/mv3/manifest/requirements/index.md
  site/en/docs/extensions/mv3/mv3-migration/index.md
  site/en/docs/extensions/reference/declarativeNetRequest/index.md
  site/en/docs/extensions/reference/webRequest/index.md
Labels: extensions, content update, content, extensions-reference

#4955 [JA] Updates blog/first-party-sets-sameparty
  site/ja/blog/first-party-sets-sameparty/index.md
Labels: translation

#5230 [ext-doc] Update known issues
  site/en/docs/extensions/mv3/known-issues/index.md
Labels: extensions

#5243 Improve documentation on offscreen document lifetime enforcement.
  site/en/docs/extensions/reference/offscreen/index.md
Labels: extensions

#5001 [devtools-translate] Japanese - What's New in DevTools (Chrome 109)
  site/ja/_partials/devtools/whats-new.md
  site/ja/blog/new-in-devtools-109/index.md
Labels: reviewers: devtools, devtools-translate

#4995 [devtools-translate] Russian - What's New in DevTools (Chrome 109)
  site/ru/_partials/devtools/whats-new.md
  site/ru/blog/new-in-devtools-109/index.md
Labels: reviewers: devtools, devtools-translate

#5070 [devtools-translate] Chinese - What's New in DevTools (Chrome 109)
  site/zh/_partials/devtools/whats-new.md
  site/zh/blog/new-in-devtools-109/index.md
Labels: reviewers: devtools, devtools-translate

#4926 Add RSS feed for articles
  site/_collections/feeds.js
  site/_includes/layouts/base.njk
Labels: eng

#5264 Fix a few typos.
  site/en/blog/Offscreen-Documents-in-Manifest-v3/index.md
Labels: extensions

#5273 Fix `enhanced-select` on iOS and improve styling
  site/_js/web-components/enhanced-select.js
  site/_scss/blocks/_enhanced-select.scss
Labels: eng

#5268 WNDT 110 translation template
  site/en/_partials/devtools/whats-new.md
  site/en/blog/new-in-devtools-110/index.md
  site/es/_partials/devtools/whats-new.md
  site/es/blog/new-in-devtools-110/index.md
  site/ja/_partials/devtools/whats-new.md
  site/ja/blog/new-in-devtools-110/index.md
  site/ko/_partials/devtools/whats-new.md
  site/ko/blog/new-in-devtools-110/index.md
  site/pt/_partials/devtools/whats-new.md
  site/pt/blog/new-in-devtools-110/index.md
  site/ru/_partials/devtools/whats-new.md
  site/ru/blog/new-in-devtools-110/index.md
  site/zh/_partials/devtools/whats-new.md
  site/zh/blog/new-in-devtools-110/index.md
Labels: reviewers: devtools

#5269 [ext-docs] Fix host permissions in manifest
  site/en/docs/extensions/reference/declarativeNetRequest/index.md
Labels: extensions

#5126 fix(doc): update codeceptjs chrome recorder ext
  site/en/docs/devtools/recorder/reference/index.md
Labels: cla: yes, devtools

#5283 DevTools: url() supports only data scheme
  site/en/docs/devtools/console/format-style/index.md
Labels: devtools

#5289 Add documentation for behaviour of minimum_chrome_version field.
  site/en/docs/extensions/mv3/manifest/minimum_chrome_version/index.md
Labels: extensions

#3765 Script to automate DevTools tasks
  .gitignore
  package-lock.json
  package.json
  tools/devtools/README.md
  tools/devtools/templates/new-in-devtools-banner.svg
  tools/devtools/templates/new-in-devtools-image-snippet.md
  tools/devtools/templates/new-in-devtools.md
  tools/devtools/utils.mjs
  tools/devtools/wndt-banner-bootstrap.mjs
  tools/devtools/wndt-blog-bootstrap.mjs
  tools/devtools/wndt-outline-bootstrap.mjs
  tools/devtools/wndt-translation-bootstrap.mjs
Labels: eng

#5285 Ad tech spacing
  site/en/_partials/privacy-sandbox/glossary-entries/ad-creative.md
  site/en/_partials/privacy-sandbox/glossary-entries/ad-platform.md
  site/en/_partials/privacy-sandbox/glossary-entries/aggregatable-reports.md
  site/en/_partials/privacy-sandbox/glossary-entries/attestation.md
  site/en/_partials/privacy-sandbox/glossary-entries/reporting-origin.md
  site/en/_partials/privacy-sandbox/glossary-entries/supply-side-platform.md
  site/en/docs/privacy-sandbox/aggregation-service/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-data-clearing/index.md
  site/en/docs/privacy-sandbox/attribution-reporting/index.md
  site/en/docs/privacy-sandbox/attribution-reporting/summary-reports/index.md
  site/en/docs/privacy-sandbox/attribution-reporting/system-overview/index.md
  site/en/docs/privacy-sandbox/feedback/report-2022-q4.md
  site/en/docs/privacy-sandbox/fledge-api/feature-status/index.md
  site/en/docs/privacy-sandbox/fledge-api/index.md
  site/en/docs/privacy-sandbox/fledge/index.md
  site/en/docs/privacy-sandbox/floc/index.md
  site/en/docs/privacy-sandbox/shared-storage/index.md
  site/en/docs/privacy-sandbox/summary-reports/design-decisions/index.md
  site/en/docs/privacy-sandbox/summary-reports/index.md
  site/en/docs/privacy-sandbox/topics/index.md
  site/en/docs/privacy-sandbox/use-shared-storage/index.md
Labels: privacy-sandbox

#5312 What's New in DevTools (Chrome 111)
  site/en/_partials/devtools/whats-new.md
  site/en/blog/new-in-devtools-111/index.md
Labels: devtools

#5329 [ext-doc] Add favicon link to What's new?
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#5337 [ext-doc] Fix GH link
  site/en/docs/extensions/mv3/user_interface/index.md
Labels: extensions

#5274 [XL] DevTools: Settings reference
  redirects.yaml
  site/_data/docs/devtools/toc.yml
  site/_data/i18n/docs/devtools.yml
  site/en/docs/devtools/console/reference/index.md
  site/en/docs/devtools/css/flexbox/index.md
  site/en/docs/devtools/css/reference/index.md
  site/en/docs/devtools/customize/dark-theme/index.md
  site/en/docs/devtools/customize/index.md
  site/en/docs/devtools/customize/placement/index.md
  site/en/docs/devtools/javascript/disable/index.md
  site/en/docs/devtools/javascript/ignore-chrome-extension-scripts/index.md
  site/en/docs/devtools/javascript/reference/index.md
  site/en/docs/devtools/network/reference/index.md
  site/en/docs/devtools/recorder/index.md
  site/en/docs/devtools/recorder/reference/index.md
  site/en/docs/devtools/settings/devices/index.md
  site/en/docs/devtools/settings/experiments/index.md
  site/en/docs/devtools/settings/ignore-list/index.md
  site/en/docs/devtools/settings/index.md
  site/en/docs/devtools/settings/locations/index.md
  site/en/docs/devtools/settings/preferences/index.md
  site/en/docs/devtools/settings/shortcuts/index.md
  site/en/docs/devtools/settings/throttling/index.md
  site/en/docs/devtools/settings/workspace/index.md
  site/en/docs/devtools/workspaces/index.md
Labels: devtools

#5146 Fix optional permissions sample extension's link
  site/en/docs/extensions/mv3/permission_warnings/index.md
Labels: extensions

#5229 Add new methods for chrome.action to 'What's new'.
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#5316 Fix DevTools task script and tidy up readme
  tools/devtools/README.md
  tools/devtools/templates/new-in-devtools-image-snippet.md
  tools/devtools/utils.mjs
Labels: eng

#5395 Devtools Tips 20: Discover CSS issues
  site/en/blog/devtools-tips-20/index.md
  site/en/docs/devtools/css/issues/index.md
Labels: P0, DO NOT MERGE, devtools

#5438 Fix supernest on landing page
  site/_includes/macros/project-sections.njk
Labels: eng - UI

#5336 Add 'Get help' and enhance introduction.
  site/_data/docs/extensions/toc.yml
  site/_data/i18n/docs/extensions.yml
  site/en/docs/extensions/gethelp/index.md
  site/en/docs/extensions/mv3/index.md
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions, content update

#5460 Document additional CDP namespaces available in debugger API.
  site/en/docs/extensions/reference/debugger/index.md
Labels: extensions

#5444 Make devguide overview more usable.
  site/en/docs/extensions/mv3/devguide/index.md
Labels: extensions

#5428 Three updates to the FedCM API
  site/en/docs/privacy-sandbox/fedcm-updates/index.md
  site/en/docs/privacy-sandbox/fedcm/index.md
Labels: DO NOT MERGE

#5433 Move Native Messaging docs from apps to extensions.
  site/en/docs/extensions/mv2/declare_permissions/index.md
  site/en/docs/extensions/mv3/declare_permissions/index.md
  site/en/docs/extensions/mv3/nativeMessaging/index.md
Labels: extensions

#5472 Removed MV2 caution tag and checked for deprecated information
  site/en/docs/extensions/mv3/linux_hosting/index.md
Labels: extensions

#5432 Add CHIPS case study
  site/en/blog/working-with-the-industry-to-evolve-chips/index.md
Labels: DO NOT MERGE
