Repository GoogleChrome/developer.chrome.com, pull requests merged in 2023-07, with the labels that each got.

#6750 Clarify that trusted testers should be Google accounts
  site/en/docs/webstore/cws-dashboard-distribution/index.md
Labels: extensions

#6627 [devtools] Add missing Web Vitals in list
  site/en/_partials/devtools/whats-new.md
Labels: devtools

#6756 DevTools: Add note about snippets storage
  site/en/docs/devtools/customize/index.md
  site/en/docs/devtools/javascript/snippets/index.md
Labels: P2, content update, devtools, Small

#6749 DevTools: Application > Local and Session storage refresh
  site/en/docs/devtools/storage/localstorage/index.md
  site/en/docs/devtools/storage/sessionstorage/index.md
Labels: P1, Medium

#6742 Fix typo in Best practices > Stay secure doc
  site/en/docs/extensions/mv3/security/index.md
Labels: extensions

#6774 update ARA links to new docs
  site/en/docs/privacy-sandbox/attribution-reporting-debugging/part-3/index.md
  site/en/docs/privacy-sandbox/attribution-reporting/working-with-noise/index.md
  site/en/docs/privacy-sandbox/summary-reports/design-decisions/index.md
Labels: DO NOT MERGE

#5840 DevTools DOM copy options
  site/en/docs/devtools/dom/index.md
  site/en/docs/devtools/network/reference/index.md
Labels: cla: yes, content update, devtools

#6717 Improve docs around rule limits.
  redirects.yaml
  site/en/docs/extensions/reference/declarativeNetRequest/index.md
Labels: extensions

#6769 Fix links, tweak title of Geolocation in extensions guide
  site/en/docs/extensions/mv3/geolocation/index.md
Labels: extensions

#6792 Add other download API permissions
  site/en/docs/extensions/mv3/declare_permissions/index.md
Labels: extensions

#6808 DevTools Tips 04: Recorder backfill
  site/en/blog/devtools-tips-4/index.md
Labels: P2, devtools, Small

#6787 What's happening in Chrome Extensions - July 2023 edition
  site/en/blog/extension-news-july-2023/index.md
Labels: extensions

#6812 Remove minimum_chrome_version from DevTools article
  site/en/docs/extensions/mv3/devtools/index.md
Labels: extensions

#6813 Tweak a few more items in the network request article.
  site/en/docs/extensions/mv3/network-requests/index.md
Labels: extensions

#6826 DevTools > Console: Add note on longhand console commands
  site/en/docs/devtools/console/utilities/index.md
Labels: content update, devtools, Small

#6822 Clarify how offscreen documents can be used.
  site/en/docs/extensions/reference/offscreen/index.md
Labels: extensions

#6481 DevTools 115 > Elements: Easing editor, tooltips
  site/en/docs/devtools/css/issues/index.md
  site/en/docs/devtools/css/reference/index.md
Labels: P2, devtools, Small

#6843 Add 'What's new' item for extensions update.
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#6695 DevTools 115: Elements > Subgrid badge
  site/en/docs/devtools/css/grid/index.md
  site/en/docs/devtools/elements/badges/index.md
Labels: P2, devtools, Small

#6854 DevTools 115 stable: upd hero image
  site/en/blog/new-in-devtools-115/index.md
Labels: P0, devtools, Small

#6869 Updated blog
  site/en/blog/privacy-sandbox-launch/index.md
Labels: DO NOT MERGE

#6751 Add WebSocket tutorial.
  site/_data/docs/extensions/toc.yml
  site/en/docs/extensions/mv3/tut_websockets/index.md
Labels: extensions

#6738 Update tabCapture documentation to use offscreen documents.
  site/en/docs/extensions/mv3/screen_capture/index.md
  site/en/docs/extensions/reference/tabCapture/index.md
Labels: extensions

#6853 [SidePanel API] Add sidePanel.open() use case
  site/en/docs/extensions/reference/sidePanel/index.md
Labels: extensions, DO NOT MERGE, extensions-reference

#6870 CRX: Update known issues page for extensions
  site/en/docs/extensions/migrating/known-issues/index.md
Labels: extensions

#6875 Fix link in externally_connectables
  site/en/docs/extensions/mv3/manifest/externally_connectable/index.md
Labels: extensions

#6887 DevTools > Wasm: add link to emscripten docs
  site/en/docs/devtools/wasm/index.md
Labels: P2, content update, Small

#6748 Update offscreen documents docs to use runtime.getContexts
  site/en/docs/extensions/reference/offscreen/index.md
Labels: extensions, docs

#6910 [bidi] Add LambdaTest to working group
  site/en/articles/webdriver-bidi/index.md
Labels: devtools

#6872 Update aside in MV2 articles
  site/en/_partials/extensions/mv2-legacy-page.md
  site/en/docs/extensions/mv2/a11y/index.md
  site/en/docs/extensions/mv2/architecture-overview/index.md
  site/en/docs/extensions/mv2/background_migration/index.md
  site/en/docs/extensions/mv2/background_pages/index.md
  site/en/docs/extensions/mv2/content_scripts/index.md
  site/en/docs/extensions/mv2/cross-origin-isolation/index.md
  site/en/docs/extensions/mv2/declare_permissions/index.md
  site/en/docs/extensions/mv2/desktop_notifications/index.md
  site/en/docs/extensions/mv2/devguide/index.md
  site/en/docs/extensions/mv2/devtools/index.md
  site/en/docs/extensions/mv2/external_extensions/index.md
  site/en/docs/extensions/mv2/faq/index.md
  site/en/docs/extensions/mv2/getstarted/index.md
  site/en/docs/extensions/mv2/hosting/index.md
  site/en/docs/extensions/mv2/i18n-messages/index.md
  site/en/docs/extensions/mv2/linux_hosting/index.md
  site/en/docs/extensions/mv2/manifest/activeTab/index.md
  site/en/docs/extensions/mv2/manifest/cross_origin_embedder_policy/index.md
  site/en/docs/extensions/mv2/manifest/cross_origin_opener_policy/index.md
  site/en/docs/extensions/mv2/manifest/default_locale/index.md
  site/en/docs/extensions/mv2/manifest/description/index.md
  site/en/docs/extensions/mv2/manifest/externally_connectable/index.md
  site/en/docs/extensions/mv2/manifest/homepage_url/index.md
  site/en/docs/extensions/mv2/manifest/icons/index.md
  site/en/docs/extensions/mv2/manifest/incognito/index.md
  site/en/docs/extensions/mv2/manifest/key/index.md
  site/en/docs/extensions/mv2/manifest/minimum_chrome_version/index.md
  site/en/docs/extensions/mv2/manifest/name/index.md
  site/en/docs/extensions/mv2/manifest/sandbox/index.md
  site/en/docs/extensions/mv2/manifest/storage/index.md
  site/en/docs/extensions/mv2/manifest/version/index.md
  site/en/docs/extensions/mv2/manifest/web_accessible_resources/index.md
  site/en/docs/extensions/mv2/manifestVersion/index.md
  site/en/docs/extensions/mv2/match_patterns/index.md
  site/en/docs/extensions/mv2/messaging/index.md
  site/en/docs/extensions/mv2/options/index.md
  site/en/docs/extensions/mv2/override/index.md
  site/en/docs/extensions/mv2/permission_warnings/index.md
  site/en/docs/extensions/mv2/richNotifications/index.md
  site/en/docs/extensions/mv2/sandboxingEval/index.md
  site/en/docs/extensions/mv2/security/index.md
  site/en/docs/extensions/mv2/settings_override/index.md
  site/en/docs/extensions/mv2/tut_analytics/index.md
  site/en/docs/extensions/mv2/tut_debugging/index.md
  site/en/docs/extensions/mv2/tut_oauth/index.md
  site/en/docs/extensions/mv2/user_interface/index.md
  site/en/docs/extensions/mv2/user_privacy/index.md
  site/en/docs/extensions/mv2/xhr/index.md
  site/en/docs/extensions/mv3/manifest/background/index.md
Labels: extensions

#6939 q2 feedback
  site/en/docs/privacy-sandbox/feedback/index.md
  site/en/docs/privacy-sandbox/feedback/report-2023-q2.md
Labels: DO NOT MERGE

#6893 DevTools Tips 25 promo post: Breakpoints and logpoints
  site/en/blog/devtools-tips-25/index.md
Labels: P2, DO NOT MERGE, Small

#6941 Fix code sample in WebRequest API
  site/en/docs/extensions/reference/webRequest/index.md
Labels: extensions

#6942 Fix a typo.
  site/en/docs/extensions/migrating/index.md
Labels: extensions

#6945 [devtools] Add video to breakpoint documentation
  site/en/docs/devtools/javascript/breakpoints/index.md
Labels: devtools
