Repository GoogleChrome/developer.chrome.com, pull requests merged in 2023-03, with the labels that each got.

#5404 Expose IDs on landing page section macros
  .eleventy.js
  site/_filters/ensureUniqueHrefInProduction.js
  site/_includes/macros/landing-section-expanded.njk
  site/_includes/macros/landing-section-usecases.njk
  site/_includes/macros/landing-section.njk
  site/en/docs/handbook/content-types/landing/index.njk
Labels: eng

#4791 Make content-type demo pages use example tag and author
  site/_collections/authors.js
  site/_collections/tags.js
  site/_data/authorsData.json
  site/_data/i18n/authors.yaml
  site/_data/i18n/tags.yml
  site/_data/supportedTags.json
  site/en/docs/handbook/content-types/doc-post/index.md
  site/en/docs/handbook/content-types/landing/index.njk
Labels: eng

#5497 Add FLEDGE ramp up and isolated origin trial experiment info
  site/en/docs/privacy-sandbox/unified-origin-trial/index.md
Labels: privacy-sandbox

#5421 New in DevTools 92/93
  site/en/blog/new-in-devtools-92/index.md
  site/en/docs/devtools/accessibility/reference/index.md
  site/en/docs/devtools/console/reference/index.md
Labels: devtools

#5490 Add native messaging to sidebar.
  site/_data/docs/extensions/toc.yml
Labels: extensions

#5451 [devtools-translate] Japanese - What's New in DevTools (Chrome 110)
  site/ja/_partials/devtools/whats-new.md
  site/ja/blog/new-in-devtools-110/index.md
Labels: devtools-translate

#5502 Add FLEDGE ramp up and isolated origin trial experiment info
  site/en/docs/privacy-sandbox/unified-origin-trial/index.md
Labels: privacy-sandbox

#4757 Add `{% ChromeDate %}` shortcode for auto-freshing release dates
  .eleventy.js
  external/build/lib/chrome-release.js
  external/testdata/chrome-release.json
  site/_shortcodes/ChromeDate.js
  site/en/blog/deprecating-web-sql/index.md
  site/en/docs/handbook/components/index.md
  tests/site/_shortcodes/ChromeDate.js
Labels: eng

#5478 Rewrite promise description boilerplate.
  site/_includes/macros/render-type.njk
Labels: extensions

#5293 [devtools-translate] Portuguese - What's New in DevTools (Chrome 110)
  site/pt/_partials/devtools/whats-new.md
  site/pt/blog/new-in-devtools-110/index.md
Labels: devtools-translate

#5492 Update storage.session API quota.
  site/en/docs/extensions/mv3/known-issues/index.md
  site/en/docs/extensions/reference/storage/index.md
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#5540 removes broken replacement_web_app link (#5409)
  site/en/docs/extensions/mv3/manifest/index.md
Labels: extensions

#5466 DevTools 111: HD Colors
  site/_data/docs/devtools/toc.yml
  site/en/docs/devtools/css/color/index.md
  site/en/docs/devtools/css/reference/index.md
  site/en/docs/devtools/settings/preferences/index.md
Labels: devtools

#5477 DevTools 111 > Application > Cache reorg
  site/en/docs/devtools/application/back-forward-cache/index.md
  site/en/docs/devtools/storage/cache/index.md
Labels: devtools

#5152 DevTools 111: Breakpoints UX redesign
  site/en/docs/devtools/javascript/breakpoints/index.md
  site/en/docs/devtools/javascript/index.md
Labels: devtools

#5535 [CRX] Update offscreen reference doc
  site/en/docs/extensions/reference/offscreen/index.md
Labels: extensions, extensions-reference

#5558 [CRX] Fix native messaging links
  site/en/docs/extensions/mv3/messaging/index.md
Labels: extensions

#5577 [devtools] Update image for WNDT111 release
  site/en/blog/new-in-devtools-111/index.md
Labels: devtools

#5608 Fix typo on Get Help page.
  site/en/docs/extensions/gethelp/index.md
Labels: extensions

#5591 Explain that Native Messaging is not available from content scripts
  site/en/docs/extensions/mv3/nativeMessaging/index.md
Labels: extensions

#5449 [devtools-translate] Japanese - What's New in DevTools (Chrome 111)
  site/ja/_partials/devtools/whats-new.md
  site/ja/blog/new-in-devtools-111/index.md
Labels: devtools-translate

#5585 topics api new combined PR
  site/_data/docs/privacy-sandbox/toc.yml
  site/en/_partials/privacy-sandbox/topics-feedback.md
  site/en/docs/privacy-sandbox/topics/colab/index.md
  site/en/docs/privacy-sandbox/topics/demo/index.md
  site/en/docs/privacy-sandbox/topics/index.md
  site/en/docs/privacy-sandbox/topics/latest/index.md
  site/en/docs/privacy-sandbox/topics/overview/index.md
  site/en/docs/privacy-sandbox/topics/topic-classification/index.md
Labels: privacy-sandbox

#5604 Add/update Offscreen Documents entries in What's New/Known Issues
  site/en/docs/extensions/mv3/known-issues/index.md
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#5625 correct typo
  site/en/docs/crux/dashboard/index.md
Labels: cla: yes

#5557 [devtools-translate] Russian - What's New in DevTools (Chrome 110)
  site/ru/_partials/devtools/whats-new.md
  site/ru/blog/new-in-devtools-110/index.md
Labels: devtools-translate

#5294 [devtools-translate] Chinese - What's New in DevTools (Chrome 110)
  site/zh/_partials/devtools/whats-new.md
  site/zh/blog/new-in-devtools-110/index.md
Labels: devtools-translate

#5626 [devtools-translate] Chinese - What's New in DevTools (Chrome 111)
  site/zh/_partials/devtools/whats-new.md
  site/zh/blog/new-in-devtools-111/index.md
Labels: devtools-translate

#5388 [devtools-translate] Portuguese - What's New in DevTools (Chrome 111)
  site/pt/_partials/devtools/whats-new.md
  site/pt/blog/new-in-devtools-111/index.md
Labels: devtools-translate

#5634 Add DevTools reference
  site/en/articles/high-definition-css-color-guide/index.md
Labels: devtools

#5657 Topics TOC: move demo and colab under experiment
  site/_data/docs/privacy-sandbox/toc.yml
  site/_data/i18n/docs/privacy-sandbox.yml
Labels: privacy-sandbox

#5636 [devtools-translate] Chinese - What's New in DevTools (Chrome 112)
  site/zh/_partials/devtools/whats-new.md
  site/zh/blog/new-in-devtools-112/index.md
Labels: devtools-translate

#5635 [devtools-translate] Portuguese - What's New in DevTools (Chrome 112) #5600
  site/pt/_partials/devtools/whats-new.md
  site/pt/blog/new-in-devtools-112/index.md
Labels: devtools-translate

#5654 Merging PS FAQ into individual docs #2
  site/en/_partials/privacy-sandbox/topics-feedback.md
  site/en/docs/privacy-sandbox/attribution-reporting/index.md
  site/en/docs/privacy-sandbox/faq/index.md
  site/en/docs/privacy-sandbox/fedcm/index.md
  site/en/docs/privacy-sandbox/fenced-frame/index.md
  site/en/docs/privacy-sandbox/first-party-sets/index.md
  site/en/docs/privacy-sandbox/overview/index.md
  site/en/docs/privacy-sandbox/topics/topic-classification/index.md
  site/en/docs/privacy-sandbox/trust-tokens/index.md
  site/en/docs/privacy-sandbox/unified-origin-trial/index.md
  site/en/docs/privacy-sandbox/user-agent/index.md
Labels: privacy-sandbox

#5689 Add k-anon server blog post
  site/_data/authorsData.json
  site/_data/i18n/authors.yaml
  site/en/blog/oblivious-http-for-k-anon-server-with-fastly/index.md
Labels: DO NOT MERGE, content, privacy-sandbox

#5615 [ext] Fix code sample in Scripting API
  site/en/docs/extensions/reference/scripting/index.md
Labels: extensions

#5695 Add link to migration guide
  site/en/docs/extensions/mv3/index.md
Labels: extensions

#5700 Add redirect from old to new MV3 migration guide.
  redirects.yaml
  site/en/docs/extensions/migrating/index.md
  site/en/docs/extensions/mv3/intro/index.md
Labels: extensions

#5679 [devtools] Refresh overview
  site/en/docs/devtools/overview/index.md
Labels: devtools

#5697 DevTools: Lighthouse tutorial refresh
  site/_data/docs/devtools/toc.yml
  site/en/blog/new-in-devtools-112/index.md
  site/en/docs/devtools/lighthouse/index.md
Labels: content update, devtools

#5735 [ext] Fix links in Dev guide
  site/en/docs/extensions/mv3/devguide/index.md
Labels: extensions

#5718 [S] DevTools > Application > Cookies refresh
  redirects.yaml
  site/_data/docs/devtools/toc.yml
  site/en/docs/devtools/application/cookies/index.md
  site/en/docs/devtools/storage/cookies/index.md
Labels: content update, devtools

#5702 Update web_accessible_resources index.md
  site/en/docs/extensions/mv3/manifest/web_accessible_resources/index.md
Labels: extensions

#5764 [ext] Adds labels to code samples in options page
  site/en/docs/extensions/mv3/options/index.md
Labels: extensions

#5763 WNDT 112 follow-up: Warning on no-op fetch handlers
  site/en/_partials/devtools/whats-new.md
  site/en/blog/new-in-devtools-112/index.md
Labels: P0, devtools

#5755 typo: keyframe → keyFrame
  site/en/articles/webcodecs/index.md
Labels: cla: yes

#5699 Popover API attribute name changes
  redirects.yaml
  site/en/blog/pop-ups-theyre-making-a-resurgence/index.md
  site/en/docs/web-platform/popover-api/backdrop-pseudo-element/index.md
  site/en/docs/web-platform/popover-api/hidepopover-method/index.md
  site/en/docs/web-platform/popover-api/index.md
  site/en/docs/web-platform/popover-api/open-pseudo-class/index.md
  site/en/docs/web-platform/popover-api/popover-attribute/index.md
  site/en/docs/web-platform/popover-api/popover-property/index.md
  site/en/docs/web-platform/popover-api/popoverhide-event/index.md
  site/en/docs/web-platform/popover-api/popovershow-event/index.md
  site/en/docs/web-platform/popover-api/popovertargetaction-hide-attribute/index.md
  site/en/docs/web-platform/popover-api/popovertargetaction-hide-property/index.md
  site/en/docs/web-platform/popover-api/popovertargetaction-show-attribute/index.md
  site/en/docs/web-platform/popover-api/popovertargetaction-show-property/index.md
  site/en/docs/web-platform/popover-api/popovertargetaction-toggle-attribute/index.md
  site/en/docs/web-platform/popover-api/popovertargetaction-toggle-property/index.md
  site/en/docs/web-platform/popover-api/showpopover-method/index.md
Labels: content update

#5767 [ext] Add label to manifest code sample
  site/en/docs/extensions/mv3/declare_permissions/index.md
Labels: extensions

#5538 Hosting extensions OS update
  site/en/docs/extensions/mv3/hosting/index.md
Labels: extensions

#5734 DevTools Tips 23: Source maps doc refresh
  site/_data/docs/devtools/toc.yml
  site/en/docs/devtools/javascript/source-maps/index.md
Labels: content update, devtools

#5791 Add outdated banner to Lighthouse `apple-touch-icon` audit
  site/_data/docs/lighthouse/pwa/toc.yml
  site/en/docs/lighthouse/pwa/apple-touch-icon/index.md
  site/es/docs/lighthouse/pwa/apple-touch-icon/index.md
  site/ko/docs/lighthouse/pwa/apple-touch-icon/index.md
  site/pt/docs/lighthouse/pwa/apple-touch-icon/index.md
Labels: lighthouse

#5750 Add examples to printing APIs.
  site/en/docs/extensions/reference/printing/index.md
Labels: extensions, extensions-reference

#5812 [ext] Update Development basics log instructions
  site/en/docs/extensions/mv3/getstarted/development-basics/index.md
Labels: extensions

#5818 Update language for Google analytics
  site/en/docs/webstore/manage/index.md
Labels: DO NOT MERGE

#5849 Interest groups limit section FAQ
  site/en/docs/privacy-sandbox/fledge-api/interest-groups/index.md
  site/en/docs/privacy-sandbox/fledge/index.md
Labels: privacy-sandbox

#5848 DevTools Tips 23 promo post: What are source maps?
  site/en/blog/devtools-tips-23/index.md
Labels: P0

#5873 Update the date
  site/en/blog/devtools-tips-23/index.md
Labels: devtools
