Repository GoogleChrome/developer.chrome.com, pull requests merged in 2023-10, with the labels that each got.

#7223 Add guidance for Publishing an MV3 extension
  site/_data/docs/extensions/toc.yml
  site/en/docs/extensions/migrating/checklist/index.md
  site/en/docs/extensions/migrating/index.md
  site/en/docs/extensions/migrating/publish-mv3/index.md
  site/en/docs/extensions/mv3/permission_warnings/index.md
Labels: extensions

#7420 Fixed typo in Chrome extension reference article
  site/en/docs/extensions/reference/tabCapture/index.md
Labels: extensions

#7382 Passkeys on iCloud Keychain blog post
  site/en/blog/passkeys-on-icloud-keychain/index.md
Labels: DO NOT MERGE

#7433 DevTools tips 27: Debugging Chrome extensions, promo post
  site/en/blog/devtools-tips-27/index.md
Labels: P0, devtools

#7398 Consolidate action material
  site/en/docs/extensions/mv3/user_interface/index.md
Labels: extensions

#7446 Update for per-item privacy policy.
  site/en/docs/webstore/cws-dashboard-privacy/index.md
  site/en/docs/webstore/publish/index.md
  site/en/docs/webstore/troubleshooting/index.md
Labels: content, Chrome-Web-Store

#7397 Updated Offscreen page
  site/en/docs/extensions/reference/offscreen/index.md
Labels: extensions

#7452 Fix naming and linking issues surrounding single purpose policy.
  redirects.yaml
  site/_data/docs/extensions/toc.yml
  site/en/blog/extension-side-panel-launch/index.md
  site/en/docs/extensions/mv3/getstarted/extensions-101/index.md
  site/en/docs/extensions/mv3/permission_warnings/index.md
  site/en/docs/extensions/mv3/quality_guidelines/index.md
  site/en/docs/webstore/best_practices/index.md
  site/en/docs/webstore/program-policies/index.njk
  site/en/docs/webstore/program-policies/quality-guidelines/index.md
  site/en/docs/webstore/troubleshooting/index.md
Labels: extensions

#7407 Update date on storage and cookies article
  site/en/docs/extensions/mv3/storage-and-cookies/index.md
Labels: extensions

#7374 Add fullscreen popup OT article
  site/en/blog/fullscreen-popups-origin-trial/index.md
Labels: DO NOT MERGE

#7459 Make this tutorial consistent with others.
  site/en/docs/extensions/mv3/getstarted/tut-tabs-manager/index.md
Labels: extensions

#7423 Add Storage and Cookies doc to What's New
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#7337 DevTools 118: @property, overrides, search, and workspace
  site/en/docs/devtools/css/reference/index.md
  site/en/docs/devtools/customize/index.md
  site/en/docs/devtools/network/reference/index.md
  site/en/docs/devtools/overrides/index.md
  site/en/docs/devtools/search/index.md
  site/en/docs/devtools/workspaces/index.md
Labels: DO NOT MERGE, devtools, Medium

#7383 DevTools 118: Rendering > prefers-reduced-transparency
  site/en/docs/devtools/rendering/emulate-css/index.md
Labels: DO NOT MERGE, devtools, Small

#7492 What's new in DevTools 119
  site/en/_partials/devtools/whats-new.md
  site/en/blog/new-in-devtools-118/index.md
  site/en/blog/new-in-devtools-119/index.md
Labels: P1, Medium

#7507 DevTools > Network: queueing vs stalled clarification
  site/en/docs/devtools/network/reference/index.md
Labels: bug, P1, Small

#7482 Add isUrlFilterCaseSensitive change to What's New
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#7508 Add callout about percentage rollout and new users
  site/en/docs/extensions/migrating/publish-mv3/index.md
Labels: extensions

#7263 Rough in 'Support and feedback' section.
  redirects.yaml
  site/_data/docs/extensions/toc.yml
  site/_data/i18n/docs/extensions.yml
  site/en/docs/extensions/support-feedback/file-a-bug/index.md
  site/en/docs/extensions/support-feedback/find-a-bug/index.md
  site/en/docs/extensions/support-feedback/getHelp/index.md
  site/en/docs/extensions/support-feedback/index.md
  site/en/docs/extensions/support-feedback/submit-a-feature-request/index.md
Labels: extensions

#7479 Add documentation on testing Chrome Extensions
  site/_data/docs/extensions/toc.yml
  site/en/docs/extensions/mv3/end-to-end-testing/index.md
  site/en/docs/extensions/mv3/tut_puppeteer-testing/index.md
  site/en/docs/extensions/mv3/unit-testing/index.md
Labels: extensions

#7523 Move permissions policy to articles
  redirects.yaml
  site/_data/docs/privacy-sandbox/toc.yml
  site/en/articles/permissions-policy/index.md
Labels: DO NOT MERGE

#7496 Remove aside from Commands API
  site/en/docs/extensions/reference/commands/index.md
Labels: extensions

#7532 Fix typo `function` is `func`
  site/en/docs/extensions/mv3/manifest/activeTab/index.md
Labels: extensions

#7548 Add requires policy tag
  external/build/lib/dts-parse.js
  site/_includes/macros/render-type.njk
  types/site/_data/types.d.ts
Labels: extensions

#7502 Copyedits to Cookies reference
  site/en/docs/extensions/reference/cookies/index.md
Labels: extensions

#7558 Update Known issues
  site/en/docs/extensions/migrating/known-issues/index.md
Labels: extensions

#7500 What's Happening October edition
  site/en/blog/extension-news-october-2023/index.md
Labels: extensions

#7566 Update date of What's happening in extensions
  site/en/blog/extension-news-october-2023/index.md
Labels: extensions

#7567 Update extensions What's New page with blog and DNR changes
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#7177 Add theme categories to web store docs.
  site/en/docs/extensions/mv3/themes/index.md
  site/en/docs/webstore/best_practices/index.md
Labels: Chrome-Web-Store

#7559 Split CWS publish article
  site/_data/docs/webstore/toc.yml
  site/en/docs/webstore/prepare/index.md
  site/en/docs/webstore/publish/index.md
  site/en/docs/webstore/register/index.md
  site/en/docs/webstore/set-up-account/index.md
Labels: Chrome-Web-Store

#7596 Add What's New on testing documentation
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#7249 Updated declare_permissions
  site/en/docs/extensions/mv3/declare_permissions/index.md
Labels: extensions

#7643 Fix feature detection.
  site/en/docs/extensions/reference/offscreen/index.md
Labels: extensions

#7501 Updated Action reference
  site/en/docs/extensions/reference/action/index.md
Labels: extensions

#7655 Mention Ephemeral mode in minimum_chrome_version docs
  site/en/docs/extensions/mv3/manifest/minimum_chrome_version/index.md
Labels: extensions

#7664 Replace Chrome OS with enterprise in description of ephemeral mode
  site/en/docs/extensions/mv3/manifest/minimum_chrome_version/index.md
Labels: extensions

#7666 Add What's New for Matt Frisbie interview video
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#7343 Updated Messaging page
  site/en/docs/extensions/mv3/messaging/index.md
Labels: extensions

#7648 Split CWS Manage Store listing
  site/_data/docs/webstore/toc.yml
  site/en/docs/extensions/migrating/publish-mv3/index.md
  site/en/docs/webstore/check-review/index.md
  site/en/docs/webstore/cws-dashboard-listing/index.md
  site/en/docs/webstore/manage/index.md
  site/en/docs/webstore/metrics/index.md
  site/en/docs/webstore/support-users/index.md
Labels: extensions, Chrome-Web-Store

#7669 Move policy related FAQs to webstore/program-policies/
  redirects.yaml
  site/_data/docs/webstore/toc.yml
  site/en/docs/webstore/best_listing/index.md
  site/en/docs/webstore/cws-dashboard-distribution/index.md
  site/en/docs/webstore/cws-dashboard-listing/index.md
  site/en/docs/webstore/cws-dashboard-privacy/index.md
  site/en/docs/webstore/program-policies/affiliate-ads-faq/index.md
  site/en/docs/webstore/program-policies/deceptive-installation-tactics-faq/index.md
  site/en/docs/webstore/program-policies/deceptive-installation-tactics/index.md
  site/en/docs/webstore/program-policies/index.njk
  site/en/docs/webstore/program-policies/play_edu_tos/index.md
  site/en/docs/webstore/program-policies/privacy/index.md
  site/en/docs/webstore/program-policies/spam-and-abuse/index.md
  site/en/docs/webstore/program-policies/spam-faq/index.md
  site/en/docs/webstore/program-policies/terms/index.md
  site/en/docs/webstore/program-policies/trader-disclosure/index.md
  site/en/docs/webstore/program-policies/user-data-faq/index.md
  site/en/docs/webstore/set-up-account/index.md
  site/en/docs/webstore/update/index.md
Labels: extensions, Chrome-Web-Store

#7676 fix: remove redundant "update" in index.md
  site/en/docs/extensions/mv3/tut_debugging/index.md
Labels: extensions

#7691 Add What's New item on Privacy Policy change
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#7689 CWS internationalize refactor
  site/_data/docs/webstore/toc.yml
  site/en/docs/extensions/reference/i18n/index.md
  site/en/docs/webstore/best_listing/index.md
  site/en/docs/webstore/cws-dashboard-distribution/index.md
  site/en/docs/webstore/cws-dashboard-listing/index.md
  site/en/docs/webstore/faq/index.md
  site/en/docs/webstore/i18n/index.md
  site/en/docs/webstore/images/index.md
Labels: extensions, Chrome-Web-Store

#2091 Updated refs to renamed features
  site/en/docs/devtools/memory-problems/index.md
Labels: content update, devtools

#7635 DevTools 119, @property
  site/en/docs/devtools/console/reference/index.md
  site/en/docs/devtools/css/reference/index.md
  site/en/docs/devtools/issues/index.md
Labels: P2, Small
