Repository GoogleChrome/developer.chrome.com, pull requests merged in 2023-09, with the labels that each got.

#7224 Update chrome testing page
  site/en/docs/privacy-sandbox/chrome-testing/index.md
Labels: DO NOT MERGE

#7190 Add a blog post about GSoC & Chrome Extensions
  site/_data/authorsData.json
  site/_data/i18n/authors.yaml
  site/en/blog/google-summer-of-code-and-chrome-extensions/index.md
Labels: extensions

#7216 Updated Native Messaging
  site/en/docs/extensions/mv3/nativeMessaging/index.md
Labels: extensions

#7000 Add remote hosted code guide
  site/en/docs/extensions/migrating/improve-security/index.md
Labels: extensions

#7264 Add platform APIs to the list of supported technologies.
  site/en/docs/extensions/mv3/getstarted/extensions-101/index.md
Labels: extensions

#7197 Update "Override Chrome pages"
  site/en/docs/extensions/mv3/override/index.md
Labels: extensions

#7265 Fix FAQ's low-hanging fruit
  site/en/docs/extensions/mv3/faq/index.md
Labels: extensions

#7135 DevTools 117: Local overrides. New workflow and xhr/fetch support
  site/en/docs/devtools/overrides/index.md
Labels: P2, DO NOT MERGE, Medium

#7308 Web extensions mv3 promises - changed 'many apis' to 'most apis'
  site/en/docs/extensions/mv3/intro/mv3-overview/index.md
Labels: extensions

#7304 What's new in DevTools 118
  site/en/blog/new-in-devtools-117/index.md
  site/en/blog/new-in-devtools-118/index.md
  site/en/docs/devtools/workspaces/index.md
Labels: P1, Medium

#7311 Fix code sample in GA4 tutorial
  site/en/docs/extensions/mv3/tut_analytics/index.md
Labels: extensions

#7203 DevTools 117: Performance and Sources upds
  site/en/docs/devtools/issues/index.md
  site/en/docs/devtools/javascript/reference/index.md
  site/en/docs/devtools/performance/reference/index.md
Labels: P2, DO NOT MERGE, devtools, Small

#7338 add post
  site/_includes/layouts/devsite-home.njk
  site/_static/static/dcc/chrome-for-devs-thumb.png
  site/en/blog/we-are-chrome-for-developers/index.md
Labels: DO NOT MERGE

#7305 update origin trial info
  site/en/_partials/privacy-sandbox/ar-engage.md
  site/en/_partials/privacy-sandbox/ar-get-updates.md
  site/en/_partials/privacy-sandbox/ar-join-discussion-long.md
  site/en/_partials/privacy-sandbox/detect-features.md
  site/en/_partials/privacy-sandbox/fledge-api-next.md
  site/en/_partials/privacy-sandbox/ot-end.md
  site/en/_partials/privacy-sandbox/ps-implementation-status.md
  site/en/_partials/privacy-sandbox/timeline/attribution-reporting-features.md
  site/en/_partials/privacy-sandbox/timeline/chips.md
  site/en/_partials/privacy-sandbox/timeline/fenced-frames-features.md
  site/en/_partials/privacy-sandbox/timeline/fenced-frames.md
  site/en/_partials/privacy-sandbox/timeline/private-aggregation-features.md
  site/en/_partials/privacy-sandbox/timeline/shared-storage.md
  site/en/_partials/privacy-sandbox/timeline/topics.md
  site/en/_partials/privacy-sandbox/topics-feedback.md
  site/en/docs/privacy-sandbox/aggregation-service/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-data-clearing/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-debugging/part-1/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-debugging/part-3/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-experiment/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-migration/index.md
  site/en/docs/privacy-sandbox/attribution-reporting-updates/index.md
  site/en/docs/privacy-sandbox/attribution-reporting/chrome-shipping/index.md
  site/en/docs/privacy-sandbox/attribution-reporting/index.md
  site/en/docs/privacy-sandbox/attribution-reporting/summary-reports/index.md
  site/en/docs/privacy-sandbox/attribution-reporting/system-overview/index.md
  site/en/docs/privacy-sandbox/attribution-reporting/understanding-noise/index.md
  site/en/docs/privacy-sandbox/attribution-reporting/working-with-noise/index.md
  site/en/docs/privacy-sandbox/chips/index.md
  site/en/docs/privacy-sandbox/faq/index.md
  site/en/docs/privacy-sandbox/fedcm-developer-guide/index.md
  site/en/docs/privacy-sandbox/fedcm-updates/index.md
  site/en/docs/privacy-sandbox/fedcm/index.md
  site/en/docs/privacy-sandbox/fenced-frame/index.md
  site/en/docs/privacy-sandbox/overview/index.md
  site/en/docs/privacy-sandbox/permissions-policy/index.md
  site/en/docs/privacy-sandbox/private-aggregation-experiment/index.md
  site/en/docs/privacy-sandbox/private-aggregation-fundamentals/index.md
  site/en/docs/privacy-sandbox/private-aggregation/index.md
  site/en/docs/privacy-sandbox/proposal-lifecycle/index.md
  site/en/docs/privacy-sandbox/protected-audience-api/ad-auction/index.md
  site/en/docs/privacy-sandbox/protected-audience-api/index.md
  site/en/docs/privacy-sandbox/protected-audience-api/opt-out/index.md
  site/en/docs/privacy-sandbox/protected-audience-api/reports/index.md
  site/en/docs/privacy-sandbox/protected-audience-experiment/index.md
  site/en/docs/privacy-sandbox/protected-audience/index.md
  site/en/docs/privacy-sandbox/summary-reports/design-decisions/index.md
  site/en/docs/privacy-sandbox/summary-reports/index.md
  site/en/docs/privacy-sandbox/topics-experiment/index.md
  site/en/docs/privacy-sandbox/topics/demo/index.md
  site/en/docs/privacy-sandbox/topics/index.md
  site/en/docs/privacy-sandbox/topics/integration-guide/index.md
  site/en/docs/privacy-sandbox/topics/latest/index.md
  site/en/docs/privacy-sandbox/topics/topic-classification/index.md
  site/en/docs/privacy-sandbox/unified-origin-trial/index.md
  site/en/docs/privacy-sandbox/user-agent/index.md
Labels: DO NOT MERGE

#7376 Remove old extensions samples page and redirect to new one
  redirects.yaml
  site/_data/docs/extensions/toc.yml
  site/en/docs/extensions/mv3/samples/index.md
Labels: extensions

#7247 Refactor 'Improve extension security'.
  site/en/docs/extensions/migrating/improve-security/index.md
Labels: extensions

#7368 Bulk update from '関連性と測定' to '広告関連'
  site/ja/blog/announce-enrollment-privacy-sandbox/index.md
  site/ja/blog/bidding-and-auction-services-availability/index.md
  site/ja/blog/expanding-privacy-sandbox-testing/index.md
  site/ja/blog/fledge-api/index.md
  site/ja/blog/fledge-service-overview/index.md
  site/ja/blog/generate-summary-reports/index.md
  site/ja/blog/privacy-sandbox-origin-trial-increase/index.md
  site/ja/blog/privacy-sandbox-unified-origin-trial/index.md
  site/ja/blog/progress-in-the-privacy-sandbox-2022-04/index.md
  site/ja/blog/progress-in-the-privacy-sandbox-2022-06/index.md
  site/ja/blog/shipping-privacy-sandbox/index.md
  site/ja/docs/privacy-sandbox/attribution-reporting-experiment/index.md
  site/ja/docs/privacy-sandbox/attribution-reporting-updates/index.md
  site/ja/docs/privacy-sandbox/attribution-reporting/system-overview/index.md
  site/ja/docs/privacy-sandbox/fledge-api/index.md
  site/ja/docs/privacy-sandbox/fledge-experiment/index.md
  site/ja/docs/privacy-sandbox/fledge/index.md
  site/ja/docs/privacy-sandbox/topics-experiment/index.md
  site/ja/docs/privacy-sandbox/topics/index.md
Labels: translation

#6968 Add documentation on storage partitioning and partitioned cookies
  site/_data/docs/extensions/toc.yml
  site/en/docs/extensions/mv3/declare_permissions/index.md
  site/en/docs/extensions/mv3/storage-and-cookies/index.md
  site/en/docs/extensions/reference/cookies/index.md
  site/en/docs/extensions/reference/storage/index.md
  site/en/docs/privacy-sandbox/storage-partitioning/index.md
Labels: extensions, docs

#7387 Add information about active debugger sessions and SWs.
  site/en/docs/extensions/mv3/service_workers/service-worker-lifecycle/index.md
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions
