Repository GoogleChrome/developer.chrome.com, pull requests merged in 2023-05, with the labels that each got.

#5992 Add note to submitJob() example.
  site/en/docs/extensions/reference/printing/index.md
Labels: extensions

#5966 Added message passing example to tabs API page
  site/en/docs/extensions/reference/tabs/index.md
Labels: extensions

#5935 Add background blur blog post
  site/en/blog/background-blur/index.md
Labels: DO NOT MERGE

#5743 [ext] New Getting Started tutorial (extension service worker)
  site/_data/docs/extensions/toc.yml
  site/_data/i18n/authors.yaml
  site/en/docs/extensions/mv3/getstarted/tut-quick-reference/index.md
  site/en/docs/privacy-sandbox/attribution-reporting/index.md
Labels: extensions

#5995 DevTools: Local overrides
  site/_data/docs/devtools/toc.yml
  site/_data/i18n/tags.yml
  site/en/docs/devtools/network/reference/index.md
  site/en/docs/devtools/overrides/index.md
  site/en/docs/devtools/workspaces/index.md
Labels: DO NOT MERGE, devtools, Medium

#6053 DevTools 113: CSS improvements
  site/en/docs/devtools/css/issues/index.md
  site/en/docs/devtools/css/reference/index.md
Labels: P2, devtools, Small

#6065 DevTools 113: Console settings upds
  site/en/docs/devtools/settings/preferences/index.md
Labels: P2, devtools, Small

#6188 New in chrome 113
  site/en/blog/new-in-chrome-113/index.md
Labels: DO NOT MERGE

#6200 Surface DNR limits in top-level documentation
  site/en/docs/extensions/reference/declarativeNetRequest/index.md
Labels: extensions

#6105 Add back/forward buttons to (blog) articles
  site/_includes/layouts/blog-post.njk
  site/_includes/partials/post-navigation.njk
  site/_scss/blocks/_post-navigation.scss
  site/_scss/layouts/single-post.scss
Labels: eng - UI, eng

#6147 Add scroll-driven animations article
  site/en/articles/scroll-driven-animations/index.md
Labels: content

#6178 [ext-doc] New SidePanel API documentation
  site/en/docs/extensions/mv3/architecture-overview/index.md
  site/en/docs/extensions/reference/sidePanel/index.md
Labels: extensions, extensions-reference

#6207 What's new in DevTools 114
  site/en/_partials/devtools/whats-new.md
  site/en/blog/new-in-devtools-114/index.md
Labels: P0, devtools, Medium

#6211 Fix typo
  site/en/docs/extensions/migrating/checklist/index.md
Labels: extensions

#6185 Corrections from external feedback to SW explainer.
  site/en/docs/extensions/mv3/service_workers/events/index.md
  site/en/docs/extensions/mv3/service_workers/service-worker-lifecycle/index.md
Labels: extensions

#6241 [ext-doc] Fix code block for SW basics article
  site/en/docs/extensions/mv3/service_workers/basics/index.md
Labels: extensions, cla: yes

#6240 Add notice about media capture article to 'What's new'.
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#6242 Update CRX known issues page
  redirects.yaml
  site/en/docs/extensions/migrating/known-issues/index.md
  site/en/docs/extensions/mv3/known-issues/index.md
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#6258 [cws] Update best practices
  site/en/docs/webstore/best_practices/index.md
  site/en/docs/webstore/program-policies/quality-guidelines/index.md
Labels: extensions

#6256 DevTools autofill post
  site/en/blog/devtools-autofill/index.md
Labels: DO NOT MERGE

#6279 [ext-doc] Add link to MV3 Migration guide
  site/en/docs/extensions/migrating/mv2-sunset/index.md
Labels: extensions

#6288 [cws-doc] Policy updates
  site/en/docs/webstore/program-policies/best-practices/index.md
  site/en/docs/webstore/program-policies/quality-guidelines/index.md
Labels: extensions, Chrome-Web-Store

#6201 feature: added description to enum types
  external/build/lib/dts-parse.js
  site/_includes/macros/render-type.njk
  site/_scss/blocks/_code-sections.scss
Labels: extensions

#6317 Make a bulleted list complete
  site/en/docs/extensions/mv3/content_scripts/index.md
Labels: extensions

#6309 [ext-doc] Update sidePanel aside
  site/en/docs/extensions/reference/sidePanel/index.md
Labels: extensions

#6295 Update example code: setupOffscreenDocument
  site/en/docs/extensions/reference/offscreen/index.md
Labels: extensions

#5931 [ext-docs] Add filenames to code samples
  site/en/docs/extensions/mv3/content_scripts/index.md
  site/en/docs/extensions/mv3/i18n-messages/index.md
  site/en/docs/extensions/mv3/messaging/index.md
Labels: extensions

#5091 Add Blockbench case study
  site/_data/authorsData.json
  site/_data/i18n/authors.yaml
  site/en/blog/how-blockbench-uses-the-eyedropper-api/index.md
Labels: DO NOT MERGE

#6306 [ext-doc] Convert XMLHttpRequest to fetch()
  site/en/docs/extensions/mv3/content_scripts/index.md
  site/en/docs/extensions/mv3/security/index.md
Labels: extensions

#6406 Native Messaging page mv3 cleanup
  site/en/docs/extensions/mv3/nativeMessaging/index.md
Labels: extensions

#6403 Cross Origin Opener Policy page cleanup
  site/en/docs/extensions/mv3/manifest/cross_origin_opener_policy/index.md
Labels: extensions

#6421 DevTools Tips 22: Workspaces, promo post
  site/en/blog/devtools-tips-22/index.md
Labels: P0, devtools

#6383 DevTools 114: Recorder assertions
  site/en/docs/devtools/recorder/index.md
  site/en/docs/devtools/recorder/reference/index.md
Labels: P1, devtools, Small

#6432 docs imply that you can get the value in the storage.set promise fulfillment. you can't.
  site/en/docs/extensions/reference/storage/index.md
Labels: extensions

#6453 Help test bounce tracking mitigations blog post
  site/_data/authorsData.json
  site/_data/i18n/authors.yaml
  site/en/blog/bounce-tracking-mitigations-dev-trial/index.md
Labels: DO NOT MERGE, docs, content, privacy-sandbox

#6454 [cws] Update Quality guidelines and policy best practices
  site/en/docs/webstore/program-policies/best-practices/index.md
  site/en/docs/webstore/program-policies/quality-guidelines/index.md
Labels: DO NOT MERGE, Chrome-Web-Store

#6180 [ext-docs] SidePanel API related docs
  site/en/docs/extensions/mv3/architecture-overview/index.md
  site/en/docs/extensions/mv3/declare_permissions/index.md
  site/en/docs/extensions/mv3/manifest/index.md
  site/en/docs/extensions/mv3/user_interface/index.md
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#6452 [ext-doc] Add Web Authentication Proxy API reference page
  site/en/docs/extensions/mv3/declare_permissions/index.md
  site/en/docs/extensions/mv3/permission_warnings/index.md
  site/en/docs/extensions/reference/webAuthenticationProxy/index.md
Labels: extensions, extensions-reference

#6398 Added new manifest key page for background
  site/en/docs/extensions/mv3/manifest/background/index.md
  site/en/docs/extensions/mv3/manifest/index.md
Labels: extensions

#6456 115 beta post
  site/en/blog/chrome-115-beta/index.md
Labels: DO NOT MERGE

#6399 Commands reference page mv2 cleanup
  site/en/docs/extensions/reference/commands/index.md
Labels: extensions
