Repository GoogleChrome/developer.chrome.com, pull requests merged in 2023-08, with the labels that each got.

#6799 Add documentation for using Google Analytics with Chrome Web Store
  site/_data/docs/webstore/toc.yml
  site/en/docs/webstore/google-analytics/index.md
  site/en/docs/webstore/manage/index.md
Labels: extensions, Chrome-Web-Store

#6651 Update index.md
  site/en/articles/css-nesting/index.md
Labels: cla: yes

#6975 Update attribution-reporting-features.md
  site/en/_partials/privacy-sandbox/timeline/attribution-reporting-features.md
Labels: DO NOT MERGE

#6980 Remove mv2 links from chrome.experimental.
  site/en/docs/extensions/reference/experimental/index.md
Labels: extensions

#6921 Overhaul documentation for declarative net request
  site/en/docs/extensions/reference/declarativeNetRequest/index.md
Labels: extensions

#6996 Update to MV3 language
  site/en/docs/extensions/reference/windows/index.md
Labels: extensions-reference

#7010 Add new item to CWS troubleshooting.
  site/en/docs/webstore/troubleshooting/index.md
Labels: Chrome-Web-Store

#7015 Whatsnew
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#7008 Clarify when execution of DNR rules is undefined behaviour
  site/en/docs/extensions/reference/declarativeNetRequest/index.md
Labels: extensions

#7012 Add aside to Alarms API
  site/en/docs/extensions/reference/alarms/index.md
Labels: extensions, DO NOT MERGE

#6981 Add Content_script manifest key
  site/en/docs/extensions/mv3/manifest/content_scripts/index.md
  site/en/docs/extensions/mv3/manifest/index.md
Labels: extensions

#7034 Deprecating unload blog post
  site/_data/i18n/authors.yaml
  site/en/blog/deprecating-unload/index.md
Labels: P0, content

#7036 Remove quotations from manifest key false values
  site/en/docs/extensions/mv3/manifest/content_scripts/index.md
Labels: extensions

#7037 Revise Extension branding guidelines.
  site/en/docs/webstore/branding/index.md
Labels: Chrome-Web-Store

#6992 Restructure CWS best practices
  site/en/docs/webstore/best_practices/index.md
Labels: Chrome-Web-Store

#7053 Add link from migration guide to new dNR content.
  site/en/docs/extensions/migrating/blocking-web-requests/index.md
Labels: extensions

#6943 Improve match patterns and add host permissions section to permissions
  site/en/docs/extensions/mv3/declare_permissions/index.md
  site/en/docs/extensions/mv3/match_patterns/index.md
Labels: extensions

#6755 DevTools 116: Stylesheet debugging + moved linear easing support
  site/en/docs/devtools/css/reference/index.md
  site/en/docs/devtools/issues/index.md
  site/en/docs/devtools/sources/index.md
Labels: P2, devtools, Small

#7099 Add blog post on adding safety check to chrome://extensions
  site/en/blog/extension-safety-hub/index.md
Labels: extensions

#7029 Add extension sample list page
  external/build/extension-samples.js
  external/testdata/extension-samples.json
  gulp-tasks/sass.js
  package-lock.json
  package.json
  rollup.config.js
  site/_data/docs/extensions/toc.yml
  site/_data/extensionSamples.js
  site/_data/i18n/extension_samples.yml
  site/_includes/partials/extension-sample-item.njk
  site/_js/extension-samples.js
  site/_scss/blocks/_extension-sample-item.scss
  site/_scss/layouts/extension-samples.scss
  site/en/docs/extensions/samples/index.njk
  types/site/_collections/extensionSamples.d.ts
Labels: extensions

#7138 Update an image
  site/en/docs/webstore/register/index.md
Labels: Chrome-Web-Store

#7024 Add example for roll printing
  site/en/docs/extensions/reference/printing/index.md
Labels: extensions, DO NOT MERGE

#7137 Update dNR article for enabling static rules.
  site/en/docs/extensions/reference/declarativeNetRequest/index.md
Labels: extensions

#7151 Mention that percentage rollout only appears for new drafts
  site/en/docs/webstore/update/index.md
Labels: extensions, Chrome-Web-Store

#7139 Add info about URL blocking changes to 'What's new'.
  site/en/docs/extensions/whatsnew/index.md
Labels: extensions

#7142 Added clarification to what "activeTab" allows.
  site/en/docs/extensions/mv3/manifest/activeTab/index.md
Labels: extensions

#7132 Fix typo in declarativeNetRequest API
  site/en/docs/extensions/reference/declarativeNetRequest/index.md
Labels: extensions

#7154 Update date and remove wrong header in extension permissions
  site/en/docs/extensions/mv3/declare_permissions/index.md
Labels: extensions

#7153 Add new category text.
  site/en/docs/webstore/best_practices/index.md
  site/en/docs/webstore/discovery/index.md
Labels: extensions, Chrome-Web-Store

#7171 Adds scheduler.yield origin trial post.
  site/_data/authorsData.json
  site/_data/i18n/authors.yaml
  site/en/blog/introducing-scheduler-yield-origin-trial/index.md
Labels: P0, content

#7176 Add a more reasonable link for colors.
  site/en/docs/extensions/mv3/themes/index.md
Labels: extensions

#7175 Quick formatting fixes
  site/en/docs/extensions/mv3/override/index.md
Labels: extensions

#7196 Fixes link to scheduler.yield demo source code.
  site/en/blog/introducing-scheduler-yield-origin-trial/index.md
Labels: P2, content update

#7163 DevTools > Protocol monitor: New command editor, engineering post
  site/_data/authorsData.json
  site/_data/i18n/authors.yaml
  site/en/blog/cdp-command-editor/index.md
Labels: P2, devtools-eng, Medium

#7212 Fix links to point to new extension samples page
  site/en/docs/extensions/mv3/devtools/index.md
  site/en/docs/extensions/mv3/index.md
  site/en/docs/extensions/mv3/override/index.md
  site/en/docs/extensions/reference/cookies/index.md
  site/en/docs/extensions/reference/debugger/index.md
  site/en/docs/extensions/reference/devtools_network/index.md
  site/en/docs/extensions/reference/i18n/index.md
Labels: extensions

#7209 DevTools Tips 26: Snippets and live expressions promo post
  site/en/blog/devtools-tips-26/index.md
  site/en/docs/devtools/console/live-expressions/index.md
Labels: P1, DO NOT MERGE, devtools, Small

#7178 Update 'Welcome to Manifest V3'
  site/en/docs/extensions/mv3/intro/index.md
Labels: extensions
